Repository wundergraph/cosmo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Cosmo, @wundergraph/Router, @StarpTech, @JivusAyrus, @endigma, @Aenimus, @wilsonrivera, @Noroth, @thisisnithin, @devsergiy, @alepane21

fix: toggle ui logic and search to consider all operations (#1982)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/check/createIgnoreOverridesForAllOperations.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/toggleChangeOverridesForAllOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/db/models.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/operations.tsx
Owners: @JivusAyrus, @wilsonrivera, @StarpTech, @Aenimus

fix: toggle ui logic and search to consider all operations (#1982)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/check/createIgnoreOverridesForAllOperations.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/toggleChangeOverridesForAllOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/db/models.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/operations.tsx
Owners: @JivusAyrus, @wilsonrivera, @StarpTech, @Aenimus

fix: reflect optional
  router/core/graph_server.go
Owners: @Noroth, @devsergiy, @StarpTech

fix: review comments
  router/core/graph_server.go
  router/internal/circuit/manager.go
  router/pkg/metric/circuitbreaker.go
Owners: @Noroth, @devsergiy, @StarpTech

fix: review comments
  router/core/graph_server.go
Owners: @Noroth, @devsergiy, @StarpTech

feat: improve namespace selector
  .run/GQLMetrics E2E.run.xml
  cli/src/utils.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphById.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphs.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  shared/test/router.config.test.ts
  shared/test/testdata/utils.ts
  studio/src/components/app-provider.tsx
  studio/src/components/dashboard/namespace-badge.tsx
  studio/src/components/dashboard/workspace-provider.tsx
  studio/src/components/dashboard/workspace-selector.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/ui/skeleton.tsx
  studio/src/hooks/use-workspace.ts
  studio/src/pages/[organizationSlug]/cache-warmer.tsx
  studio/src/pages/[organizationSlug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/policies.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Owners: @wundergraph/Cosmo, @wundergraph/Router, @endigma, @JivusAyrus, @StarpTech, @wilsonrivera, @Aenimus

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Cosmo @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @StarpTech

admission-server @JivusAyrus @StarpTech  
cdn-server @JivusAyrus @StarpTech
cli @endigma @JivusAyrus @StarpTech
composition @Aenimus @JivusAyrus @StarpTech
composition-go @Aenimus @JivusAyrus @StarpTech
connect @Aenimus @JivusAyrus @StarpTech 
connect-go @Aenimus @JivusAyrus @StarpTech
controlplane @JivusAyrus @wilsonrivera @StarpTech
data_migrations @JivusAyrus @wilsonrivera @StarpTech
graphqlmetrics @Noroth @StarpTech
helm @Noroth @StarpTech
infrastructure @Noroth @StarpTech
keycloak @JivusAyrus @wilsonrivera @StarpTech
otelcollector @Noroth @StarpTech
playground @wundergraph/Router @thisisnithin @StarpTech
proto @JivusAyrus @wilsonrivera @StarpTech
protographic @Noroth @StarpTech
# Same owner for router and tests to avoid requesting too many reviewers
router @Noroth @devsergiy @StarpTech
router-tests @Noroth @devsergiy @StarpTech
router-plugin @Noroth @StarpTech
shared @Aenimus @JivusAyrus @StarpTech
studio @JivusAyrus @wilsonrivera @StarpTech
# Cosmo Streams / EDFS
router/pkg/pubsub @alepane21 @StarpTech
