Repository wundergraph/cosmo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Cosmo, @wundergraph/Router, @StarpTech, @JivusAyrus, @endigma, @jensneuse, @Aenimus, @wilsonrivera, @Noroth, @thisisnithin, @devsergiy, @alepane21

chore: add StreamHookError to allow error response customization from the hook
  rfc/cosmo-streams-v1.md
Owners: @wundergraph/Cosmo, @wundergraph/Router

chore: tmp engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: add more details and an example with kafka
  rfc/cosmo-streams-v1.md
Owners: @wundergraph/Cosmo, @wundergraph/Router

chore: add an example on how to use the metadata field
  rfc/cosmo-streams-v1.md
Owners: @wundergraph/Cosmo, @wundergraph/Router

fix: ignore marshal error
  rfc/cosmo-streams-v1.md
Owners: @wundergraph/Cosmo, @wundergraph/Router

chore: extend demo
  demo/pkg/subgraphs/projects/cmd/service/main.go
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/data/employee.go
  demo/pkg/subgraphs/projects/src/data/milestones.go
  demo/pkg/subgraphs/projects/src/data/products.go
  demo/pkg/subgraphs/projects/src/data/project_updates.go
  demo/pkg/subgraphs/projects/src/data/projects.go
  demo/pkg/subgraphs/projects/src/data/tasks.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

feat: expose variables in OperationContext interface
  router/core/context.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: add test
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router/go.mod
  router/go.sum
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: tmp engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: tmp engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

refactor(cli): improve gRPC service commands code quality and maintainability
  cli/src/commands/grpc-service/commands/generate.ts
  cli/src/commands/grpc-service/commands/init.ts
  cli/src/commands/grpc-service/commands/list-templates.ts
  cli/src/commands/grpc-service/utils/github-client.ts
Owners: @endigma, @JivusAyrus, @StarpTech, @jensneuse

chore: add test to verify OperationContext
  router-tests/modules/verify-operation-context-values/module.go
  router-tests/modules/verify_operation_context_values_test.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: update engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: remove useless else
  router-tests/modules/verify-operation-context-values/module.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

feat: add Variables to OperationContext (#2045)
  router-tests/modules/verify-operation-context-values/module.go
  router-tests/modules/verify_operation_context_values_test.go
  router/core/context.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

feat: add Variables to OperationContext (#2045)
  router-tests/modules/verify-operation-context-values/module.go
  router-tests/modules/verify_operation_context_values_test.go
  router/core/context.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: improvements
  demo/pkg/subgraphs/projects/src/service/service.go
Owners: @wundergraph/Cosmo, @wundergraph/Router

fix: cleanup
  router-tests/go.mod
  router-tests/go.sum
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

fix: security updates
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

fix: regenerate demo subgraphs
  demo/pkg/subgraphs/availability/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/availability/subgraph/generated/generated.go
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/family/subgraph/generated/generated.go
  demo/pkg/subgraphs/family/subgraph/model/models_gen.go
  demo/pkg/subgraphs/family/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/generated/generated.go
  demo/pkg/subgraphs/hobbies/subgraph/model/models_gen.go
  demo/pkg/subgraphs/hobbies/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/generated/generated.go
  demo/pkg/subgraphs/mood/subgraph/model/models_gen.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/generated/generated.go
  demo/pkg/subgraphs/products_fg/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products_fg/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
Owners: @wundergraph/Cosmo, @wundergraph/Router

fix: security updates (#2036)
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/availability/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/availability/subgraph/generated/generated.go
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/family/subgraph/generated/generated.go
  demo/pkg/subgraphs/family/subgraph/model/models_gen.go
  demo/pkg/subgraphs/family/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/generated/generated.go
  demo/pkg/subgraphs/hobbies/subgraph/model/models_gen.go
  demo/pkg/subgraphs/hobbies/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/generated/generated.go
  demo/pkg/subgraphs/mood/subgraph/model/models_gen.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/generated/generated.go
  demo/pkg/subgraphs/products_fg/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products_fg/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

fix: security updates (#2036)
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/availability/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/availability/subgraph/generated/generated.go
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/family/subgraph/generated/generated.go
  demo/pkg/subgraphs/family/subgraph/model/models_gen.go
  demo/pkg/subgraphs/family/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/generated/generated.go
  demo/pkg/subgraphs/hobbies/subgraph/model/models_gen.go
  demo/pkg/subgraphs/hobbies/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/generated/generated.go
  demo/pkg/subgraphs/mood/subgraph/model/models_gen.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/generated/generated.go
  demo/pkg/subgraphs/products_fg/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products_fg/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: more improvements
  demo/pkg/subgraphs/projects/src/service/service.go
Owners: @wundergraph/Cosmo, @wundergraph/Router

fix: gomod updates
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

fix: demo updated
  router-tests/go.mod
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: address feedback, add CLAUDE.md
  CLAUDE.md
  cli/src/commands/grpc-service/commands/list-templates.ts
  cli/src/commands/grpc-service/utils/github-client.ts
Owners: @wundergraph/Cosmo, @wundergraph/Router, @endigma, @JivusAyrus, @StarpTech, @jensneuse

wip: oci plugins
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  demo/deploy.sh
  demo/docker/availability.Dockerfile
  demo/docker/countries.Dockerfile
  demo/docker/employees.Dockerfile
  demo/docker/family.Dockerfile
  demo/docker/hobbies.Dockerfile
  demo/docker/mood.Dockerfile
  demo/docker/products.Dockerfile
  demo/docker/products_fg.Dockerfile
  demo/docker/test1.Dockerfile
  demo/pkg/subgraphs/projects/Dockerfile
  demo/pkg/subgraphs/projects/justfile
  demo/pkg/subgraphs/projects/src/data/projects.go
  docker-compose.full.yml
  proto/wg/cosmo/node/v1/node.proto
  router/__schemas/configWithPlugins.json
  router/core/graph_server.go
  router/debug.config.yaml
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/go.mod
  router/go.sum
  router/pkg/grpcconnector/connector.go
  router/pkg/grpcconnector/grpc_plugin_command.go
  router/pkg/grpcconnector/grpccommon/command_opts.go
  router/pkg/grpcconnector/grpccommon/command_opts_linux.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_logger.go
  router/pkg/grpcconnector/grpccommon/thin_plugin.go
  router/pkg/grpcconnector/grpcplugin/grpc_plugin.go
  router/pkg/grpcconnector/grpcplugin/grpc_plugin_test.go
  router/pkg/grpcconnector/grpcpluginoci/grpc_oci_plugin.go
  router/pkg/grpcconnector/grpcpluginoci/grpc_oci_plugin_test.go
  router/pkg/grpcconnector/grpcpluginoci/image_source.go
  router/pkg/grpcconnector/grpcpluginoci/image_unpack.go
  router/pkg/grpcconnector/grpcpluginoci/prepare.go
  router/pkg/grpcconnector/grpcremote/grpc_remote.go
  router/pkg/grpcconnector/provider.go
Owners: @JivusAyrus, @wilsonrivera, @StarpTech, @Aenimus, @jensneuse, @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy

remove extra router config
  router/__schemas/configWithPlugins.json
  router/debug.config.yaml
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

Remove image field from plugin configuration
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Owners: @JivusAyrus, @wilsonrivera, @StarpTech, @Aenimus, @jensneuse, @Noroth, @devsergiy

chore: update test responses
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: fix tsc
  cli/src/commands/grpc-service/utils/github-client.ts
Owners: @endigma, @JivusAyrus, @StarpTech, @jensneuse

fix: go.mod references to security merge commit (#2048)
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

fix: go.mod references to security merge commit (#2048)
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: address feedback
  cli/src/commands/grpc-service/commands/init.ts
  cli/src/commands/grpc-service/commands/list-templates.ts
  cli/src/commands/grpc-service/utils/github-client.ts
Owners: @endigma, @JivusAyrus, @StarpTech, @jensneuse

Downgrade go-containerregistry, go version back to 1.23
  router/go.mod
  router/go.sum
  router/pkg/grpcconnector/grpccommon/command_opts_linux.go
  router/pkg/grpcconnector/grpcpluginoci/image_source.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

feat: support nullable types and composite types (#2047)
  demo/pkg/subgraphs/projects/cmd/service/main.go
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/data/employee.go
  demo/pkg/subgraphs/projects/src/data/milestones.go
  demo/pkg/subgraphs/projects/src/data/products.go
  demo/pkg/subgraphs/projects/src/data/project_updates.go
  demo/pkg/subgraphs/projects/src/data/projects.go
  demo/pkg/subgraphs/projects/src/data/tasks.go
  demo/pkg/subgraphs/projects/src/main_test.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

feat: support nullable types and composite types (#2047)
  demo/pkg/subgraphs/projects/cmd/service/main.go
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/data/employee.go
  demo/pkg/subgraphs/projects/src/data/milestones.go
  demo/pkg/subgraphs/projects/src/data/products.go
  demo/pkg/subgraphs/projects/src/data/project_updates.go
  demo/pkg/subgraphs/projects/src/data/projects.go
  demo/pkg/subgraphs/projects/src/data/tasks.go
  demo/pkg/subgraphs/projects/src/main_test.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Owners: @wundergraph/Cosmo, @wundergraph/Router, @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: add PublishEventConfiguration, ProviderType and specialized event types
  router-tests/.tool-versions
  router/pkg/pubsub/datasource/provider.go
  router/pkg/pubsub/kafka/adapter.go
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/kafka/engine_datasource_factory.go
  router/pkg/pubsub/kafka/engine_datasource_factory_test.go
  router/pkg/pubsub/kafka/engine_datasource_test.go
  router/pkg/pubsub/nats/adapter.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource_factory.go
  router/pkg/pubsub/nats/engine_datasource_factory_test.go
  router/pkg/pubsub/nats/engine_datasource_test.go
  router/pkg/pubsub/redis/adapter.go
  router/pkg/pubsub/redis/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource_factory.go
  router/pkg/pubsub/redis/engine_datasource_factory_test.go
  router/pkg/pubsub/redis/engine_datasource_test.go
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse, @alepane21

chore: remove local file
  router-tests/.tool-versions
Owners: @Noroth, @devsergiy, @StarpTech, @jensneuse

chore: use ProviderID()
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource.go
Owners: @alepane21, @StarpTech, @jensneuse

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Cosmo @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @StarpTech

admission-server @JivusAyrus @StarpTech
cdn-server @JivusAyrus @StarpTech
cli @endigma @JivusAyrus @StarpTech @jensneuse
composition @Aenimus @JivusAyrus @StarpTech
composition-go @Aenimus @JivusAyrus @StarpTech @jensneuse
connect @Aenimus @JivusAyrus @StarpTech @jensneuse
connect-go @Aenimus @JivusAyrus @StarpTech @jensneuse
controlplane @JivusAyrus @wilsonrivera @StarpTech
data_migrations @JivusAyrus @wilsonrivera @StarpTech
graphqlmetrics @Noroth @StarpTech
helm @Noroth @StarpTech
infrastructure @Noroth @StarpTech
keycloak @JivusAyrus @wilsonrivera @StarpTech
otelcollector @Noroth @StarpTech
playground @wundergraph/Router @thisisnithin @StarpTech
proto @JivusAyrus @wilsonrivera @StarpTech
protographic @Noroth @StarpTech
# Same owner for router and tests to avoid requesting too many reviewers
router @Noroth @devsergiy @StarpTech @jensneuse
router-tests @Noroth @devsergiy @StarpTech @jensneuse
router-plugin @Noroth @StarpTech
shared @Aenimus @JivusAyrus @StarpTech
studio @JivusAyrus @wilsonrivera @StarpTech
# Cosmo Streams / EDFS
router/pkg/pubsub @alepane21 @StarpTech @jensneuse
