Repository wundergraph/cosmo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wundergraph/Cosmo, @wundergraph/Router, @StarpTech, @JivusAyrus, @endigma, @jensneuse, @Aenimus, @wilsonrivera, @Noroth, @thisisnithin, @devsergiy, @alepane21

.github/CODEOWNERS:

# Give everyone ownership for everything expections listed below
* @wundergraph/Cosmo @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @StarpTech

admission-server @JivusAyrus @StarpTech
cdn-server @JivusAyrus @StarpTech
cli @endigma @JivusAyrus @StarpTech @jensneuse
composition @Aenimus @JivusAyrus @StarpTech
composition-go @Aenimus @JivusAyrus @StarpTech @jensneuse
connect @Aenimus @JivusAyrus @StarpTech @jensneuse
connect-go @Aenimus @JivusAyrus @StarpTech @jensneuse
controlplane @JivusAyrus @wilsonrivera @StarpTech
data_migrations @JivusAyrus @wilsonrivera @StarpTech
graphqlmetrics @Noroth @StarpTech
helm @Noroth @StarpTech
infrastructure @Noroth @StarpTech
keycloak @JivusAyrus @wilsonrivera @StarpTech
otelcollector @Noroth @StarpTech
playground @wundergraph/Router @thisisnithin @StarpTech
proto @JivusAyrus @wilsonrivera @StarpTech
protographic @Noroth @StarpTech
# Same owner for router and tests to avoid requesting too many reviewers
router @Noroth @devsergiy @StarpTech @jensneuse
router-tests @Noroth @devsergiy @StarpTech @jensneuse
router-plugin @Noroth @StarpTech
shared @Aenimus @JivusAyrus @StarpTech
studio @JivusAyrus @wilsonrivera @StarpTech
# Cosmo Streams / EDFS
router/pkg/pubsub @alepane21 @StarpTech @jensneuse

chore: update demo to use no Event structure
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
Owners: @wundergraph/Cosmo, @wundergraph/Router

fix: align event configuration format
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource.go
Owners: @alepane21, @StarpTech, @jensneuse

fix: update MarshalJSONTemplate for new internal event format
  router/pkg/pubsub/kafka/engine_datasource_test.go
  router/pkg/pubsub/nats/engine_datasource_test.go
  router/pkg/pubsub/redis/engine_datasource_test.go
Owners: @alepane21, @StarpTech, @jensneuse

chore: remove duplicated test
  router/pkg/pubsub/nats/engine_datasource_test.go
Owners: @alepane21, @StarpTech, @jensneuse

chore: improve naming
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/kafka/engine_datasource_factory.go
  router/pkg/pubsub/kafka/engine_datasource_test.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource_factory.go
  router/pkg/pubsub/nats/engine_datasource_test.go
  router/pkg/pubsub/redis/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource_factory.go
  router/pkg/pubsub/redis/engine_datasource_test.go
Owners: @alepane21, @StarpTech, @jensneuse

fix: Fix broken doc links
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/schema/empty-schema-state.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/changelog/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/schema.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Owners: @JivusAyrus, @wilsonrivera, @StarpTech
