Repository wundergraph/cosmo, changes with the labels that .github/labeler.yml gives for each.
All labels: studio, monorepo, cli, router, connect, protocol, controlplane, graphqlmetrics, aws-lambda-router

.github/labeler.yml:

studio:
  - "studio/**/*"
monorepo:
  - "pnpm-lock.yaml"
  - "pnpm-workspace.yaml"
  - "package.json"
  - "Makefile"
cli:
  - "cli/**/*"
router:
  - "router/**/*"
connect:
  - "connect/**/*"
protocol:
  - "proto/**/*"
controlplane:
  - "controlplane/**/*"
graphqlmetrics:
  - "graphqlmetrics/**/*"
aws-lambda-router:
  - "aws-lambda-router/**/*"

chore: improve error handling
  router-tests/events_test.go
  router-tests/websocket_test.go
Labels: none

chore: improve error handling
  router-tests/authentication_test.go
Labels: none

chore: improve error handling
  router-tests/authentication_test.go
Labels: none

fix: show subgraphs in the graph view after the creation itself
  controlplane/src/core/bufservices/PlatformService.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Labels: studio, controlplane

chore: improve error handling
  router/core/graphql_handler.go
Labels: router

chore: improve ratelimit reporting
  router-tests/ratelimit_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/graphql_handler.go
  router/core/ratelimiter.go
  router/core/router.go
  router/core/websocket.go
  router/pkg/config/config.go
Labels: router

chore: make all tests parallel
  router-tests/authentication_test.go
  router-tests/events_test.go
  router-tests/headers_test.go
  router-tests/integration_test.go
  router-tests/jwks/jwks.go
  router-tests/persisted_operations_test.go
  router-tests/ratelimit_test.go
  router-tests/singleflight_test.go
  router-tests/websocket_test.go
Labels: none

chore: fix lint
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
Labels: none

chore: return 200 ok for rate limit & authorization errors
  router-tests/authentication_test.go
  router-tests/ratelimit_test.go
  router/core/graphql_handler.go
  router/core/router.go
  router/pkg/config/config.go
Labels: router

feat: distributed rate limiting (#499)
  .github/workflows/router-ci.yaml
  go.work
  router-tests/authentication_test.go
  router-tests/events_test.go
  router-tests/headers_test.go
  router-tests/integration_test.go
  router-tests/jwks/jwks.go
  router-tests/persisted_operations_test.go
  router-tests/ratelimit_test.go
  router-tests/singleflight_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/authorizer.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/ratelimiter.go
  router/core/request_tracing.go
  router/core/router.go
  router/core/websocket.go
  router/core/websocket_stats.go
  router/go.mod
  router/go.sum
  router/internal/docker/roundtripper_test.go
  router/internal/pubsub/nats.go
  router/pkg/config/config.go
  router/pkg/cors/cors_test.go
Labels: router

feat: distributed rate limiting (#499)
  .github/workflows/router-ci.yaml
  go.work
  router-tests/authentication_test.go
  router-tests/events_test.go
  router-tests/headers_test.go
  router-tests/integration_test.go
  router-tests/jwks/jwks.go
  router-tests/persisted_operations_test.go
  router-tests/ratelimit_test.go
  router-tests/singleflight_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/authorizer.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/ratelimiter.go
  router/core/request_tracing.go
  router/core/router.go
  router/core/websocket.go
  router/core/websocket_stats.go
  router/go.mod
  router/go.sum
  router/internal/docker/roundtripper_test.go
  router/internal/pubsub/nats.go
  router/pkg/config/config.go
  router/pkg/cors/cors_test.go
Labels: router

feat(helm): support existing secrets
  helm/cosmo/charts/cdn/CHART.md
  helm/cosmo/charts/cdn/templates/_helpers.tpl
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/cdn/templates/secret.yaml
  helm/cosmo/charts/cdn/values.yaml
  helm/cosmo/charts/controlplane/CHART.md
  helm/cosmo/charts/controlplane/templates/_helpers.tpl
  helm/cosmo/charts/controlplane/templates/clickhouse-migration.yaml
  helm/cosmo/charts/controlplane/templates/database-migration.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/organization-seed.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/charts/graphqlmetrics/CHART.md
  helm/cosmo/charts/graphqlmetrics/templates/_helpers.tpl
  helm/cosmo/charts/graphqlmetrics/templates/deployment.yaml
  helm/cosmo/charts/graphqlmetrics/templates/secret.yaml
  helm/cosmo/charts/graphqlmetrics/values.yaml
  helm/cosmo/charts/otelcollector/CHART.md
  helm/cosmo/charts/otelcollector/templates/_helpers.tpl
  helm/cosmo/charts/otelcollector/templates/deployment.yaml
  helm/cosmo/charts/otelcollector/templates/secret.yaml
  helm/cosmo/charts/otelcollector/values.yaml
  helm/cosmo/charts/router/CHART.md
  helm/cosmo/charts/router/templates/_helpers.tpl
  helm/cosmo/charts/router/templates/deployment.yaml
  helm/cosmo/charts/router/templates/secret.yaml
  helm/cosmo/charts/router/values.yaml
Labels: none

feat(helm): support existing secrets (#512)
  helm/cosmo/charts/cdn/CHART.md
  helm/cosmo/charts/cdn/templates/_helpers.tpl
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/cdn/templates/secret.yaml
  helm/cosmo/charts/cdn/values.yaml
  helm/cosmo/charts/controlplane/CHART.md
  helm/cosmo/charts/controlplane/templates/_helpers.tpl
  helm/cosmo/charts/controlplane/templates/clickhouse-migration.yaml
  helm/cosmo/charts/controlplane/templates/database-migration.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/organization-seed.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/charts/graphqlmetrics/CHART.md
  helm/cosmo/charts/graphqlmetrics/templates/_helpers.tpl
  helm/cosmo/charts/graphqlmetrics/templates/deployment.yaml
  helm/cosmo/charts/graphqlmetrics/templates/secret.yaml
  helm/cosmo/charts/graphqlmetrics/values.yaml
  helm/cosmo/charts/otelcollector/CHART.md
  helm/cosmo/charts/otelcollector/templates/_helpers.tpl
  helm/cosmo/charts/otelcollector/templates/deployment.yaml
  helm/cosmo/charts/otelcollector/templates/secret.yaml
  helm/cosmo/charts/otelcollector/values.yaml
  helm/cosmo/charts/router/CHART.md
  helm/cosmo/charts/router/templates/_helpers.tpl
  helm/cosmo/charts/router/templates/deployment.yaml
  helm/cosmo/charts/router/templates/secret.yaml
  helm/cosmo/charts/router/values.yaml
Labels: none

feat(helm): support existing secrets (#512)
  helm/cosmo/charts/cdn/CHART.md
  helm/cosmo/charts/cdn/templates/_helpers.tpl
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/cdn/templates/secret.yaml
  helm/cosmo/charts/cdn/values.yaml
  helm/cosmo/charts/controlplane/CHART.md
  helm/cosmo/charts/controlplane/templates/_helpers.tpl
  helm/cosmo/charts/controlplane/templates/clickhouse-migration.yaml
  helm/cosmo/charts/controlplane/templates/database-migration.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/organization-seed.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/charts/graphqlmetrics/CHART.md
  helm/cosmo/charts/graphqlmetrics/templates/_helpers.tpl
  helm/cosmo/charts/graphqlmetrics/templates/deployment.yaml
  helm/cosmo/charts/graphqlmetrics/templates/secret.yaml
  helm/cosmo/charts/graphqlmetrics/values.yaml
  helm/cosmo/charts/otelcollector/CHART.md
  helm/cosmo/charts/otelcollector/templates/_helpers.tpl
  helm/cosmo/charts/otelcollector/templates/deployment.yaml
  helm/cosmo/charts/otelcollector/templates/secret.yaml
  helm/cosmo/charts/otelcollector/values.yaml
  helm/cosmo/charts/router/CHART.md
  helm/cosmo/charts/router/templates/_helpers.tpl
  helm/cosmo/charts/router/templates/deployment.yaml
  helm/cosmo/charts/router/templates/secret.yaml
  helm/cosmo/charts/router/values.yaml
Labels: none

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Labels: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Labels: router

feat: router fleet management
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  go.work.sum
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  router/cmd/instance.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/graphqlmetrics/exporter.go
  router/pkg/config/config.go
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metrics.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/prometheus_server.go
  router/pkg/otel/attributes.go
  router/pkg/trace/vars.go
  studio/package.json
  studio/src/components/analytics/data-table.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio, monorepo, router, connect, protocol, controlplane

chore: improve
  controlplane/clickhouse/migrations/20240210203003_router_metrics_1_30.sql
  controlplane/clickhouse/migrations/20240210203043_router_gauge_metrics_1_30_mv.sql
  controlplane/clickhouse/migrations/20240210203044_router_sum_metrics_1_30_mv.sql
  controlplane/clickhouse/migrations/20240211005350_router_uptime_1_30.sql
  controlplane/clickhouse/migrations/20240211005352_router_uptime_1_30_mv.sql
  controlplane/src/core/repositories/analytics/RouterMetricsRepository.ts
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
  router/pkg/metric/request_measurements.go
  router/pkg/metric/runtime_metrics.go
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio, router, controlplane

chore: improve
  router/core/router.go
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio, router

chore: improve
  router/pkg/metric/runtime_metrics.go
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio, router

chore: improve
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio

chore: improve
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio

chore: improve
  router/pkg/metric/runtime_metrics.go
Labels: router

chore: improve
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/requestlogger/requestlogger.go
  router/pkg/cors/cors_test.go
  router/pkg/metric/prometheus_server.go
  router/pkg/trace/middleware_test.go
Labels: router, graphqlmetrics

feat: operation check overrides
  cli/src/commands/subgraph/commands/check.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0079_dashing_hitman.sql
  controlplane/migrations/meta/0079_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/trace.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/ui/sheet.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
Labels: studio, cli, connect, protocol, controlplane

update
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
Labels: none
