Repository wundergraph/cosmo, changes with the labels that .github/labeler.yml gives for each.
All labels: studio, monorepo, cli, router, connect, protocol, controlplane, graphqlmetrics

fix: fix tem_mates demo resolver
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
Labels: none

chore: add demos directory as trigger for router-ci workflow
  .github/workflows/router-ci.yaml
Labels: none

fix: fix team_mates demo resolver (#211)
  .github/workflows/router-ci.yaml
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
Labels: none

fix: fix team_mates demo resolver (#211)
  .github/workflows/router-ci.yaml
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
Labels: none

feat: add support for header forwarding with websocket requests
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/runner/runner.go
  router-tests/runner/runner_unix.go
  router-tests/websocket_test.go
  router/core/transport.go
Labels: router

test: add tests for header forwarding
  router-tests/headers_test.go
Labels: none

feat: build images for linux/arm64
  .github/workflows/images-ci.yaml
Labels: none

chore: pass both platforms to docker/build-push-action
  .github/workflows/images-ci.yaml
Labels: none

fix: don't test with race detector on linux/arm64 while building image
  router/Dockerfile
  router/Makefile
Labels: router

fix: use right arch when downloading OCB binary
  otelcollector/Dockerfile
  otelcollector/scripts/install_ocb.sh
Labels: none

fix: typo
  .github/workflows/image-release.yml
  otelcollector/Dockerfile
Labels: none

fix: typo
  otelcollector/scripts/install_ocb.sh
Labels: none

fix: move logic for test selection during docker build to Makefile
  router/Dockerfile
  router/Makefile
Labels: router

fix: test while building graphqlmetrics image
  graphqlmetrics/Dockerfile
  graphqlmetrics/Makefile
  router/Dockerfile
  router/Makefile
Labels: router, graphqlmetrics

feat: operation checks (breaking change detection)
  .run/controlplane.run.xml
  cli/package.json
  cli/src/commands/subgraph/commands/check.ts
  cli/src/core/config.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0049_oval_tombstone.sql
  controlplane/migrations/meta/0049_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/composition/schemaCheck.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  graphqlmetrics/metrics_service.go
  graphqlmetrics/migrations/20231010143332_graphql_schema_usage_table.sql
  graphqlmetrics/migrations/20231010143333_graphql_schema_usage_table_5m_90d.sql
  graphqlmetrics/migrations/20231010143334_graphql_metrics_schema_usage_5m_90d_mv.sql
  package.json
  pnpm-lock.yaml
  proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.proto
  proto/wg/cosmo/platform/v1/platform.proto
  router-tests/go.mod
  router-tests/go.sum
  router/core/operation_metrics.go
  router/core/operation_planner.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/go.mod
  router/go.sum
Labels: monorepo, cli, router, connect, protocol, controlplane, graphqlmetrics

chore: upgrade router engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

chore(demo): fix full demo
  Makefile
  docker-compose.full.yml
Labels: monorepo

chore: improve
  Makefile
Labels: monorepo

chore(demo): fix full demo (#215)
  docker-compose.full.yml
Labels: none

chore(demo): fix full demo (#215)
  docker-compose.full.yml
Labels: none

.github/labeler.yml:

studio:
  - "studio/**/*"
monorepo:
  - "pnpm-lock.yaml"
  - "pnpm-workspace.yaml"
  - "package.json"
  - "Makefile"
cli:
  - "cli/**/*"
router:
  - "router/**/*"
connect:
  - "connect/**/*"
protocol:
  - "proto/**/*"
controlplane:
  - "controlplane/**/*"
graphqlmetrics:
  - "graphqlmetrics/**/*"
