Repository wundergraph/cosmo, pull requests merged in 2023-09, with the labels that each got.

#47 fix: fix migration issues
  composition/src/ast/ast.ts
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/subgraph/subgraph.ts
  composition/src/utils/constants.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/tests/federation-factory.test.ts
  composition/tests/utils/utils.ts
  composition/tests/v2-directives.test.ts
  router/go.mod
  router/go.sum
  shared/test/__snapshots__/router.config.test.ts.snap
Labels: router

#48 feat: implement live-, readi-ness handlers
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/charts/router/values.yaml
  helm/cosmo/values.full.yaml
  router/Makefile
  router/cmd/main.go
  router/pkg/app/app.go
  router/pkg/config/config.go
  router/pkg/controlplane/configfetcher.go
  router/pkg/handler/health/health.go
  router/pkg/handler/health/health_test.go
Labels: router

#50 feat: simplify OnOriginResponse hook
  router/cmd/custom/module/module.go
  router/core/modules.go
  router/core/transport.go
Labels: router

#52 fix: changelog date overflow
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
Labels: studio

#44 feat: add introspect subgraph command
  cli/src/commands/subgraph/commands/introspect.ts
  cli/src/commands/subgraph/index.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/services/IntrospectSubgraph.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  router/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  router/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
Labels: controlplane, cli, protocol, connect, router

#53 feat: introspect subgraphs in cli
  cli/src/commands/subgraph/commands/introspect.ts
  cli/src/commands/subgraph/utils.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/services/IntrospectSubgraph.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  router/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  router/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
Labels: controlplane, cli, protocol, connect, router

#54 feat: router compose command
  cli/package.json
  cli/src/commands/federated-graph/index.ts
  cli/src/commands/index.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/router/index.ts
  cli/src/commands/subgraph/commands/introspect.ts
  cli/src/utils.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#55 fix: update engine to support schema extension without body
  router/go.mod
  router/go.sum
Labels: router

#37 feat: use new engine resolver
  .gitignore
  demo/run.sh
  demo/run_subgraphs.sh
  router/cmd/main.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/config/config.go
  scripts/bench-create.sh
  scripts/bench-delete.sh
  scripts/bench-router.sh
  scripts/bench-update.sh
  scripts/demo-router.sh
Labels: router

#41 feat: migrate from cli-table to cli-table3
  cli/package.json
  cli/src/commands/federated-graph/commands/check.ts
  cli/src/commands/federated-graph/commands/create.ts
  cli/src/commands/federated-graph/commands/list.ts
  cli/src/commands/federated-graph/commands/update.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#58 fix: improve compose command input
  cli/src/commands/router/commands/compose.ts
Labels: cli

#60 chore: add script that uses published cli
  Makefile
  README.md
  scripts/create-cli-demo.sh
Labels: monorepo

#51 feat: use materialized views for traces
  .github/workflows/images-ci.yaml
  Makefile
  README.md
  controlplane/.env.example
  controlplane/Dockerfile
  controlplane/README.md
  controlplane/clickhouse/migrations/20230825095359_traces_mv.sql
  controlplane/clickhouse/migrations/20230910193138_traces_by_operation_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230910200148_traces_by_client_mv.sql
  controlplane/clickhouse/migrations/20230910201357_traces_by_http_status_code_mv.sql
  controlplane/package.json
  controlplane/router.config.json
  controlplane/src/bin/ch-migrate.ts
  controlplane/src/bin/db-migrate.ts
  controlplane/src/core/migrate.ts
  controlplane/src/core/plugins/database.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  docker-compose.cosmo.yml
  docker-compose.full.yml
  docker-compose.yml
  docs/migrations.md
  helm/README.md
  helm/cosmo/charts/clickhouse/templates/deployment.yaml
  helm/cosmo/charts/clickhouse/templates/service.yaml
  helm/cosmo/charts/clickhouse/values.yaml
  helm/cosmo/charts/controlplane/templates/clickhouse-migration.yaml
  helm/cosmo/charts/controlplane/templates/database-migration.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/organization-seed.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/charts/otelcollector/templates/deployment.yaml
  helm/cosmo/values.full.yaml
Labels: monorepo, controlplane

#62 chore: add package manager version
  package.json
Labels: monorepo

#63 fix: router docs dialog
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio

#65 fix: labels of the migrated graphs
  controlplane/src/core/services/ApolloMigrator.ts
Labels: controlplane

#70 fix: avoid excessive error logs in session handler
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/errors/errors.ts
Labels: controlplane

#72 fix: reduce error logs
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  otelcollector/otel-config.yaml
Labels: controlplane

#66 feat: webhooks
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  connect/src/wg/cosmo/webhooks/events_pb.ts
  controlplane/migrations/0040_flippant_drax.sql
  controlplane/migrations/0040_mute_diamondback.sql
  controlplane/migrations/meta/0040_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
  controlplane/src/core/webhooks/utils.ts
  controlplane/src/db/schema.ts
  controlplane/src/index.ts
  controlplane/src/types/index.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  proto/wg/cosmo/webhooks/events.proto
  router/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  router/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  router/gen/proto/wg/cosmo/webhooks/events.pb.go
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/ui/form.tsx
  studio/src/components/ui/label.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio, monorepo, controlplane, protocol, connect, router

#77 fix: api key last used update
  controlplane/src/core/services/ApiKeyAuthenticator.ts
Labels: controlplane

#78 feat: enable client compression for metrics and traces
  router/internal/metric/agent.go
  router/internal/trace/agent.go
Labels: router

#79 feat: implement backoff jitter retry mechanism
  router/cmd/main.go
  router/core/context.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/router.go
  router/core/transport.go
  router/go.mod
  router/go.sum
  router/internal/config/config.go
  router/internal/retrytransport/retry_transport.go
  router/internal/retrytransport/retry_transport_test.go
Labels: router

#75 fix: use relative path to read subgraph schema
  cli/src/commands/router/commands/compose.ts
Labels: cli

#80 feat: only log system errors as errors
  controlplane/src/core/controllers/auth.ts
Labels: controlplane

#82 feat(config): support configuration of graphql path
  router/cmd/main.go
  router/core/router.go
  router/internal/config/config.go
Labels: router

#83 fix: add handlers to the custom transport / throw error on invalid cfg path
  router/core/transport.go
  router/internal/config/config.go
Labels: router

#85 fix: address __typename and fragment engine issues
  router/go.mod
  router/go.sum
Labels: router

#87 feat: make request timeout configurable
  router/cmd/main.go
  router/core/router.go
  router/core/transport.go
  router/internal/config/config.go
Labels: router

#89 fix: only redirect to login when user is actually logged out
  studio/src/components/app-provider.tsx
Labels: studio

#88 fix: don't poll when static router config is provided
  router/core/router.go
Labels: router

#97 fix: composition false flag
  composition/src/federation/federation-factory.ts
  router/go.mod
  router/go.sum
Labels: router

#96 fix: improve session redirect
  studio/src/components/app-provider.tsx
Labels: studio

#100 chore: update engine (inline fragment fix)
  router/go.mod
  router/go.sum
Labels: router

#95 feat: add login command
  cli/package.json
  cli/src/commands/auth/commands/login.ts
  cli/src/commands/auth/index.ts
  cli/src/commands/auth/user-config.ts
  cli/src/commands/auth/utils.ts
  cli/src/commands/federated-graph/index.ts
  cli/src/commands/index.ts
  cli/src/commands/router/index.ts
  cli/src/commands/subgraph/index.ts
  cli/src/core/config.ts
  cli/src/utils.ts
  cli/tsconfig.json
  controlplane/src/core/build-server.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/types/index.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane, cli

#101 fix: update realm json and modify config
  cli/src/commands/auth/utils.ts
  cli/src/core/config.ts
  docker/keycloak/realm.json
  helm/cosmo/charts/keycloak/templates/realm-config-map.yml
Labels: cli

#103 feat: changelog pagination
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
Labels: studio, controlplane, protocol, connect

#106 feat: add logout command
  cli/src/commands/auth/commands/login.ts
  cli/src/commands/auth/commands/logout.ts
  cli/src/commands/auth/index.ts
  cli/src/commands/auth/user-config.ts
  cli/src/commands/index.ts
  cli/src/utils.ts
Labels: cli

#107 chore: bump graphql-go-tools to 20230922
  router/go.mod
  router/go.sum
Labels: router

#99 feat: advanced analytics
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/prometheus/client.ts
  controlplane/src/core/prometheus/types.ts
  controlplane/src/core/repositories/analytics/MetricsDashboardRepository.ts
  controlplane/src/core/routes.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/barlist.tsx
  studio/src/components/analytics/charts.tsx
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/delta-badge.tsx
  studio/src/components/analytics/toolbar.tsx
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/info-tooltip.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/components/operations-overview.tsx
  studio/src/components/ui/badge.tsx
  studio/src/components/ui/button.tsx
  studio/src/components/ui/copy-button.tsx
  studio/src/components/ui/spacer.tsx
  studio/src/hooks/use-event-callback.ts
  studio/src/hooks/use-event-listener.ts
  studio/src/hooks/use-isomorphic-layout-effect.ts
  studio/src/hooks/use-session-storage.ts
  studio/src/lib/insights-helpers.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/[traceID].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/_app.tsx
  studio/src/styles/globals.css
  studio/tailwind.config.js
Labels: studio, monorepo, controlplane, protocol, connect

#111 fix(router): pass timeout correctly to the transport
  router/core/router.go
Labels: router

#113 fix: metrics repository and ui
  controlplane/src/core/repositories/analytics/MetricsDashboardRepository.ts
  studio/src/components/layout/title-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/styles/globals.css
Labels: studio, controlplane

#114 feat: add composition library for Go
  .github/workflows/composition-ci.yaml
  composition-go/README.md
  composition-go/composition.go
  composition-go/composition_test.go
  composition-go/generate.sh
  composition-go/go.mod
  composition-go/go.sum
  composition-go/index.global.js
  composition-go/shim/.gitignore
  composition-go/shim/package.json
  composition-go/shim/src/index.ts
  composition-go/shim/tsconfig.json
  composition-go/shim/tsup.config.ts
  composition-go/vm_goja.go
  composition-go/vm_v8.go
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: monorepo

#116 feat(router): make subgraph transport timeouts configurable
  router/cmd/main.go
  router/core/graphql_handler.go
  router/core/router.go
  router/internal/config/config.go
Labels: router

#115 fix: improved analytics queries and output
  controlplane/src/core/repositories/analytics/MetricsDashboardRepository.ts
  studio/src/components/analytics/barlist.tsx
  studio/src/components/analytics/constructAnalyticsTableQueryState.ts
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/analytics/useSyncTableWithQuery.ts
  studio/src/components/info-tooltip.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks.tsx
Labels: studio, controlplane

#108 feat: expand environmental variables in config.yaml
  router/internal/config/config.go
Labels: router

#118 feat(controlplane): use datetime formatted logs
  controlplane/src/core/build-server.ts
Labels: controlplane

#117 feat: implement get changelog cli command
  cli/package.json
  cli/src/commands/federated-graph/commands/changelog.ts
  cli/src/commands/federated-graph/index.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/toolbar.tsx
  studio/src/components/date-picker-with-range.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks.tsx
Labels: studio, monorepo, controlplane, cli, protocol, connect

#120 fix: range in error query
  controlplane/src/core/repositories/analytics/MetricsDashboardRepository.ts
Labels: controlplane

#124 fix: sanitize migrated graph label
  controlplane/src/core/services/ApolloMigrator.ts
  controlplane/src/core/util.ts
Labels: controlplane

#119 feat: support being a part of multiple organizations
  controlplane/migrations/0041_rapid_argent.sql
  controlplane/migrations/0042_colorful_obadiah_stane.sql
  controlplane/migrations/meta/0041_snapshot.json
  controlplane/migrations/meta/0042_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  studio/src/components/app-provider.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/nav.tsx
  studio/src/components/user-menu.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Labels: studio, controlplane

#126 fix: update engine to address representation issues
  router/go.mod
  router/go.sum
Labels: router

#127 fix: fixed issue where expired session would cause redirect loop
  studio/src/components/app-provider.tsx
Labels: studio

#129 fix: remove member
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#125 fix: click on analaytics row menu opens trace view
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/getColumnData.tsx
  studio/src/components/ui/dialog.tsx
  studio/src/components/ui/dialog2.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks.tsx
Labels: studio

#128 feat: add 1 and 4 hour ranges, refresh button and minor improvements
  controlplane/src/core/repositories/analytics/MetricsDashboardRepository.ts
  studio/src/components/analytics/delta-badge.tsx
  studio/src/components/analytics/toolbar.tsx
  studio/src/components/info-tooltip.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
Labels: studio, controlplane

#131 fix: update engine to address entity array issues
  router/go.mod
  router/go.sum
Labels: router

#133 fix: use correct range for error rate queries
  controlplane/src/core/repositories/analytics/MetricsDashboardRepository.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
Labels: studio, controlplane

#134 fix: fixed issue where tracing elements would render on top of the page header
  studio/src/components/analytics/trace.tsx
Labels: studio

#136 fix: track graphql errors in metrics
  router/core/router.go
Labels: router

#132 fix: add dive validation to Subgraphs field of HeaderRules config struct
  router/internal/config/config.go
Labels: router

#139 fix: collect request metrics as early as possible
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/internal/metric/store.go
Labels: router

#141 fix: store operation Hash and Name correctly
  router/core/graphql_prehandler.go
Labels: router

#138 feat: improve trail version banner and handle trial version expiry
  cli/src/commands/federated-graph/commands/fetch.ts
  cli/src/commands/federated-graph/commands/list.ts
  cli/src/commands/subgraph/commands/list.ts
  connect/src/wg/cosmo/common/common_pb.ts
  controlplane/package.json
  controlplane/src/core/build-server.ts
  controlplane/src/core/errors/errors.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/util.ts
  controlplane/src/types/index.ts
  pnpm-lock.yaml
  proto/wg/cosmo/common/common.proto
  router/gen/proto/wg/cosmo/common/common.pb.go
  studio/package.json
  studio/src/components/app-provider.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/nav.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/lib/utils.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/_app.tsx
Labels: studio, monorepo, controlplane, cli, protocol, connect, router

#112 feat: implement leave and delete organization
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/app-provider.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio, controlplane, protocol, connect

#142 fix: set CORS header before passing through
  router/internal/handler/cors/config.go
Labels: router

#143 fix: add operation attrs to request latency metric
  router/core/graphql_prehandler.go
Labels: router
