Repository wundergraph/cosmo, pull requests merged in 2023-10, with the labels that each got.

#147 fix: flickering issue on change of orgs
  controlplane/package.json
  pnpm-lock.yaml
  shared/package.json
  studio/package.json
  studio/src/components/app-provider.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/nav.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/components/user-menu.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio, monorepo, controlplane

#140 feat: github app integration
  cli/package.json
  cli/src/commands/subgraph/commands/check.ts
  cli/src/github.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/.env.example
  controlplane/migrations/0043_foamy_adam_destine.sql
  controlplane/migrations/meta/0043_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/github.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/repositories/GitHubRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/db/schema.ts
  controlplane/src/index.ts
  controlplane/src/types/index.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/values.full.yaml
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/check-badge-icon.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkID].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
Labels: studio, monorepo, controlplane, cli, protocol, connect

#145 feat: handle multiple orgs in the cli
  cli/package.json
  cli/src/commands/auth/commands/login.ts
  cli/src/commands/auth/user-config.ts
  cli/src/commands/auth/utils.ts
  cli/src/core/config.ts
  cli/tsconfig.json
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane, cli

#148 fix: sdl viewer overflow
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkID].tsx
Labels: studio

#130 feat: add support for multiple OTEL exporters
  docker-compose.yml
  otelcollector/otel-config.yaml
  router/.env.example
  router/cmd/main.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/config/config.go
  router/internal/metric/agent.go
  router/internal/metric/config.go
  router/internal/otel/otelconfig/otelconfig.go
  router/internal/trace/agent.go
  router/internal/trace/agent_test.go
  router/internal/trace/config.go
Labels: router

#146 feat: implement list and delete router tokens
  cli/src/commands/federated-graph/index.ts
  cli/src/commands/router/commands/token/commands/create.ts
  cli/src/commands/router/commands/token/commands/delete.ts
  cli/src/commands/router/commands/token/commands/list.ts
  cli/src/commands/router/commands/token/index.ts
  cli/src/commands/router/index.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0044_third_gorilla_man.sql
  controlplane/migrations/meta/0044_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#144 feat: rewrite prometheus analytics to clickhouse
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/prometheus/client.ts
  controlplane/src/core/prometheus/types.ts
  controlplane/src/core/repositories/analytics/MetricsDashboardRepository.ts
  controlplane/src/core/routes.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  router/core/graphql_prehandler.go
  router/core/transport.go
  studio/src/components/analytics/barlist.tsx
  studio/src/components/info-tooltip.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
Labels: studio, monorepo, controlplane, protocol, connect, router

#149 feat: configurable webhook events
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  connect/src/wg/cosmo/webhooks/events_pb.ts
  controlplane/migrations/0045_productive_starhawk.sql
  controlplane/migrations/meta/0045_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/db/schema.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  proto/wg/cosmo/webhooks/events.proto
  studio/package.json
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio, monorepo, controlplane, protocol, connect

#154 feat: use localized dates and numbers everywhere
  studio/src/components/analytics/charts.tsx
  studio/src/components/analytics/getColumnData.tsx
  studio/src/components/date-picker-with-range.tsx
  studio/src/components/operations-overview.tsx
  studio/src/components/schema-viewer.tsx
  studio/src/lib/download-string-as-file.ts
  studio/src/lib/format-date.ts
  studio/src/lib/format-metric.ts
  studio/src/lib/format-number.ts
  studio/src/lib/format-status.ts
  studio/src/lib/insights-helpers.ts
  studio/src/lib/utils.ts
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/[traceID].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkID].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema.tsx
Labels: studio

#151 fix: update local demo script and fix the create router token cmd
  cli/src/commands/router/commands/token/commands/create.ts
  cli/src/commands/router/commands/token/commands/delete.ts
  scripts/create-cli-demo.sh
  scripts/create-local-demo.sh
Labels: cli

#150 feat: add sorting to analytics table
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/getColumnData.tsx
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/analytics/useSyncTableWithQuery.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/traces.tsx
Labels: studio, controlplane, protocol, connect

#152 feat: support subgraph router url override
  router/cmd/main.go
  router/config.yaml
  router/core/executor.go
  router/core/router.go
  router/internal/config/config.go
  shared/src/router-config/builder.ts
Labels: router

#158 feat: display router initiation command
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/index.tsx
Labels: studio, controlplane, protocol, connect

#160 feat: version metric meter
  controlplane/clickhouse/migrations/20230927211049_operation_requests_metrics_mv.sql
  controlplane/clickhouse/migrations/20230928074635_operation_latency_metrics_mv.sql
  router/internal/metric/store.go
Labels: controlplane, router

#162 fix: cli reading incorrect github sha
  cli/src/github.ts
Labels: cli

#166 fix: repository and owner slug swapped
  cli/src/commands/subgraph/commands/check.ts
Labels: cli

#170 fix: ui improvements
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/package.json
  studio/src/components/layout/layout.tsx
  studio/src/components/layout/nav.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/components/ui/alert-dialog.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkID].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio, monorepo, controlplane, protocol, connect

#169 feat: use metric data for dashboard stats
  cli/package.json
  composition-go/shim/package.json
  composition/package.json
  connect/package.json
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/clickhouse/client/interfaces/ClickHouseClientOptions.ts
  controlplane/src/core/repositories/analytics/AnalyticsDashboardViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/tsconfig.json
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/package.json
  studio/src/components/graph-visualization.tsx
  studio/src/components/operations-overview.tsx
  studio/src/components/reactflow-graph-edge.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
Labels: studio, monorepo, controlplane, cli, protocol, connect

#172 fix: extract default vars
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/go.mod
  router/go.sum
Labels: router

#173 fix: update schema and config on subgraph update
  controlplane/src/core/repositories/SubgraphRepository.ts
Labels: controlplane

#176 feat: add graphql client info to metric attributes
  router/core/graphql_prehandler.go
Labels: router

#171 fix: migration and add logs on error
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/UserRepository.ts
  controlplane/src/core/services/ApolloMigrator.ts
  controlplane/src/core/util.ts
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio, controlplane

#179 fix: usage of variables
  router-tests/integration_test.go
  router/core/graphql_handler.go
Labels: router

#178 fix: normalization error when querying location in demo
  Makefile
  router-tests/go.mod
  router-tests/go.sum
  router/config/config.go
  router/core/executor.go
  router/go.mod
  router/go.sum
Labels: monorepo, router

#180 fix: swallowed errors in Router.Shutdown()
  router/core/router.go
Labels: router

#182 feat: add schema usage info to GraphQL Handler
  router-tests/go.mod
  router-tests/go.sum
  router/core/factoryresolver.go
  router/core/graphql_handler.go
  router/go.mod
  router/go.sum
Labels: router

#187 fix: allow absolute paths for the wgc compose output file
  cli/src/commands/router/commands/compose.ts
Labels: cli

#189 fix: graphql-ws module not found
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo

#184 feat: auto ignore schema errors for check command if github is integrated
  cli/src/commands/subgraph/commands/check.ts
  cli/test/check-schema.test.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/GitHubRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#193 fix(controlplane): check array length
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Labels: controlplane

#194 chore: ignore websocket requests from traces
  router/internal/trace/utils.go
Labels: router

#195 chore: update engine branch to fix issue 167
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#201 fix: interface union planning
  demo/run_subgraphs.sh
  router-tests/go.mod
  router-tests/go.sum
  router/config/config.go
  router/core/executor.go
  router/core/graphql_handler.go
  router/go.mod
  router/go.sum
Labels: router

#199 fix: follow GraphQL over HTTP in error handling
  controlplane/clickhouse/migrations/20230825095358_traces.sql
  controlplane/clickhouse/migrations/20230825095359_traces_mv.sql
  controlplane/clickhouse/migrations/20230910193137_traces_by_operation_quarter_hourly.sql
  controlplane/clickhouse/migrations/20230910193138_traces_by_operation_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230910200147_traces_by_client.sql
  controlplane/clickhouse/migrations/20230910200148_traces_by_client_mv.sql
  controlplane/clickhouse/migrations/20230910201356_traces_by_http_status_code.sql
  controlplane/clickhouse/migrations/20230910201357_traces_by_http_status_code_mv.sql
  controlplane/clickhouse/migrations/20230927211048_operation_requests_metrics.sql
  controlplane/clickhouse/migrations/20230927211049_operation_requests_metrics_mv.sql
  controlplane/clickhouse/migrations/20230928074634_operation_latency_metrics.sql
  controlplane/clickhouse/migrations/20230928074635_operation_latency_metrics_mv.sql
  controlplane/db/schema.sql
  controlplane/package.json
  otelcollector/README.md
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/router.go
  router/core/transport.go
  router/core/websocket.go
  router/internal/otel/attributes.go
Labels: controlplane, router

#203 fix: always show top 5 in metrics overview
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
Labels: studio

#207 fix: consider request info when aggregating metrics
  router/internal/graphqlmetrics/aggregation.go
  router/internal/graphqlmetrics/aggregation_test.go
  router/internal/graphqlmetrics/exporter_test.go
Labels: router

#205 chore: address skipped tests
  composition/tests/normalization.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/health.test.ts
Labels: controlplane

#206 chore(ci): add staticcheck and go vet linter
  .github/actions/go-linter/action.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/router-ci.yaml
  Makefile
  graphqlmetrics/Makefile
  router/Makefile
  router/core/router.go
  router/internal/graphqlmetrics/exporter_test.go
  router/internal/unsafebytes/unsafebytes.go
Labels: monorepo, router, graphqlmetrics

#200 feat: add support for authentication via JWKS
  demo/go.mod
  router-tests/authentication_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/jwks/jwks.go
  router-tests/module-jwt/module_test.go
  router-tests/module-jwt/testdata/schema.graphqls
  router-tests/routerconfig/routerconfig.go
  router-tests/websocket_test.go
  router/authentication/authentication.go
  router/authentication/context.go
  router/authentication/doc.go
  router/authentication/http.go
  router/authentication/jwks.go
  router/cmd/custom-jwt/README.md
  router/cmd/custom-jwt/main.go
  router/cmd/custom-jwt/module/module.go
  router/cmd/custom/README.md
  router/cmd/main.go
  router/config/config.go
  router/core/access_controller.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
Labels: router

#209 feat: allow to exclude certain OTEL metrics and labels from prometheus export
  router/cmd/main.go
  router/config.yaml
  router/config/config.go
  router/config/marshaler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/router.go
  router/core/websocket.go
  router/internal/metric/config.go
  router/internal/metric/meter.go
  router/internal/metric/prom_registry.go
  router/internal/metric/prom_registry_test.go
  router/internal/stringsx/string.go
  router/internal/trace/meter.go
  router/internal/trace/meter_test.go
Labels: router
