Repository wundergraph/cosmo, pull requests merged in 2023-11, with the labels that each got.

#219 chore: update graphql go tools dependency
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#218 feat: add support for router config generation to composition-go
  .github/workflows/composition-ci.yaml
  .github/workflows/router-ci.yaml
  composition-go/README.md
  composition-go/composition.go
  composition-go/composition_test.go
  composition-go/generate.sh
  composition-go/go.mod
  composition-go/index.global.js
  composition-go/polyfill.go
  composition-go/shim/package.json
  composition-go/shim/src/index.ts
  composition-go/shim/src/polyfill.js
  composition-go/shim/tsup.config.ts
  composition-go/vm_goja.go
  composition-go/vm_v8.go
  pnpm-lock.yaml
  router-tests/go.mod
  router-tests/go.sum
  router-tests/module-jwt/module_test.go
  router-tests/routerconfig/routerconfig.go
Labels: monorepo

#221 fix: don't cancel metric collection on request cancellation
  docker-compose.yml
  docker/prometheus/prometheus.yml
  docker/prometheus/web.yml
  router-tests/go.sum
  router/.env.example
  router/bench.js
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/router_metrics.go
  router/core/websocket.go
Labels: router

#222 fix: don't consider dangerous change as breaking
  controlplane/src/core/composition/schemaCheck.ts
Labels: controlplane

#210 feat: add ranges to date picker
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/data-table-primary-filter-menu.tsx
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/refresh-interval.tsx
  studio/src/components/analytics/toolbar.tsx
  studio/src/components/analytics/use-apply-params.tsx
  studio/src/components/analytics/use-range.tsx
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/analytics/useSyncTableWithQuery.ts
  studio/src/components/date-picker-with-range.tsx
  studio/src/components/date-range-picker.tsx
  studio/src/components/ui/button.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
  studio/tailwind.config.js
Labels: studio, controlplane, protocol, connect

#226 fix: date picker improvements
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/date-picker-with-range.tsx
  studio/src/lib/insights-helpers.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
Labels: studio, controlplane, protocol, connect

#225 fix: remove cal package
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/lib/constants.ts
  studio/src/lib/utils.ts
  studio/src/pages/[organizationSlug]/members.tsx
Labels: studio, monorepo

#228 feat: use ch query cache for point query
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#229 feat: provide debug mode in gql collector
  graphqlmetrics/cmd/main.go
Labels: graphqlmetrics

#230 feat: provide debug mode in gql collector
  graphqlmetrics/metrics_service.go
Labels: graphqlmetrics

#223 chore: improve router req handling
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/bench.js
  router/cmd/main.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_parser.go
  router/core/operation_planner.go
  router/go.mod
  router/go.sum
Labels: router

#234 chore: upgrade google.golang.org/grpc and golang.org/x/net
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#233 fix: ensure proper graphql error response when passing nil error
  router/core/modules.go
  router/core/modules_test.go
Labels: router

#232 chore: improve on-boarding
  Makefile
  README.md
  docker-compose.full.yml
  router/config.yaml
Labels: monorepo, router

#237 fix: resolve issue single entity result in root
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#236 feat(controlplane): avoid downloading config for latest check
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  router/.gitignore
Labels: controlplane

#231 feat: upgrade to stable connect & react-query 5
  cli/package.json
  connect/package.json
  connect/src/wg/cosmo/common/common_pb.ts
  connect/src/wg/cosmo/node/v1/node-NodeService_connectquery.ts
  connect/src/wg/cosmo/node/v1/node_connect.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  connect/src/wg/cosmo/notifications/events_pb.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/package.json
  controlplane/src/core/build-server.ts
  package.json
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/app-provider.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/details.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/operations.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio, monorepo, controlplane, cli, connect

#239 feat: upgrade minimum required Go version to 1.21
  .github/actions/go/action.yaml
  README.md
  composition-go/go.mod
  composition-go/index.global.js
  demo/Dockerfile.employees
  demo/Dockerfile.family
  demo/Dockerfile.hobbies
  demo/Dockerfile.products
  demo/go.mod
  demo/go.sum
  graphqlmetrics/Dockerfile
  graphqlmetrics/go.mod
  otelcollector/Dockerfile
  router-tests/go.mod
  router-tests/go.sum
  router/Dockerfile
  router/README.md
  router/custom.Dockerfile
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics

#224 feat: automatically translate failed requests to localhost to docker.host.internal
  router/cmd/main.go
  router/config/config.go
  router/core/router.go
  router/core/transport.go
  router/internal/docker/docker.go
  router/internal/docker/roundtripper_test.go
  router/internal/docker/rountripper.go
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio, router

#241 fix: fixed issue where pagination displayed NaN when there are no res…
  studio/src/components/analytics/data-table-pagination.tsx
Labels: studio

#242 fix: optimize analytics filter queries
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
Labels: controlplane

#240 fix: misaligned federated graph cards
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio

#245 chore: remove unused buffer obtained from pool
  router/core/graphql_prehandler.go
Labels: router

#220 feat: implement sso & basic RBAC in Cosmo
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0050_tough_dark_phoenix.sql
  controlplane/migrations/0051_brave_steel_serpent.sql
  controlplane/migrations/0052_cool_deathstrike.sql
  controlplane/migrations/0053_natural_goblin_queen.sql
  controlplane/migrations/meta/0050_snapshot.json
  controlplane/migrations/meta/0051_snapshot.json
  controlplane/migrations/meta/0052_snapshot.json
  controlplane/migrations/meta/0053_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/bin/seed.ts
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/crypto/jwt.ts
  controlplane/src/core/repositories/OidcRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/UserRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/services/OidcProvider.ts
  controlplane/src/core/test-util.ts
  controlplane/src/core/util.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/test-util.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/package.json
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/ui/cli.tsx
  studio/src/lib/utils.ts
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
  studio/src/pages/login.tsx
Labels: studio, monorepo, controlplane, protocol, connect

#247 fix: minor issues of sso
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio, controlplane, protocol, connect

#250 feat: unify and redesign login screen
  .github/workflows/cli-ci.yaml
  .github/workflows/close-stale.yml
  .github/workflows/composition-ci.yaml
  .github/workflows/controlplane-ci.yaml
  .github/workflows/create-issue.yml
  .github/workflows/dummy-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/image-release.yml
  .github/workflows/images-ci.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/release-preview.yaml
  .github/workflows/release.yaml
  .github/workflows/router-binary-release.yaml
  .github/workflows/router-ci.yaml
  .github/workflows/shared-ci.yaml
  .github/workflows/studio-ci.yaml
  controlplane/package.json
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/controllers/auth.ts
  studio/src/components/app-provider.tsx
  studio/src/components/auth/cosmo-stack.tsx
  studio/src/components/layout/auth-layout.tsx
  studio/src/components/ui/button.tsx
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
  studio/tailwind.config.js
Labels: studio, controlplane

#251 fix: links and ui
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio

#254 chore: generate docs for helm charts
  .github/workflows/helm-ci.yaml
  Makefile
  helm/Makefile
  helm/README.md
  helm/cosmo/CHART.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
  helm/cosmo/charts/clickhouse/CHART.md
  helm/cosmo/charts/clickhouse/Chart.yaml
  helm/cosmo/charts/controlplane/CHART.md
  helm/cosmo/charts/graphqlmetrics/CHART.md
  helm/cosmo/charts/keycloak/CHART.md
  helm/cosmo/charts/keycloak/Chart.yaml
  helm/cosmo/charts/otelcollector/CHART.md
  helm/cosmo/charts/otelcollector/Chart.yaml
  helm/cosmo/charts/router/CHART.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/studio/CHART.md
  helm/cosmo/charts/studio/Chart.yaml
Labels: monorepo

#253 fix: minor ui improvements
  studio/src/components/layout/auth-layout.tsx
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Labels: studio

#246 feat: implement @override
  cli/src/commands/router/commands/compose.ts
  composition-go/index.global.js
  composition-go/shim/src/index.ts
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/subgraph/subgraph.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/tests/federation-factory.test.ts
  composition/tests/override.test.ts
  controlplane/src/core/composition/composer.ts
  controlplane/test/graphql/federationV2/composedFederatedV2Graph.graphql
  demo/pkg/subgraphs/employees/subgraph/employees.go
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  pnpm-lock.yaml
  shared/package.json
  shared/src/router-config/builder.ts
  shared/src/router-config/errors.ts
  shared/src/router-config/graphql-configuration.ts
  shared/test/router.config.test.ts
  shared/test/testdata/tsconfig.json
  shared/test/testdata/utils.ts
Labels: monorepo, controlplane, cli

#257 fix: link button styles in safari
  studio/src/components/ui/button.tsx
Labels: studio

#252 fix: prettify operation and add play button to run the operation
  studio/src/components/schema-viewer.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/[traceID].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/playground.tsx
Labels: studio

#258 feat: add check for deleted subgraphs
  cli/src/commands/subgraph/commands/check.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0054_mixed_dracula.sql
  controlplane/migrations/meta/0054_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/composition/schemaCheck.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
Labels: studio, controlplane, cli, protocol, connect

#261 feat(studio): upgrade to Next 14
  helm/README.md
  helm/cosmo/README.md
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo

#260 fix: remove 10 day limit for free trial
  controlplane/src/core/errors/errors.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/util.ts
  studio/src/components/app-provider.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/nav.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Labels: studio, controlplane

#255 feat: consider input and argument usage for breaking change detection
  cli/src/commands/subgraph/commands/check.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/schemaCheck.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.test.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  controlplane/src/db/models.ts
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  graphqlmetrics/metrics_service.go
  graphqlmetrics/migrations/20231010143332_graphql_schema_usage_table.sql
  graphqlmetrics/migrations/20231010143333_graphql_schema_usage_table_5m_90d.sql
  graphqlmetrics/migrations/20231010143334_graphql_metrics_schema_usage_5m_90d_mv.sql
  proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.proto
  proto/wg/cosmo/platform/v1/platform.proto
  router-tests/go.mod
  router-tests/go.sum
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_parser.go
  router/core/operation_planner.go
  router/core/router_metrics.go
  router/core/websocket.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/go.mod
  router/go.sum
  router/internal/graphqlmetrics/aggregation.go
  router/internal/graphqlmetrics/aggregation_test.go
  studio/src/components/analytics/field-usage.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/details.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/operations.tsx
Labels: studio, controlplane, cli, protocol, connect, router, graphqlmetrics

#265 chore: update engine dependency
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#264 feat(router): allow to start router without token and graph name when providing static config
  router/cmd/main.go
  router/config/config.go
  router/core/router.go
  router/internal/controlplane/configfetcher.go
Labels: router

#270 fix: parsing null variables
  router-tests/go.mod
  router-tests/go.sum
  router/Makefile
  router/core/operation_parser.go
  router/go.mod
  router/go.sum
Labels: router

#259 fix: show latest valid subgraph schema
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0055_omniscient_dragon_man.sql
  controlplane/migrations/meta/0055_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/bin/version-migration.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  shared/src/router-config/builder.ts
  studio/src/components/composition-errors-dialog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/sdl.tsx
Labels: studio, controlplane, protocol, connect

#216 fix: (router) refactor cmd/main to expose router instance
  router/cmd/instance.go
  router/cmd/main.go
Labels: router

#273 fix: [connect] Move devDependencies to dependencies
  connect/package.json
  pnpm-lock.yaml
Labels: monorepo, connect

#272 fix: remove unnecessary fields and add populate the createdBy for compositions
  controlplane/migrations/0056_kind_wallop.sql
  controlplane/migrations/meta/0056_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/bin/version-migration.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
Labels: controlplane

#275 fix: move to bitnami charts and exit 1 on migration issues
  .github/workflows/helm-deployment.yaml
  controlplane/src/bin/ch-migrate.ts
  graphqlmetrics/cmd/main.go
  helm/cosmo/CHART.md
  helm/cosmo/Chart.lock
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
  helm/cosmo/charts/clickhouse-4.1.5.tgz
  helm/cosmo/charts/clickhouse/.helmignore
  helm/cosmo/charts/clickhouse/CHART.md
  helm/cosmo/charts/clickhouse/Chart.yaml
  helm/cosmo/charts/clickhouse/templates/NOTES.txt
  helm/cosmo/charts/clickhouse/templates/_helpers.tpl
  helm/cosmo/charts/clickhouse/templates/deployment.yaml
  helm/cosmo/charts/clickhouse/templates/hpa.yaml
  helm/cosmo/charts/clickhouse/templates/pdb.yaml
  helm/cosmo/charts/clickhouse/templates/secret.yaml
  helm/cosmo/charts/clickhouse/templates/service.yaml
  helm/cosmo/charts/clickhouse/templates/serviceaccount.yaml
  helm/cosmo/charts/clickhouse/templates/tests/test-connection.yaml
  helm/cosmo/charts/clickhouse/templates/volume.yaml
  helm/cosmo/charts/clickhouse/values.yaml
  helm/cosmo/charts/controlplane/templates/clickhouse-migration.yaml
  helm/cosmo/charts/controlplane/templates/database-migration.yaml
  helm/cosmo/charts/controlplane/templates/organization-seed.yaml
  helm/cosmo/charts/keycloak-17.3.1.tgz
  helm/cosmo/charts/keycloak/.helmignore
  helm/cosmo/charts/keycloak/CHART.md
  helm/cosmo/charts/keycloak/Chart.yaml
  helm/cosmo/charts/keycloak/templates/NOTES.txt
  helm/cosmo/charts/keycloak/templates/_helpers.tpl
  helm/cosmo/charts/keycloak/templates/config-map.yaml
  helm/cosmo/charts/keycloak/templates/deployment.yaml
  helm/cosmo/charts/keycloak/templates/ingress.yaml
  helm/cosmo/charts/keycloak/templates/secret.yaml
  helm/cosmo/charts/keycloak/templates/service.yaml
  helm/cosmo/charts/keycloak/templates/serviceaccount.yaml
  helm/cosmo/charts/keycloak/templates/tests/test-connection.yaml
  helm/cosmo/charts/keycloak/values.yaml
  helm/cosmo/templates/keycloak-realm.yml
  helm/cosmo/values.full.yaml
  keycloak/Dockerfile
Labels: controlplane, graphqlmetrics

#262 fix: add env var that allows to inject custom scripts into the head
  helm/cosmo/charts/studio/templates/config-map.yaml
  helm/cosmo/charts/studio/templates/deployment.yaml
  helm/cosmo/charts/studio/values.yaml
  studio/src/pages/_document.tsx
Labels: studio

#263 feat: add tracing to request
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/testdata/tracing.json
  router/config/config.go
  router/core/context.go
  router/core/executor.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_planner.go
  router/core/request_tracing.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
Labels: router

#278 chore: fix env var name
  router/config/config.go
Labels: router

#277 fix: implement new color scheme
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/info-tooltip.tsx
  studio/src/components/operations-overview.tsx
  studio/src/components/ui/badge.tsx
  studio/src/components/ui/select.tsx
  studio/src/components/ui/table.tsx
  studio/src/components/ui/tabs.tsx
  studio/src/components/ui/tooltip.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/index.tsx
  studio/src/styles/globals.css
  studio/tailwind.config.js
Labels: studio, monorepo

#281 feat: improve correctness of resolving
  router-tests/authentication_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/subgraph_errors_test.go
  router-tests/testdata/tracing.json
  router/core/modules_test.go
  router/core/operation_parser.go
  router/go.mod
  router/go.sum
Labels: router

#284 feat: log traceID
  router/core/router.go
  router/internal/handler/requestlogger/requestlogger.go
Labels: router

#285 feat: add organization limits
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0058_goofy_kronos.sql
  controlplane/migrations/meta/0058_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/analytics/MonthlyRequestViewRepository.ts
  controlplane/src/core/test-util.ts
  controlplane/src/core/util.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/field-usage.tsx
  studio/src/components/analytics/toolbar.tsx
  studio/src/components/app-provider.tsx
  studio/src/components/date-picker-with-range.tsx
  studio/src/components/date-range-picker.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio, controlplane, protocol, connect

#289 fix: import files with extension in new commands
  cli/src/commands/operations/commands/push.ts
  cli/src/commands/operations/index.ts
Labels: cli

#292 fix: correctly implement normalization
  router-tests/authentication_test.go
  router-tests/integration_test.go
  router-tests/persisted_operations_test.go
  router/config/config.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
  router/core/operation_parser.go
  router/core/operation_planner.go
  router/core/router.go
Labels: router

#293 feat: improve art
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/tracing.json
  router/core/graphql_prehandler.go
  router/go.mod
  router/go.sum
Labels: router

#296 chore: fix typo in function name (cosmetic only)
  router/core/operation_parser.go
  router/internal/cdn/cdn.go
Labels: router

#297 chore: update go tools
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/tracing.json
  router/go.mod
  router/go.sum
Labels: router

#294 feat: add support for outputting pushed operations as JSON
  cli/src/commands/operations/commands/push.ts
Labels: cli

#287 feat: visualize trace
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/analytics/getColumnData.tsx
  studio/src/components/code-viewer.tsx
  studio/src/components/playground/fetch-flow.tsx
  studio/src/components/playground/fetch-waterfall.tsx
  studio/src/components/playground/trace-view.tsx
  studio/src/components/playground/types.ts
  studio/src/components/playground/view-headers.tsx
  studio/src/components/playground/view-input.tsx
  studio/src/components/playground/view-load-stats.tsx
  studio/src/components/playground/view-output.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/[traceID].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/operations.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/sdl.tsx
  studio/src/styles/globals.css
  studio/src/styles/playground.css
Labels: studio, monorepo

#299 fix: view usage for enums and inputs
  studio/src/components/analytics/field-usage.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/index.tsx
Labels: studio

#298 feat: add support for enabling pprof handlers
  router/cmd/main.go
  router/internal/profile/no_pprof.go
  router/internal/profile/pprof.go
  router/internal/profile/profile.go
Labels: router

#295 chore: add linter to ensure relative imports use .js extension
  cli/.eslintrc
  cli/package.json
  cli/test/check-federated-graph.test.ts
  cli/test/check-schema.test.ts
  cli/test/create-subgraph.test.ts
  cli/test/parse-operations.test.ts
  cli/test/publish-schema.test.ts
  controlplane/.eslintrc
  controlplane/package.json
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/authenthication.test.ts
  controlplane/test/breaking-changes.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/health.test.ts
  controlplane/test/label.test.ts
  controlplane/test/persisted-operations.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  controlplane/test/test-util.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane, cli

#302 feat: accept custom operation IDs for persisted operations
  cdn-server/src/index.ts
  cli/src/commands/operations/commands/push.ts
  cli/test/parse-operations.test.ts
  cli/test/testdata/relay-persisted.json
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0060_swift_wind_dancer.sql
  controlplane/migrations/meta/0060_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/persisted-operations.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#308 feat: bundle custom graphiql in router
  playground/.gitignore
  playground/README.md
  playground/components.json
  playground/index.html
  playground/package-lock.json
  playground/package.json
  playground/postcss.config.js
  playground/src/App.tsx
  playground/src/components/code-viewer.tsx
  playground/src/components/empty-state.tsx
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/trace-view.tsx
  playground/src/components/playground/types.ts
  playground/src/components/playground/view-headers.tsx
  playground/src/components/playground/view-input.tsx
  playground/src/components/playground/view-load-stats.tsx
  playground/src/components/playground/view-output.tsx
  playground/src/components/ui/badge.tsx
  playground/src/components/ui/button.tsx
  playground/src/components/ui/card.tsx
  playground/src/components/ui/cli.tsx
  playground/src/components/ui/dialog.tsx
  playground/src/components/ui/separator.tsx
  playground/src/components/ui/tabs.tsx
  playground/src/components/ui/tooltip.tsx
  playground/src/index.css
  playground/src/lib/utils.ts
  playground/src/main.tsx
  playground/src/vite-env.d.ts
  playground/tailwind.config.js
  playground/tsconfig.json
  playground/tsconfig.node.json
  playground/vite.config.ts
  pnpm-lock.yaml
  router/internal/graphiql/README.md
  router/internal/graphiql/graphiql.html
Labels: monorepo, router

#309 feat: add variables validation
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/core/operation_parser.go
  router/go.mod
  router/go.sum
Labels: router

#310 fix: trace parsing and ui
  playground/src/App.tsx
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/trace-view.tsx
  playground/src/components/playground/view-input.tsx
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/fetch-flow.tsx
  studio/src/components/playground/fetch-waterfall.tsx
  studio/src/components/playground/trace-view.tsx
  studio/src/components/playground/view-input.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/playground.tsx
Labels: studio, router

#306 chore: update demo graphs
  cdn-server/package.json
  composition/tests/field-configuration.test.ts
  demo/example_queries.graphql
  demo/pkg/subgraphs/employees/subgraph/employees.go
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/products.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/family/subgraph/generated/generated.go
  demo/pkg/subgraphs/family/subgraph/model/models_gen.go
  demo/pkg/subgraphs/family/subgraph/schema.graphqls
  demo/pkg/subgraphs/family/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/employees.go
  demo/pkg/subgraphs/hobbies/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/generated/generated.go
  demo/pkg/subgraphs/hobbies/subgraph/model/models_gen.go
  demo/pkg/subgraphs/hobbies/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/employees.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/products.go
  pnpm-lock.yaml
  router-tests/integration_test.go
  router-tests/testdata/queries/employee/query.graphql
  router-tests/testdata/queries/employee/result.json
  router-tests/testdata/queries/employees/query.graphql
  router-tests/testdata/queries/employees/result.json
  router-tests/testdata/queries/full/query.graphql
  router-tests/testdata/queries/full/result.json
  router-tests/testdata/queries/products/query.graphql
  router-tests/testdata/queries/products/result.json
  router-tests/testdata/tracing.json
Labels: monorepo

#303 fix: invite flow rework
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/.env.example
  controlplane/migrations/0061_messy_orphan.sql
  controlplane/migrations/meta/0061_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/repositories/OrganizationInvitationRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/UserRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/services/Mailer.ts
  controlplane/src/core/test-util.ts
  controlplane/src/db/schema.ts
  controlplane/src/index.ts
  controlplane/src/templates/email/organizationInvite.html
  controlplane/src/types/index.ts
  controlplane/test/authenthication.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/test-util.ts
  helm/cosmo/charts/controlplane/CHART.md
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/values.full.yaml
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/app-provider.tsx
  studio/src/components/layout/nav.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/components/layout/user-layout.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/account/invitations.tsx
  studio/src/pages/login.tsx
Labels: studio, monorepo, controlplane, protocol, connect

#313 feat: add banners to inform when limits crossed certain threshold
  studio/src/components/analytics/toolbar.tsx
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio

#315 chore: update graphql-go-tools dependency
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#316 fix: limit banners
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio

#319 feat: add client extensions
  demo/pkg/injector/http.go
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/headers_test.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/operation_parser.go
  router/core/operation_planner.go
Labels: router

#307 feat: add helm chart for CDN
  .github/workflows/image-release.yml
  .github/workflows/images-ci.yaml
  Makefile
  cdn-server/Dockerfile
  cdn-server/package.json
  cdn-server/src/index.ts
  cdn-server/tsconfig.json
  docker-compose.cosmo.yml
  docker-compose.full.yml
  docker-compose.yml
  helm/cosmo/CHART.md
  helm/cosmo/charts/cdn/.helmignore
  helm/cosmo/charts/cdn/CHART.md
  helm/cosmo/charts/cdn/Chart.yaml
  helm/cosmo/charts/cdn/templates/NOTES.txt
  helm/cosmo/charts/cdn/templates/_helpers.tpl
  helm/cosmo/charts/cdn/templates/config-map.yaml
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/cdn/templates/hpa.yaml
  helm/cosmo/charts/cdn/templates/ingress.yaml
  helm/cosmo/charts/cdn/templates/pdb.yaml
  helm/cosmo/charts/cdn/templates/secret.yaml
  helm/cosmo/charts/cdn/templates/service.yaml
  helm/cosmo/charts/cdn/templates/serviceaccount.yaml
  helm/cosmo/charts/cdn/templates/tests/test-connection.yaml
  helm/cosmo/charts/cdn/values.yaml
  helm/cosmo/templates/_helpers.tpl
  helm/cosmo/values.full.yaml
  helm/cosmo/values.yaml
  pnpm-lock.yaml
  router/.env.example
  router/internal/cdn/cdn.go
Labels: monorepo, router

#318 feat: register router on the controlplane
  .github/workflows/router-ci.yaml
  Makefile
  connect/src/wg/cosmo/node/v1/node-NodeService_connectquery.ts
  connect/src/wg/cosmo/node/v1/node_connect.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0062_bitter_triathlon.sql
  controlplane/migrations/meta/0062_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/bin/create-request-tokens.ts
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/plugins/pgboss.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/GraphApiTokenAuthenticator.ts
  controlplane/src/core/workers/TrafficAnalyzerWorker.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  pnpm-lock.yaml
  proto/wg/cosmo/node/v1/node.proto
  proto/wg/cosmo/platform/v1/platform.proto
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/module-jwt/module_test.go
  router-tests/module/module_test.go
  router-tests/subgraph_errors_test.go
  router/.env.example
  router/cmd/instance.go
  router/config/config.go
  router/core/context.go
  router/core/graphql_prehandler.go
  router/core/operation_parser.go
  router/core/request_tracing.go
  router/core/router.go
  router/core/websocket.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
  router/go.mod
  router/go.sum
  router/internal/controlplane/configfetcher.go
  router/internal/controlplane/configpoller/config_poller.go
  router/internal/controlplane/poll.go
  router/internal/controlplane/selfregister/self_register.go
  router/internal/logging/logging.go
  router/internal/metric/config.go
  router/internal/metric/meter.go
  router/internal/trace/config.go
  router/internal/trace/meter.go
  studio/package.json
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/playground/trace-view.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/playground.tsx
Labels: studio, monorepo, controlplane, protocol, connect, router
