Repository wundergraph/cosmo, pull requests merged in 2023-12, with the labels that each got.

#328 fix: minor bug fixes in ui
  controlplane/src/core/repositories/SubgraphRepository.ts
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/ui/link.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
Labels: studio, controlplane

#324 feat: improve support for extensions and initial payloads
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/headers_test.go
  router-tests/websocket_test.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_parser.go
  router/core/operation_parser_test.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/wsproto/graphql_ws.go
  router/internal/wsproto/proto.go
  router/internal/wsproto/subscriptions_transport_ws.go
Labels: router

#323 feat: persist ops from playground and view all client ops
  cli/src/commands/operations/commands/push.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/clickhouse/migrations/20230825095358_traces.sql
  controlplane/clickhouse/migrations/20230825095359_traces_mv.sql
  controlplane/clickhouse/migrations/20230910193138_traces_by_operation_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230927211048_operation_requests_metrics.sql
  controlplane/clickhouse/migrations/20230927211049_operation_requests_metrics_mv.sql
  controlplane/clickhouse/migrations/20230928074634_operation_latency_metrics.sql
  controlplane/clickhouse/migrations/20230928074635_operation_latency_metrics_mv.sql
  controlplane/migrations/0063_conscious_masked_marvel.sql
  controlplane/migrations/meta/0063_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  router/core/operation_metrics.go
  router/core/operation_parser.go
  router/internal/otel/attributes.go
  studio/src/components/analytics/constructAnalyticsTableQueryState.ts
  studio/src/components/analytics/data-table-faceted-filter.tsx
  studio/src/components/code-viewer.tsx
  studio/src/components/playground/trace-view.tsx
  studio/src/components/ui/copy-button.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/playground.tsx
  studio/src/styles/playground.css
Labels: studio, controlplane, cli, protocol, connect, router

#329 refactor: use ristretto for the CDN in-memory cache
  router-tests/integration_test.go
  router-tests/persisted_operations_test.go
  router/cmd/instance.go
  router/config/config.go
  router/config/marshaler.go
  router/core/router.go
  router/internal/cdn/cdn.go
Labels: router

#330 fix: use graph routing url in snippets
  studio/src/pages/[organizationSlug]/graph/[slug]/clients.tsx
Labels: studio

#331 fix: check equality of InputMetrics when aggregating same metrics
  router/internal/graphqlmetrics/aggregation.go
  router/internal/graphqlmetrics/aggregation_test.go
Labels: router

#326 fix: invitations
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0064_flippant_infant_terrible.sql
  controlplane/migrations/meta/0064_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationInvitationRepository.ts
  controlplane/src/core/services/Mailer.ts
  controlplane/src/db/schema.ts
  controlplane/src/templates/email/organizationInvite.html
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/account/invitations.tsx
Labels: studio, controlplane, protocol, connect

#325 feat: add compositions page
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0065_silly_venom.sql
  controlplane/migrations/meta/0065_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog/[schemaVersionId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/compositions/index.tsx
Labels: studio, controlplane, protocol, connect

#335 fix: ui fixes
  studio/src/components/analytics/trace.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/ui/toolbar.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/index.tsx
  studio/src/styles/globals.css
Labels: studio

#338 fix: star banner on big screens
  studio/src/components/layout/dashboard-layout.tsx
Labels: studio

#339 feat: implement wgc router download-binary
  cli/package.json
  cli/src/commands/router/commands/download-binary.ts
  cli/src/commands/router/index.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#342 fix: do not require login for download-binary
  cli/src/commands/router/index.ts
Labels: cli

#341 chore: update graphql-go-tools dependency
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/testdata/tracing.json
  router/go.mod
  router/go.sum
Labels: router

#343 chore: add explicit router version to download-binary output
  cli/src/commands/router/commands/download-binary.ts
Labels: cli

#344 feat: extend graphqlmetrics chart
  controlplane/src/bin/create-request-tokens.ts
  graphqlmetrics/cmd/main.go
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  helm/cosmo/CHART.md
  helm/cosmo/charts/graphqlmetrics/CHART.md
  helm/cosmo/charts/graphqlmetrics/templates/config-map.yaml
  helm/cosmo/charts/graphqlmetrics/templates/deployment.yaml
  helm/cosmo/charts/graphqlmetrics/values.yaml
Labels: controlplane, graphqlmetrics

#349 fix: provide more specific error messages when operation planning fails
  router-tests/integration_test.go
  router-tests/websocket_test.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
Labels: router

#347 refactor: make the main HTTP router not dependent on the active GraphQL server
  router/core/router.go
Labels: router

#352 chore: update graphql-go-tools dependency
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/testdata/queries/products/query.graphql
  router-tests/testdata/queries/products/result.json
  router/go.mod
  router/go.sum
Labels: router

#355 fix: api key resource deletion on delete of target
  controlplane/migrations/0067_third_multiple_man.sql
  controlplane/migrations/meta/0067_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/services/Authorization.ts
  controlplane/src/db/schema.ts
Labels: controlplane

#357 feat: remember and redirect to last used organisation
  studio/src/components/app-provider.tsx
Labels: studio

#354 fix: allow to host graphql playground and handler on the same path
  playground/README.md
  playground/package-lock.json
  playground/package.json
  playground/vite.config.ts
  router-tests/go.mod
  router-tests/go.sum
  router-tests/headers_test.go
  router-tests/integration_test.go
  router-tests/persisted_operations_test.go
  router-tests/websocket_test.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/graphiql/graphiql.html
  router/internal/graphiql/playgroundhandler.go
  router/internal/graphiql/playgroundhandler_test.go
Labels: router

#358 fix: update link to docs for graph access control
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio

#353 chore: use go workspace
  .github/workflows/images-ci.yaml
  composition-go/go.mod
  composition-go/go.sum
  composition-go/index.global.js
  demo/go.mod
  demo/go.sum
  go.work
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/README.md
  router-tests/go.mod
  router-tests/go.sum
  router/Dockerfile
  router/core/router.go
  router/go.mod
  router/go.sum
  router/package.json
Labels: router, graphqlmetrics

#359 feat: implement foundations for entity interfaces
  composition-go/index.global.js
  composition/src/ast/ast.ts
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/subgraph/subgraph.ts
  composition/src/utils/constants.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/tests/entities.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/field-configuration.test.ts
  composition/tests/inaccessible.test.ts
  composition/tests/interface-object.test.ts
  composition/tests/interfaces.test.ts
  composition/tests/normalization.test.ts
  composition/tests/objects.test.ts
  composition/tests/override.test.ts
  composition/tests/utils/utils.ts
  controlplane/test/graphql/federationV2/composedFederatedV2Graph.graphql
  shared/test/__snapshots__/router.config.test.ts.snap
Labels: controlplane

#360 chore: update graphql-go-tools dependency
  go.work.sum
  router/go.mod
  router/go.sum
Labels: router

#366 fix: minor ui fixes
  studio/src/components/layout/graph-layout.tsx
Labels: studio

#369 fix: changelog page
  studio/src/components/composition-errors-banner.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/changelog/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/sdl.tsx
Labels: studio

#361 feat: add git commit sha to checks
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/ui/link.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
Labels: studio, controlplane, protocol, connect

#372 feat: add singleflight to transport
  demo/go.sum
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/resolver.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  go.work
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/testdata/tracing.json
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/router.go
  router/core/transport.go
  router/go.mod
  router/go.sum
Labels: router

#376 fix: alignment of URL button in trace tree view
  studio/src/components/playground/fetch-flow.tsx
Labels: studio

#377 fix: po demo, await po upload
  README.md
  controlplane/src/core/bufservices/PlatformService.ts
  docker-compose.full.yml
  studio/src/pages/[organizationSlug]/graph/[slug]/clients.tsx
Labels: studio, controlplane

#378 fix: shutdown prom server on exit
  router/core/router.go
Labels: router

#380 fix: playground icon and introspect on focus
  playground/index.html
  playground/src/App.tsx
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/trace-view.tsx
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/trace-view.tsx
Labels: studio, router

#379 fix: ui
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/sidenav.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio

#383 chore: update broken playground
  router/internal/graphiql/graphiql.html
Labels: router

#388 refactor(prometheus): prometheus integration
  .github/workflows/router-ci.yaml
  go.work.sum
  router-tests/Makefile
  router/cmd/instance.go
  router/core/operation_metrics.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/metric/config.go
  router/internal/metric/meter.go
  router/internal/metric/metrics.go
  router/internal/metric/prom_registry.go
  router/internal/metric/prom_registry_test.go
  router/internal/metric/prometheus.go
  router/internal/metric/store.go
  router/internal/trace/config.go
Labels: router

#389 chore: switch base images
  controlplane/Dockerfile
  graphqlmetrics/Dockerfile
  router/Dockerfile
Labels: controlplane, router, graphqlmetrics

#390 feat: enable password policy and brute force protection
  README.md
  controlplane/src/bin/seed.ts
  docker/keycloak/realm.json
  helm/cosmo/CHART.md
  helm/cosmo/templates/keycloak-realm.yml
  helm/cosmo/values.full.yaml
  helm/cosmo/values.yaml
Labels: controlplane

#384 feat: add readme for subgraphs and federated graphs
  cli/src/commands/federated-graph/commands/create.ts
  cli/src/commands/federated-graph/commands/update.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/update.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0068_spicy_ghost_rider.sql
  controlplane/migrations/meta/0068_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/repositories/TargetRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/subgraph.test.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/package.json
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/hooks/use-subgraph.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/readme.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/index.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/schema.tsx
Labels: studio, monorepo, controlplane, cli, protocol, connect

#391 chore: update engine
  go.work.sum
  router-tests/integration_test.go
  router/core/executor.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/go.mod
  router/go.sum
Labels: router

#393 fix: handle shutdown gracefully
  router/cmd/main.go
Labels: router

#395 fix: make description optionally
  controlplane/src/bin/seed-billing.ts
Labels: controlplane

#396 fix: avoid -1 in limits, ensure always limits
  controlplane/src/bin/billing.json
  controlplane/src/bin/seed-billing.ts
Labels: controlplane

#397 feat: remove deprecated columns
  controlplane/migrations/0070_glorious_skaar.sql
  controlplane/migrations/meta/0070_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio, controlplane

#398 refactor(payment): remove unused param, improve types
  controlplane/.env.example
  controlplane/migrations/0071_white_human_fly.sql
  controlplane/migrations/meta/0071_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/bin/billing.json
  controlplane/src/bin/seed-billing.ts
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/controllers/stripe.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/repositories/BillingRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/analytics/MonthlyRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/analytics/charts.tsx
  studio/src/hooks/use-feature-limit.ts
  studio/src/lib/format-metric.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio, monorepo, controlplane

#400 fix: create keycloak groups when creating organization
  controlplane/migrations/0072_messy_silvermane.sql
  controlplane/migrations/meta/0072_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/db/schema.ts
Labels: controlplane
