Repository wundergraph/cosmo, pull requests merged in 2024-01, with the labels that each got.

#401 fix(payment): handle customer deletion, cancel subs when org is deleted
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/controllers/stripe.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/repositories/BillingRepository.ts
  controlplane/src/core/repositories/OrganizationInvitationRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/services/Authorization.ts
  controlplane/src/core/services/BillingService.ts
  controlplane/src/core/test-util.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/index.ts
  studio/.env.local.example
Labels: controlplane

#404 fix: api keys creation when rbac is off
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio

#405 feat: track subgraphs in metrics
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/clickhouse/migrations/20230825095358_traces.sql
  controlplane/clickhouse/migrations/20230825095359_traces_mv.sql
  controlplane/clickhouse/migrations/20230910193137_traces_by_operation_quarter_hourly.sql
  controlplane/clickhouse/migrations/20230910193138_traces_by_operation_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230910200147_traces_by_client.sql
  controlplane/clickhouse/migrations/20230910200147_traces_by_client_quarter_hourly.sql
  controlplane/clickhouse/migrations/20230910200148_traces_by_client_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230910201356_traces_by_http_status_code.sql
  controlplane/clickhouse/migrations/20230910201356_traces_by_http_status_code_quarter_hourly.sql
  controlplane/clickhouse/migrations/20230910201357_traces_by_http_status_code_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230927211048_operation_request_metrics_5_30.sql
  controlplane/clickhouse/migrations/20230927211048_operation_requests_metrics.sql
  controlplane/clickhouse/migrations/20230927211049_operation_request_metrics_5_30_mv.sql
  controlplane/clickhouse/migrations/20230928074634_operation_latency_metrics.sql
  controlplane/clickhouse/migrations/20230928074634_operation_latency_metrics_5_30.sql
  controlplane/clickhouse/migrations/20230928074635_operation_latency_metrics_5_30_mv.sql
  controlplane/clickhouse/migrations/20240102205128_subgraph_request_metrics_5_30.sql
  controlplane/clickhouse/migrations/20240102205129_subgraph_request_metrics_5_30_mv.sql
  controlplane/clickhouse/migrations/20240103114056_subgraph_latency_metrics_5_30.sql
  controlplane/clickhouse/migrations/20240103114057_subgraph_latency_metrics_5_30_mv.sql
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsDashboardViewRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  controlplane/src/core/services/Mailer.ts
  controlplane/src/core/util.ts
  controlplane/src/types/index.ts
  go.work.sum
  proto/wg/cosmo/platform/v1/platform.proto
  router-tests/Makefile
  router/core/context.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_planner.go
  router/core/router.go
  router/core/router_metrics.go
  router/core/transport.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/metric/metrics.go
  router/internal/metric/noop_metrics.go
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/graph-visualization.tsx
  studio/src/components/info-tooltip.tsx
  studio/src/components/operations-overview.tsx
  studio/src/components/reactflow-graph-node.tsx
  studio/src/components/reactflow-metrics-edge.tsx
  studio/src/components/ui/cli.tsx
  studio/src/lib/insights-helpers.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/index.tsx
Labels: studio, controlplane, protocol, connect, router

#394 feat: discussions
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0073_misty_queen_noir.sql
  controlplane/migrations/meta/0073_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/DiscussionRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/discussions.test.ts
  demo/pkg/subgraphs/family/subgraph/schema.graphqls
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/package.json
  studio/src/components/analytics/refresh-interval.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/sidenav.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/components/notifications/components.tsx
  studio/src/components/overview/OverviewToolbar.tsx
  studio/src/components/schema/discussion.tsx
  studio/src/components/schema/monaco-dark-theme.ts
  studio/src/components/schema/sdl-viewer-monaco.tsx
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/components/schema/thread.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/components/ui/dropdown-menu.tsx
  studio/src/components/ui/resizable.tsx
  studio/src/components/ui/select.tsx
  studio/src/components/ui/spacer.tsx
  studio/src/components/ui/toggle.tsx
  studio/src/components/ui/toolbar.tsx
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/discussions/[discussionId].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/discussions/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/readme.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/index.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/schema.tsx
  studio/src/styles/globals.css
  studio/src/styles/playground.css
Labels: studio, monorepo, controlplane, protocol, connect

#408 fix: discussion improvements
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0074_sloppy_thunderbolts.sql
  controlplane/migrations/meta/0074_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/DiscussionRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/discussions.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/discussions/discussion.tsx
  studio/src/components/discussions/discussions.tsx
  studio/src/components/discussions/thread.tsx
  studio/src/components/discussions/toolbar.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/components/schema/sdl-viewer-monaco.tsx
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/discussions/[discussionId].tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/discussions/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/discussions/index.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/schema.tsx
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio, controlplane, protocol, connect

#410 fix: invite user
  controlplane/src/core/services/Keycloak.ts
Labels: controlplane

#407 feat: add support of interface objects
  composition-go/go.mod
  composition-go/go.sum
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/subgraph/field-configuration.ts
  composition/src/subgraph/subgraph.ts
  composition/src/utils/utils.ts
  composition/tests/entity-interface.test.ts
  composition/tests/field-configuration.test.ts
  composition/tests/interface-object.test.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  demo/go.mod
  demo/go.sum
  go.work
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  proto/wg/cosmo/node/v1/node.proto
  router-tests/go.mod
  router-tests/go.sum
  router/Makefile
  router/core/factoryresolver.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/go.mod
  router/go.sum
  shared/src/router-config/builder.ts
  shared/src/router-config/graphql-configuration.ts
Labels: protocol, connect, router, graphqlmetrics

#412 fix: discussion link and defaults
  studio/src/components/discussions/discussions.tsx
  studio/src/components/discussions/schemas.tsx
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/discussions/[discussionId].tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/discussions/[discussionId].tsx
Labels: studio

#413 fix: update organization details
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/util.ts
  studio/src/components/app-provider.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio, controlplane

#414 feat: section for deprecated fields
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/family/subgraph/schema.graphqls
  pnpm-lock.yaml
  studio/package.json
  studio/src/__tests__/schema-helpers.test.ts
  studio/src/components/date-picker-with-range.tsx
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/index.tsx
  studio/vitest.config.mts
Labels: studio, monorepo

#411 feat: provide router config over cdn
  cdn-server/.env.example
  cdn-server/.gitignore
  cdn-server/cdn/package.json
  cdn-server/cdn/src/index.ts
  cdn-server/cdn/test/cdn.test.ts
  cdn-server/package.json
  cdn-server/src/index.ts
  cdn-server/src/s3.ts
  cli/src/commands/router/commands/compose.ts
  composition-go/index.global.js
  composition-go/shim/src/index.ts
  controlplane/migrations/0075_nostalgic_lord_tyger.sql
  controlplane/migrations/meta/0075_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/blobstorage/index.ts
  controlplane/src/core/blobstorage/s3.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/test/persisted-operations.test.ts
  controlplane/test/test-util.ts
  pnpm-lock.yaml
  router-tests/router_config_test.go
  router-tests/testdata/routerConfig.json
  router/cmd/instance.go
  router/core/operation_parser.go
  router/core/router.go
  router/internal/cdn/cdn.go
  router/internal/cdn/doc.go
  router/internal/cdn/persisted_operation.go
  router/internal/cdn/router_config.go
  router/internal/controlplane/configpoller/config_poller.go
  shared/src/router-config/builder.ts
  shared/test/router.config.test.ts
Labels: monorepo, controlplane, cli, router

#415 fix(cdn): return 404 when config does not exist
  cdn-server/src/s3.ts
  router/internal/controlplane/configpoller/config_poller.go
Labels: router

#417 chore: return proper error on config fetch
  router/internal/controlplane/configpoller/config_poller.go
Labels: router

#418 fix: delete organization
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/BillingRepository.ts
  controlplane/src/core/services/BillingService.ts
Labels: controlplane

#419 fix: apollo migration
  controlplane/src/core/services/ApolloMigrator.ts
Labels: controlplane

#420 feat: support custom trace propagation
  router/cmd/instance.go
  router/config/config.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/handler/cors/cors.go
  router/internal/trace/config.go
  router/internal/trace/meter.go
  router/internal/trace/propagation.go
  studio/src/lib/insights-helpers.ts
Labels: studio, router

#421 fix: disable epoll for windows to avoid CGO
  router-tests/go.sum
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/epoller/README.md
  router/internal/epoller/conn.go
  router/internal/epoller/epoll.go
  router/internal/epoller/epoll_bsd.go
  router/internal/epoller/epoll_linux.go
  router/internal/epoller/epoll_test.go
  router/internal/epoller/epoll_unsupported.go
  router/internal/epoller/fd_test.go
Labels: router

#423 fix: revert start of day on date picker
  studio/src/components/date-picker-with-range.tsx
Labels: studio

#426 fix: schema performance, composition crash and minor ui
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/field-usage.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/components/ui/table.tsx
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/compositions/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/index.tsx
  studio/src/pages/[organizationSlug]/subgraph/[subgraphSlug]/schema.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio, monorepo

#425 feat: improve subscriptions
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/events_test.go
  router-tests/integration_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/config/config.go
  router/core/router.go
  router/core/router_metrics.go
  router/core/websocket.go
  router/core/websocket_stats.go
  router/internal/epoller/epoll_bsd.go
  router/internal/epoller/epoll_linux.go
  router/internal/epoller/epoll_test.go
  router/internal/wsproto/subscriptions_transport_ws.go
Labels: router

#424 feat: audit logs
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0076_brave_wilson_fisk.sql
  controlplane/migrations/meta/0076_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/stripe.ts
  controlplane/src/core/repositories/AuditLogRepository.ts
  controlplane/src/core/repositories/BillingRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/UserRepository.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/services/BillingService.ts
  controlplane/src/core/services/WebSessionAuthenticator.ts
  controlplane/src/core/test-util.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/audit-log-table.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/lib/utils.ts
  studio/src/pages/[organizationSlug]/audit-log.tsx
Labels: studio, monorepo, controlplane, protocol, connect

#430 fix: empty screen audit logs
  studio/src/components/audit-log-table.tsx
  studio/src/pages/[organizationSlug]/audit-log.tsx
Labels: studio

#431 fix: skip healthchecks requests for tracing
  router/core/router.go
  router/internal/trace/middleware.go
  router/internal/trace/transport.go
  router/internal/trace/utils.go
Labels: router

#433 fix: allow to start router without graph token but static config
  router/cmd/instance.go
  router/core/operation_parser.go
  router/core/router.go
Labels: router

#437 fix: date and range filter for traces
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  studio/src/components/audit-log-table.tsx
  studio/src/pages/[organizationSlug]/audit-log.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/graph/[slug]/analytics/traces.tsx
Labels: studio, controlplane

#436 fix: allow the member of the org to leave
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/db/models.ts
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio, controlplane

#439 fix: organization_invitation.deleted event and set auditableType
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/db/models.ts
Labels: controlplane

#441 fix: refresh button in the overview page
  controlplane/src/core/bufservices/PlatformService.ts
  studio/src/pages/[organizationSlug]/graph/[slug]/index.tsx
Labels: studio, controlplane

#445 feat: implement key resolvable false and implicit entities
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/index.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/subgraph/router-configuration.ts
  composition/src/subgraph/subgraph.ts
  composition/src/utils/utils.ts
  composition/tests/entities.test.ts
  composition/tests/objects.test.ts
  composition/tests/override.test.ts
  composition/tests/router-configuration.test.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/graphql-configuration.ts
Labels: protocol, connect, router

#450 chore: update engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#452 feat: allow custom playground path
  router/cmd/instance.go
  router/core/router.go
  router/internal/graphiql/playgroundhandler.go
  router/pkg/config/config.go
Labels: router

#459 fix: remove typo in move option
  cli/src/commands/subgraph/commands/move.ts
Labels: cli

#461 fix: allow to create subgraph and federated graphs with same name
  controlplane/migrations/0078_busy_jasper_sitwell.sql
  controlplane/migrations/meta/0078_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Labels: controlplane

#462 fix: broken links and ui overflows
  studio/src/components/checks/changes-table.tsx
  studio/src/components/playground/view-headers.tsx
  studio/src/components/ui/select.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/discussions/[discussionId].tsx
Labels: studio

#463 fix: use graph id from token
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/test-util.ts
  controlplane/test/router-config.test.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/internal/controlplane/configpoller/config_poller.go
Labels: controlplane, protocol, connect, router

#464 feat: add federated graph id to attributes
  router/core/router.go
  router/pkg/otel/attributes.go
Labels: router

#465 fix: namespace selector list on org change
  studio/src/components/dashboard/NamespaceSelector.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio

#468 fix: ch migrations
  controlplane/clickhouse/migrations/20230928074635_operation_latency_metrics_5_30_mv.sql
  controlplane/clickhouse/migrations/20240102205129_subgraph_request_metrics_5_30_mv.sql
  controlplane/clickhouse/migrations/20240103114057_subgraph_latency_metrics_5_30_mv.sql
Labels: controlplane

#470 fix: validate routing urls
  cli/src/commands/federated-graph/commands/create.ts
  cli/src/commands/subgraph/commands/create.ts
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane, cli

#471 fix(deps): upgrade bullmq
  controlplane/package.json
  pnpm-lock.yaml
Labels: monorepo, controlplane
