Repository wundergraph/cosmo, pull requests merged in 2024-10, with the labels that each got.

#1236 feat: add apollo compatibility flag to truncate floats
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/test1/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/generated/federation.go
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/config.json
  router/core/executor.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#1203 feat: advanced access logs
  router-tests/prometheus_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/.dockerignore
  router/.gitignore
  router/cmd/instance.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/request_context_fields.go
  router/core/router.go
  router/core/transport.go
  router/core/websocket.go
  router/internal/recoveryhandler/recovery.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/logging/logging.go
Labels: router

#1240 feat: router version command
  .github/actions/build-push-image/action.yaml
  .github/workflows/aws-router-binary-release.yaml
  .github/workflows/image-release.yml
  .github/workflows/router-binary-release.yaml
  aws-lambda-router/Makefile
  aws-lambda-router/internal/version.go
  router/Dockerfile
  router/Makefile
  router/cmd/main.go
  router/core/version.go
  router/custom.Dockerfile
  router/internal/profile/profile.go
  router/internal/versioninfo/versioninfo.go
  router/internal/versioninfo/versioninfo_test.go
Labels: router, aws-lambda-router

#1239 fix: fix panic when accessController is nil in handleUpgradeRequest
  router-tests/websocket_test.go
  router/core/websocket.go
Labels: router

#1234 feat: add option to add response header with trace id
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/trace/config.go
  router/pkg/trace/middleware.go
  router/pkg/trace/middleware_test.go
Labels: router

#1233 feat: add option to have custom names client name and version headers
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/trace/utils.go
  router/pkg/trace/utils_test.go
Labels: router

#1242 fix: apollo compatibility for truncating floats, invalid __typenames
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1244 chore: release helm-cosmo 0.12.1 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1241 feat: fallback storage for execution config
  router/core/init_config_poller.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/configpoller/config_poller.go
Labels: router

#1246 fix: don't set empty cache control headers
  router-tests/header_propagation_test.go
  router/core/header_rule_engine.go
Labels: router

#1247 fix: improve error logs
  router/core/errors.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/websocket.go
  router/internal/errors/errors.go
  router/internal/errors/errors_test.go
  router/internal/pool/pool.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/config/config.schema.json
Labels: router

#1248 feat: allow specified fields in subgraph errors
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/error_handling_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/core/executor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#1251 chore: update engine dep to rc.100
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/config/config_test.go
Labels: router, aws-lambda-router

#1254 feat: use commit sha from env when not running in github
  cli/package.json
  cli/src/github.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#1252 feat: add custom context to subgraph checks
  cli/src/commands/subgraph/commands/check.ts
  cli/src/core/config.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0101_new_domino.sql
  controlplane/migrations/meta/0101_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Labels: studio, controlplane, cli, protocol, connect

#1235 feat: add indirect interface fields to schema usage reporting
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  graphqlmetrics/migrations/20241008213817_add_is_indirect_interface_field_usage_to_schema_usage.sql
  graphqlmetrics/migrations/20241009075907_add_is_indirect_interface_field_usage_to_schema_usage_5m_90d.sql
  graphqlmetrics/migrations/20241009075945_add_is_indirect_interface_field_usage_to_schema_usage_1d_90d.sql
  graphqlmetrics/migrations/20241009080035_modify_is_indirect_interface_field_usage_to_schema_usage.sql
  graphqlmetrics/migrations/20241009080115_modify_is_indirect_interface_field_usage_to_schema_usage_5m_90d.sql
  graphqlmetrics/migrations/20241009080215_modify_is_indirect_interface_field_usage_to_schema_usage_1d_90d.sql
  graphqlmetrics/migrations/20241009083052_drop_gql_schema_usage_5m_90d_mv.sql
  graphqlmetrics/migrations/20241009083118_add_gql_schema_usage_5m_90d_mv.sql
  graphqlmetrics/migrations/20241009083144_drop_gql_schema_usage_1d_90d_mv.sql
  graphqlmetrics/migrations/20241009083205_add_gql_schema_usage_1d_90d_mv.sql
  proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.proto
  router-tests/go.mod
  router-tests/go.sum
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage.go
  router/pkg/graphqlschemausage/schemausage_test.go
Labels: controlplane, protocol, router, graphqlmetrics, aws-lambda-router

#1253 fix: sso redirect urls
  controlplane/src/core/bufservices/sso/getOIDCProvider.ts
  controlplane/src/core/util.ts
  controlplane/test/utils.test.ts
Labels: controlplane

#1257 fix: return error when introspection query is made when disabled
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Labels: router

#1227 feat: create subsciption over multipart
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/generated/federation.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router/core/errors.go
  router/core/flushwriter.go
  router/go.mod
  router/go.sum
  router/pkg/pubsub/kafka/kafka.go
  router/pkg/pubsub/nats/nats.go
Labels: router, aws-lambda-router

#1259 fix: introspection query detection
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Labels: router

#1258 feat: add suppress fetch errors option to apollo compatibility flags
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/core/executor.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#1264 chore: release helm-cosmo-router 0.9.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1262 chore: release helm-cosmo 0.12.2 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1266 fix: handling external fields
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1250 feat: support AWS chain credentials for s3 storage providers
  router/internal/persistedoperation/s3/client.go
  router/pkg/config/config.schema.json
  router/pkg/routerconfig/s3/client.go
Labels: router

#1260 fix: ensure sse is spec compliant
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router/core/flushwriter.go
Labels: router

#1272 fix: propagate ancestor exclude tags
  composition-go/index.global.js
  composition/src/federation/federation-factory.ts
  composition/tests/contracts.test.ts
  router/pkg/config/config_test.go
Labels: router

#1275 fix: provides edge cases
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1274 fix: lower max concurrent resolver to 32
  router/cmd/instance.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
Labels: router

#1276 chore: upgrade High vulnerabilities packages
  controlplane/package.json
  playground/package.json
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/package.json
Labels: studio, monorepo, controlplane, router

#1267 feat: custom metric attributes
  graphqlmetrics/pkg/telemetry/interceptor.go
  router-tests/kafka_events_test.go
  router-tests/prometheus_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/config.yaml
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/router.go
  router/core/router_metrics.go
  router/core/transport.go
  router/core/websocket.go
  router/internal/persistedoperation/cdn/client.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/s3/client.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
  router/pkg/trace/config.go
Labels: router, graphqlmetrics

#1283 feat(tests): add service and code when extensions is null or empty
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/apollo_compatibility_test.go
  router-tests/error_handling_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1281 fix: allow leading underscores in lint rules
  controlplane/src/core/services/SchemaLinter.ts
  controlplane/test/lint.test.ts
Labels: controlplane

#1287 feat: improve planning time
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage_test.go
Labels: router, aws-lambda-router

#1289 fix(websocket): set op name and operation
  router-tests/websocket_module_test.go
  router/core/websocket.go
Labels: router

#1293 fix(websocket): prevent ws headers leaking to the subgraph ws connection (#1149)
  router-tests/websocket_test.go
  router/core/header_rule_engine.go
Labels: router

#1290 feat: include subgraph name in ART
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/trace-view.tsx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/testdata/tracing.json
  router/go.mod
  router/go.sum
  router/internal/graphiql/graphiql.html
Labels: router, aws-lambda-router

#1291 fix: return early when shared singleflight errored, log refactor for panics
  router-tests/singleflight_test.go
  router-tests/structured_logging_test.go
  router/cmd/instance.go
  router/cmd/main.go
  router/core/graph_server.go
  router/core/transport.go
  router/internal/recoveryhandler/recovery.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/logging/logging.go
Labels: router

#1296 fix(websocket): check for valid fd
  router/core/websocket.go
Labels: router

#1279 feat: add traceId to logs
  graphqlmetrics/internal/logging/logging.go
  router-tests/structured_logging_test.go
  router/core/graph_server.go
  router/core/websocket.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/logging/logging.go
  router/pkg/trace/middleware.go
  router/pkg/trace/utils.go
Labels: router, graphqlmetrics

#1294 fix: escape characters in clickhouse query params
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
Labels: controlplane

#1297 fix: exclude query plan fetches from field usage count
  router/core/operation_metrics.go
Labels: router

#1299 fix: trace id in logs from custom modules
  router-tests/modules/module_test.go
  router/cmd/custom/module/module.go
  router/core/graph_server.go
Labels: router

#1303 fix: subgraph and schema version foreign key constraint
  controlplane/migrations/0102_common_tiger_shark.sql
  controlplane/migrations/meta/0102_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Labels: controlplane

#1285 chore: implement tag inclusion for contracts
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/contract/commands/update.ts
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/monograph/commands/list.ts
  composition-go/index.global.js
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/tests/contracts.test.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0103_heavy_jazinda.sql
  controlplane/migrations/meta/0103_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/composition/composition.ts
  controlplane/src/core/repositories/ContractRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/contracts.test.ts
  controlplane/test/test-data/contracts/products-include.graphql
  controlplane/test/test-data/contracts/products-v2-includes.graphql
  controlplane/test/test-data/contracts/users-include.graphql
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio, controlplane, cli, protocol, connect

#1304 fix: include tags migration
  controlplane/migrations/0103_heavy_jazinda.sql
  controlplane/migrations/0103_sparkling_leper_queen.sql
  controlplane/migrations/meta/0103_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Labels: controlplane

#1305 chore(cli): add scarf to track cli usage
  .github/workflows/cdn-ci.yaml
  .github/workflows/cli-ci.yaml
  .github/workflows/composition-ci.yaml
  .github/workflows/controlplane-ci.yaml
  .github/workflows/playground-ci.yaml
  .github/workflows/release-preview.yaml
  .github/workflows/release.yaml
  .github/workflows/shared-ci.yaml
  .github/workflows/studio-ci.yaml
  cli/README.md
  cli/package.json
  pnpm-lock.yaml
Labels: monorepo, cli

#1306 fix: value completion typename, planner shared nodes selections
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1307 fix: handle undefined tag arrays
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/contract/commands/update.ts
Labels: cli

#1308 fix: improve contract tags ui in the graph overview
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio

#1310 chore: update engine
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1312 fix(epoll): don't return when client conn was terminated
  router/core/websocket.go
Labels: router

#1313 chore: upgrade engine to v2.0.0-rc.112
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1316 feat: upgrade go tools to support lock free epoll conn handling for ws origin requests
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/subgraphs.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1309 feat: add missing indexes, upgrade drizzle
  cdn-server/cdn/package.json
  cli/package.json
  composition/package.json
  controlplane/migrations/0105_flippant_grey_gargoyle.sql
  controlplane/migrations/meta/0105_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/repositories/AuditLogRepository.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/OrganizationInvitationRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  package.json
  pnpm-lock.yaml
  shared/package.json
  studio/package.json
Labels: studio, monorepo, controlplane, cli

#1319 feat(perf): improve graph composition queries
  controlplane/migrations/0106_secret_bill_hollister.sql
  controlplane/migrations/meta/0106_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Labels: controlplane

#1320 fix(access-logs): default value is not respected without value_from
  router-tests/structured_logging_test.go
  router/core/graph_server.go
Labels: router

#1311 feat: extend apollo compatible error support
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work
  go.work.sum
  router-tests/apollo_compatibility_test.go
  router-tests/feature_flags_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry_test.go
  router/core/errors.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/http_graphql_error.go
  router/core/operation_processor.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#1322 fix: propagate new yaml properties in schema.json
  router/pkg/config/config.schema.json
Labels: router

#1302 feat: custom scripts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0107_tearful_phalanx.sql
  controlplane/migrations/meta/0107_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/playground/createPlaygroundScript.ts
  controlplane/src/core/bufservices/playground/deletePlaygroundScript.ts
  controlplane/src/core/bufservices/playground/getPlaygroundScripts.ts
  controlplane/src/core/bufservices/playground/updatePlaygroundScript.ts
  controlplane/src/core/repositories/PlaygroundScriptsRepository.ts
  controlplane/src/db/schema.ts
  package.json
  playground/package.json
  playground/src/components/playground/custom-scripts.tsx
  playground/src/components/playground/index.tsx
  playground/src/components/playground/plan-view.tsx
  playground/src/components/playground/types.ts
  playground/src/components/ui/checkbox.tsx
  playground/src/components/ui/resizable.tsx
  playground/src/lib/use-resolved-theme.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  router/internal/graphiql/graphiql.html
  studio/package.json
  studio/src/components/playground/custom-scripts.tsx
  studio/src/components/playground/types.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, monorepo, controlplane, protocol, connect, router

#1323 feat: provide pprof support in default distribution
  router/cmd/main.go
  router/internal/profile/no_pprof.go
  router/internal/profile/pprof.go
  router/internal/profile/profile.go
  router/pkg/profile/profile.go
Labels: router

#1325 fix: assert from nextjs config
  studio/next.config.mjs
Labels: studio

#1327 fix: get user accessible resources of a developer
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/test/get-user-accessible-resources.test.ts
Labels: controlplane

#1321 feat: allow to override metric temporarity per exporter
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
  router/pkg/metric/meter_test.go
  router/pkg/otel/otelconfig/otelconfig.go
Labels: router
