Repository wundergraph/cosmo, pull requests merged in 2024-05, with the labels that each got.

#762 fix: verify the user from keycloak and sanitize emails
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/controllers/scim.ts
  controlplane/src/core/repositories/UserRepository.ts
Labels: controlplane

#764 feat: support inaccessible and add foundation for contracts
  cli/src/commands/router/commands/compose.ts
  composition-go/index.global.js
  composition-go/shim/src/index.ts
  composition/package.json
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/federation/walkers.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/schema-building/type-definition-data.ts
  composition/src/schema-building/type-extension-data.ts
  composition/src/schema-building/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/tests/arguments.test.ts
  composition/tests/authorization-directives.test.ts
  composition/tests/contracts.test.ts
  composition/tests/entities.test.ts
  composition/tests/entity-interface.test.ts
  composition/tests/enums.test.ts
  composition/tests/external.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/inaccessible.test.ts
  composition/tests/interfaces.test.ts
  composition/tests/override.test.ts
  composition/tests/resolvability.test.ts
  composition/tests/router-configuration.test.ts
  composition/tests/shareable.test.ts
  composition/tests/union.test.ts
  composition/tests/utils/utils.ts
  composition/tests/v2-directives.test.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/src/core/composition/composer.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/graphql/federationV2/composedFederatedV2Graph.graphql
  pnpm-lock.yaml
  proto/wg/cosmo/node/v1/node.proto
  router/core/executor.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
  shared/test/__snapshots__/router.config.test.ts.snap
  shared/test/router.config.test.ts
Labels: monorepo, controlplane, cli, protocol, connect, router

#767 fix: ignore unknown router execution config fields
  admission-server/package.json
  admission-server/src/index.ts
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  aws-lambda-router/internal/router.go
  composition-go/index.global.js
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  go.work.sum
  pnpm-lock.yaml
  router-tests/go.mod
  router-tests/go.sum
  router-tests/router_config_test.go
  router-tests/testdata/routerConfigWithUnknownProperties.json
  router/cmd/instance.go
  router/core/routerconfig.go
  router/internal/cdn/router_config.go
  router/pkg/execution_config/routerconfig.go
  shared/package.json
  shared/src/index.ts
  shared/src/router-config/builder.ts
  shared/src/router-config/utils.ts
  shared/test/__snapshots__/router.config.test.ts.snap
  shared/test/router.config.test.ts
  shared/test/testdata/routerConfig.json
  shared/test/testdata/routerConfigWithUnknownProperties.json
  shared/test/testdata/simple-accounts.graphql
  shared/test/testdata/simple-products-with-inaccessible.graphql
  shared/test/testdata/simple-products-with-tags.graphql
  shared/test/testdata/simple-products.graphql
  shared/test/testdata/utils.ts
Labels: monorepo, controlplane, router, aws-lambda-router

#769 chore: always provide the controlplane access to the client schema
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  cli/src/commands/router/commands/compose.ts
  composition-go/index.global.js
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/tests/arguments.test.ts
  composition/tests/contracts.test.ts
  composition/tests/directives.test.ts
  composition/tests/entities.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/inputs.test.ts
  composition/tests/resolvability.test.ts
  composition/tests/unions.test.ts
  composition/tests/utils/utils.ts
  controlplane/src/core/composition/composer.ts
  router-tests/go.mod
  router-tests/go.sum
  shared/test/router.config.test.ts
Labels: controlplane, cli, aws-lambda-router

#777 fix: write access for operation overrides
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#779 fix: root level @requires planning
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#788 fix: schema and sdl page improvements and flickers
  pnpm-lock.yaml
  studio/src/components/schema/sdl-viewer-monaco.tsx
  studio/src/hooks/use-hash.ts
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/styles/globals.css
Labels: studio, monorepo

#789 fix: usage of fragments on root query type, fix normalization issues
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#790 fix: enable remove unused variables normalization rule
  router/core/operation_processor.go
Labels: router

#751 feat: schema contracts
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/contract/commands/update.ts
  cli/src/commands/contract/index.ts
  cli/src/commands/index.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0087_silly_lenny_balinger.sql
  controlplane/migrations/meta/0087_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/composition/composition.ts
  controlplane/src/core/repositories/ContractRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/util.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/contracts.test.ts
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  proto/wg/cosmo/platform/v1/platform.proto
  shared/test/router.config.test.ts
  studio/src/components/compose-status.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/components/ui/select.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/discussions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Labels: studio, controlplane, cli, protocol, connect

#786 fix: improve federated-graph fetch command
  cli/src/commands/graph/federated-graph/commands/fetch.ts
Labels: cli

#793 chore: log epoll availability
  router/core/websocket.go
Labels: router

#797 fix: parser errors during linting
  cli/src/handle-check-result.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/schemaLint.ts
  controlplane/src/core/services/SchemaLinter.ts
  controlplane/test/lint.test.ts
Labels: controlplane, cli

#799 fix: graph select ui
  studio/src/components/layout/graph-layout.tsx
Labels: studio

#800 fix: auth check for contract commands
  cli/src/commands/contract/index.ts
Labels: cli

#802 fix: improve apollo compatibilty mode
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/utils.ts
Labels: cli

#801 fix: token create prints special character
  cli/src/commands/router/commands/token/commands/create.ts
Labels: cli

#805 fix: playground theme settings
  playground/src/index.css
  router/internal/graphiql/graphiql.html
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, router

#806 fix: add tests and implement graphql over http cases
  router-tests/graphql_over_http_test.go
  router-tests/integration_test.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Labels: router

#748 feat: implement upgrade request allow list to forward headers and query params to the engine
  router-tests/authentication_test.go
  router-tests/headers_test.go
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, Stale

#780 feat: implement subscription filter
  Makefile
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/index.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/walkers.ts
  composition/src/router-configuration/router-configuration.ts
  composition/src/schema-building/ast.ts
  composition/src/schema-building/type-merging.ts
  composition/src/schema-building/utils.ts
  composition/src/utils/constants.ts
  composition/src/utils/integer-constants.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/tests/subscription-filter.test.ts
  composition/tests/type-merging.test.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  demo/Makefile
  demo/bump-deps.sh
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employeeupdated/subgraph/schema.graphqls
  go.work
  go.work.sum
  proto/wg/cosmo/node/v1/node.proto
  router-tests/Makefile
  router-tests/bump-deps.sh
  router-tests/go.mod
  router-tests/go.sum
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router-tests/testenv/testdata/config.json
  router-tests/update-config.sh
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/router.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/go.mod
  router/go.sum
  shared/src/router-config/graphql-configuration.ts
  shared/test/subscription-filter.test.ts
  shared/test/testdata/utils.ts
Labels: monorepo, protocol, connect, router, aws-lambda-router

#810 feat: improve operation parsing
  router-tests/authentication_test.go
  router-tests/graphql_over_http_test.go
  router-tests/integration_test.go
  router-tests/persisted_operations_test.go
  router/core/errors.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/internal/cdn/persisted_operation.go
Labels: router

#811 fix: set expiry for the jwt
  controlplane/src/core/composition/composer.ts
Labels: controlplane

#809 fix: playground config, subgraphs and members table, graph visualization
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationInvitationRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/types/index.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/package.json
  studio/src/components/analytics/field-usage.tsx
  studio/src/components/graph-visualization.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/components/ui/pagination.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Labels: studio, monorepo, controlplane, protocol, connect

#812 fix: level of null data propagation
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/authentication_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/ratelimit_test.go
  router/core/authorizer.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#816 fix: graph visualization toggle
  studio/src/components/graph-visualization.tsx
Labels: studio

#817 fix: set response properly as JSON data
  router/internal/wsproto/absinthe.go
Labels: router

#819 fix: remove unused attributes
  controlplane/src/core/controllers/scim.ts
Labels: controlplane

#820 fix: unset admission webhook using empty string
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio, controlplane, protocol, connect

#723 feat: add support for response compression
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  router-tests/go.mod
  router-tests/response_compression_test.go
  router/core/router.go
  router/core/transport.go
  router/go.mod
  router/internal/graphiql/playgroundhandler.go
Labels: router, aws-lambda-router, 🙋 Bounty claim

#825 feat: allow to disable parent based sampling
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/trace/config.go
  router/pkg/trace/meter.go
Labels: router

#827 fix: merging response nodes, improve playground trace for skipped fetches
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/trace-view.tsx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/ratelimit_test.go
  router-tests/testdata/queries/employees.json
  router-tests/testdata/queries/full.json
  router-tests/testdata/tracing.json
  router/go.mod
  router/go.sum
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/trace-view.tsx
Labels: studio, router, aws-lambda-router

#832 chore: add requires integration tests
  demo/go.sum
  demo/pkg/subgraphs/availability/gqlgen.yml
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/countries/gqlgen.yml
  demo/pkg/subgraphs/employees/gqlgen.yml
  demo/pkg/subgraphs/employees/subgraph/generated/federation.go
  demo/pkg/subgraphs/employees/subgraph/generated/federation.requires.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/family/gqlgen.yml
  demo/pkg/subgraphs/hobbies/gqlgen.yml
  demo/pkg/subgraphs/mood/gqlgen.yml
  demo/pkg/subgraphs/mood/subgraph/generated/generated.go
  demo/pkg/subgraphs/mood/subgraph/schema.graphqls
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/gqlgen.yml
  demo/pkg/subgraphs/test1/gqlgen.yml
  router-tests/integration_test.go
  router-tests/testdata/queries/requires_different_depth.graphql
  router-tests/testdata/queries/requires_different_depth.json
  router-tests/testdata/queries/requires_mood.graphql
  router-tests/testdata/queries/requires_mood.json
  router-tests/testenv/testdata/config.json
  router/core/graphql_handler.go
Labels: router

#835 fix: propagate resolvable false
  router/core/factoryresolver.go
Labels: router

#831 fix: prevent subgraph update except schema in publish
  cli/src/commands/subgraph/commands/publish.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/test/subgraph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#837 fix: query source table instead of MV to avoid type mismatch
  controlplane/src/core/repositories/analytics/AnalyticsDashboardViewRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/MonthlyRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/RouterMetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  docker-compose.yml
Labels: controlplane

#838 fix: remove unused check run id causing overflow
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: protocol, connect

#839 fix: incorrect query key for invalidation
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/override.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Labels: studio

#841 feat: support multiple/static NATS EDFS arg templates
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/go.mod
  composition-go/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/factoryresolver.go
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics, aws-lambda-router

#842 fix: potential fix to always show graphql variables
  studio/src/components/analytics/trace-details.tsx
Labels: studio

#843 fix: display graphql operation and variables after truncation in trace detail view
  studio/src/components/analytics/trace-details.tsx
Labels: studio
