Repository wundergraph/cosmo, pull requests merged in 2024-07, with the labels that each got.

#898 chore: refactor operation processor to allow caching of normalized op…
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router-tests/persisted_operations_test.go
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/1167510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/2267510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/3367510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/4467510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/dc67510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testenv.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_blocker.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/router.go
  router/core/transport.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/otel/attributes.go
Labels: controlplane, router

#902 fix: merging deeply nested representation variables
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#903 fix: race while fetching configuration for graph notifications
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Labels: controlplane

#900 feat: add feature flags ui
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0093_naive_korg.sql
  controlplane/migrations/meta/0093_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/test-util.ts
  proto/wg/cosmo/platform/v1/platform.proto
  router/core/router.go
  router/core/server.go
  studio/src/components/analytics/field-usage.tsx
  studio/src/components/dashboard/NamespaceSelector.tsx
  studio/src/components/feature-flag-details.tsx
  studio/src/components/feature-flags-table.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/components/ui/dropdown-menu.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/feature-flag/[featureFlagCompositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/feature-flags/[featureFlagSlug]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
  studio/src/pages/[organizationSlug]/feature-flags/[featureFlagSlug]/index.tsx
  studio/src/pages/[organizationSlug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Labels: studio, controlplane, protocol, connect, router

#889 chore: add sso and rbac to scale plan
  controlplane/src/bin/billing.json
Labels: controlplane

#911 fix: limit check and remove router_config_path
  controlplane/migrations/0092_open_marvex.sql
  controlplane/migrations/meta/0092_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/bin/seed-billing.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/db/schema.ts
  demo/deploy.sh
Labels: controlplane

#912 fix: router compose command
  cli/src/commands/router/commands/compose.ts
Labels: cli

#916 fix: feature flag details ui
  studio/src/components/feature-flag-details.tsx
Labels: studio

#917 chore: upgrade engine to v2.0.0-rc.56
  .github/actions/node/action.yaml
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/go.mod
  composition-go/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/kafka_events_test.go
  router-tests/websocket_test.go
  router/Makefile
  router/go.mod
  router/go.sum
  router/pkg/trace/middleware_test.go
  router/pkg/trace/tracetest/tracetest.go
  router/pkg/trace/transport_test.go
Labels: router, graphqlmetrics, aws-lambda-router

#920 chore: add test case to demo to test throughput with big data
  demo/pkg/subgraphs/availability/subgraph/generated/generated.go
  demo/pkg/subgraphs/availability/subgraph/schema.graphqls
  demo/pkg/subgraphs/countries/subgraph/generated/generated.go
  demo/pkg/subgraphs/countries/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/family/subgraph/generated/generated.go
  demo/pkg/subgraphs/family/subgraph/schema.graphqls
  demo/pkg/subgraphs/hobbies/subgraph/generated/generated.go
  demo/pkg/subgraphs/hobbies/subgraph/schema.graphqls
  demo/pkg/subgraphs/mood/subgraph/generated/generated.go
  demo/pkg/subgraphs/mood/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  demo/pkg/subgraphs/products_fg/subgraph/generated/generated.go
  demo/pkg/subgraphs/products_fg/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/file_upload_test.go
  router-tests/integration_test.go
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/config.json
  router/__schemas/graph.yaml
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
Labels: router

#921 chore: remove internal legacy use of JSON Schema Validation
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/file_upload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#919 fix: close connection only after EOF and read error
  router/internal/epoller/epoll.go
  router/internal/epoller/epoll_bsd.go
  router/internal/epoller/epoll_linux.go
Labels: router

#925 fix: upgrade next due to CVE-2024-34351
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo

#926 fix: upgrade deps due to found CVEs
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  controlplane/package.json
  demo/go.mod
  demo/go.sum
  go.work.sum
  pnpm-lock.yaml
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: monorepo, controlplane, router, aws-lambda-router

#927 chore: update graphqljs
  cli/package.json
  composition-go/index.global.js
  composition-go/shim/package.json
  composition/package.json
  composition/src/ast/utils.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/utils/utils.ts
  controlplane/package.json
  package.json
  playground/package.json
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  shared/package.json
  studio/package.json
Labels: studio, monorepo, controlplane, cli, router

#928 fix: admission webhook controller not receiving secret
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
Labels: controlplane

#906 feat: delete user
  connect/src/wg/cosmo/notifications/events_pb.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0093_serious_starfox.sql
  controlplane/migrations/meta/0093_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/bin/delete-user.ts
  controlplane/src/bin/get-config.ts
  controlplane/src/bin/seed.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/BillingRepository.ts
  controlplane/src/core/repositories/DiscussionRepository.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/OrganizationInvitationRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/UserRepository.ts
  controlplane/src/core/services/OidcProvider.ts
  controlplane/src/core/test-util.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/delete-user.test.ts
  controlplane/test/integrations.test.ts
  controlplane/test/scim.test.ts
  controlplane/test/test-util.ts
  proto/wg/cosmo/notifications/events.proto
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/app-provider.tsx
  studio/src/components/discussions/discussion.tsx
  studio/src/components/feature-flag-details.tsx
  studio/src/components/feature-flags-table.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
  studio/src/pages/account/manage.tsx
Labels: studio, controlplane, protocol, connect

#931 fix: playground explorer plugin crash
  package.json
  playground/package.json
  playground/src/index.css
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/package.json
  studio/src/styles/playground.css
Labels: studio, monorepo, router

#890 fix: remove REQUIRE_DEPRECATION_DATE lint rule
  controlplane/src/core/services/SchemaLinter.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/lint.test.ts
  studio/src/__tests__/lint-page.test.ts
  studio/src/lib/constants.ts
Labels: studio, controlplane

#929 feat: create graph page
  pnpm-lock.yaml
  studio/src/components/create-graph.tsx
  studio/src/components/ui/tag-input/tag-input.tsx
  studio/src/components/ui/tag-input/tag-list.tsx
  studio/src/components/ui/tag-input/tag.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/new.tsx
  studio/src/pages/new.tsx
Labels: studio, monorepo

#934 fix: playground crash on hard reload and better invalid headers error
  playground/src/App.tsx
  router/internal/graphiql/graphiql.html
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, router

#936 fix: getConfig script imports
  controlplane/src/bin/get-config.ts
Labels: controlplane

#935 fix: scim server when adding existing user
  controlplane/src/core/controllers/scim.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/test/scim.test.ts
  controlplane/test/test-util.ts
  studio/src/pages/[organizationSlug]/members.tsx
Labels: studio, controlplane

#939 chore: upgrade buf
  .github/actions/go-linter/action.yaml
  Makefile
  buf.graphqlmetrics.go.gen.yaml
  buf.router.go.gen.yaml
  buf.ts.gen.yaml
  buf.work.yaml
  buf.yaml
  connect/src/wg/cosmo/common/common_pb.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  connect/src/wg/cosmo/notifications/events_pb.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  package.json
  pnpm-lock.yaml
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Labels: monorepo, connect, router, graphqlmetrics

#923 fix: router config hot reload
  .run/router 2 dev.run.xml
  .run/router dev.run.xml
  go.work.sum
  router-tests/config_hot_reload_test.go
  router-tests/go.mod
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/bench.js
  router/cmd/instance.go
  router/cmd/main.go
  router/core/context.go
  router/core/graph_server.go
  router/core/http_server.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/router.go
  router/core/router_metrics.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/cdn/persisted_operation.go
  router/internal/graphiql/playgroundhandler.go
  router/internal/graphiql/playgroundhandler_test.go
  router/pkg/controlplane/configpoller/config_poller.go
  router/pkg/controlplane/poll.go
  router/pkg/controlplane/selfregister/self_register.go
Labels: router

#937 feat: improve JSON parsing & merging in the engine
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  go.work.sum
  router-tests/file_upload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/kafka_events_test.go
  router-tests/ratelimit_test.go
  router-tests/testdata/queries/employees.json
  router-tests/testdata/queries/full.json
  router-tests/testdata/tracing.json
  router-tests/testenv/testenv.go
  router/core/operation_metrics.go
  router/core/transport.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#946 fix(controlplane): graceful hutdown
  controlplane/package.json
  controlplane/src/core/build-server.ts
  controlplane/src/core/workers/AIGraphReadmeWorker.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane

#948 fix: incorrect typecast on timestamp from db
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/test/check-subgraph-schema.test.ts
Labels: controlplane

#949 feat: implement normalization cache for non-persisted operations
  router-tests/graphql_over_http_test.go
  router-tests/integration_test.go
  router-tests/normalization_cache_test.go
  router-tests/testenv/testenv.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#950 fix: optimize max concurrency for medium, high load, don't retry on 2xx status codes
  router/core/router.go
  router/internal/retrytransport/retry_transport.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
Labels: router

#951 feat: expose normalization cache hit and acquire resolver wait time via otel
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/otel/attributes.go
Labels: controlplane, router, aws-lambda-router

#947 chore: update to keycloak 24
  controlplane/package.json
  helm/README.md
  helm/cosmo/Chart.lock
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
  helm/cosmo/charts/keycloak-17.3.1.tgz
  helm/cosmo/charts/keycloak-21.7.1.tgz
  keycloak/Dockerfile
  keycloak/theme/package.json
  keycloak/theme/src/main/resources/theme/cosmo/login/layout-cloud-iam.ftl
  keycloak/theme/src/main/resources/theme/cosmo/login/resources/js/passwordVisibility.js
  keycloak/theme/src/main/resources/theme/cosmo/login/resources/scss/login.scss
  keycloak/theme/src/main/resources/theme/cosmo/login/theme.properties
  pnpm-lock.yaml
Labels: monorepo, controlplane

#954 fix: log commit check failure as warning instead of error
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#945 feat: organization deactivation
  controlplane/migrations/0094_perfect_gamora.sql
  controlplane/migrations/meta/0094_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/bin/deactivate-org.ts
  controlplane/src/bin/get-config.ts
  controlplane/src/bin/reactivate-org.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/plugins/redis.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/services/Authorization.ts
  controlplane/src/core/workers/DeleteOrganizationWorker.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/deactivate-org.test.ts
  controlplane/test/test-util.ts
  studio/src/components/app-provider.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/sidenav.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
Labels: studio, controlplane

#955 test: admission webhook header
  controlplane/test/admission-webhook.test.ts
Labels: controlplane

#943 feat: instrument controlplane with metrics
  controlplane/.env.example
  controlplane/package.json
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/plugins/metrics.ts
  controlplane/src/index.ts
  controlplane/test/metrics.test.ts
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
  helm/cosmo/charts/controlplane/Chart.yaml
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/pod-monitoring.yaml
  helm/cosmo/charts/controlplane/templates/service.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/values.yaml
  pnpm-lock.yaml
Labels: monorepo, controlplane

#956 fix: variable list coercion with normalization cache
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  go.work.sum
  router-tests/config_hot_reload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/normalization_cache_test.go
  router-tests/persisted_operations_test.go
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/listArgQuery.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/listArgQueryWithDefault.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/skipVariableWithDefault.json
  router-tests/testenv/testdata/config.json
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/parse_multipart.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/cdn/persisted_operation.go
  router/pkg/otel/attributes.go
  studio/src/components/analytics/trace.tsx
  studio/src/lib/trace-utils.ts
Labels: studio, controlplane, router, aws-lambda-router

#962 feat: add link to billing to request custom limits
  studio/.env.docker
  studio/.env.local.example
  studio/src/pages/[organizationSlug]/billing.tsx
Labels: studio

#966 fix: org activation jobs and delete user script
  controlplane/src/bin/delete-user.ts
  helm/cosmo/charts/controlplane/templates/activate-organization.yaml
  helm/cosmo/charts/controlplane/templates/deactivate-organization.yaml
Labels: controlplane

#968 fix: remove slow brotli compression and use optimized gzip middleware
  router-tests/response_compression_test.go
  router/core/graph_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
Labels: router

#967 fix: race for sendError, add test for sampling
  go.work.sum
  router-tests/telemetry_test.go
  router/core/context.go
  router/core/modules.go
  router/core/transport.go
  router/go.sum
Labels: router

#969 fix: increase page size for router page
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio

#974 fix: invite members modal and subgraph selector
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Labels: studio

#978 fix: broken pagination on page size change and subgraphs table with many items
  studio/src/components/dashboard/NamespaceSelector.tsx
  studio/src/components/ui/pagination.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Labels: studio

#980 fix: tick formatter for custom date ranges
  studio/src/components/analytics/field-usage.tsx
Labels: studio

#976 fix: client side validation for router playground
  playground/src/App.tsx
  router/internal/graphiql/graphiql.html
Labels: router

#981 fix: input coercion for nested values
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/config_hot_reload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/normalization_cache_test.go
  router-tests/persisted_operations_test.go
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/nestedEnum.json
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/router_metrics.go
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics, aws-lambda-router

#979 fix: api keys graphs dropdown ui
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio

#986 fix: excessive memory usage for big responses by disabling big pre-al…
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#985 fix: routing url in router playground
  .github/workflows/playground-ci.yaml
  router/internal/graphiql/graphiql.html
Labels: router

#964 feat: rewrite resolvability checker
  .gitignore
  composition-go/index.global.js
  composition/package.json
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/federation/walkers.ts
  composition/src/index.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/normalization/walkers.ts
  composition/src/resolvability-graph/graph-nodes.ts
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/utils.ts
  composition/src/schema-building/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/tests/resolvability.test.ts
  composition/tests/subscription-filter.test.ts
  pnpm-lock.yaml
  router-tests/cmd/config-validator/extract_schemas.go
  router-tests/cmd/config-validator/router-configs/.gitkeep
  router-tests/testdata/main/extract_schemas.go
  shared/src/router-config/builder.ts
Labels: monorepo

#984 feat(otelcollector): enable prometheus support for otelcollector and export it
  docker-compose.full.yml
  docker-compose.yml
  helm/cosmo/README.md
  helm/cosmo/charts/otelcollector/README.md
  helm/cosmo/charts/otelcollector/templates/deployment.yaml
  helm/cosmo/charts/otelcollector/templates/pod-monitoring.yaml
  helm/cosmo/charts/otelcollector/templates/service.yaml
  helm/cosmo/charts/otelcollector/values.yaml
  helm/cosmo/values.yaml
  otelcollector/otel-config.yaml
Labels: otelcollector
