Repository wundergraph/cosmo, pull requests merged in 2024-02, with the labels that each got.

#467 feat: integrate S3 when executing "getLatestValidRouterConfig" from the CLI
  cdn-server/cdn/src/index.ts
  cli/src/commands/auth/utils.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/core/config.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/db/models.ts
  controlplane/test/router-config.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio, controlplane, cli, protocol, connect

#477 chore: update graphql-go-tools dependency
  go.work.sum
  router/go.mod
  router/go.sum
Labels: router

#478 fix: slack notification link
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Labels: controlplane

#479 fix: support tls when migrate
  controlplane/src/bin/db-migrate.ts
  controlplane/src/core/migrate.ts
  controlplane/src/core/plugins/database.ts
Labels: controlplane

#482 fix: cli tables ui
  cli/src/commands/federated-graph/commands/check.ts
  cli/src/commands/federated-graph/commands/create.ts
  cli/src/commands/federated-graph/commands/list.ts
  cli/src/commands/federated-graph/commands/update.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/commands/subgraph/commands/delete.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
Labels: cli

#484 feat: show span error and allow filter by span status code and trace id
  .github/PULL_REQUEST_TEMPLATE.md
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/getColumnData.tsx
Labels: studio, controlplane

#490 fix: missing namespace for platform operations
  controlplane/src/core/bufservices/PlatformService.ts
  studio/src/components/subgraphs-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
Labels: studio, controlplane

#489 fix: load schema from CP and sync router playground
  playground/src/components/playground/view-headers.tsx
  router/internal/graphiql/graphiql.html
  studio/src/__tests__/schema-helpers.test.ts
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, router

#486 feat: allow to force root span on the router
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  router/cmd/instance.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/trace/config.go
  studio/src/components/analytics/trace.tsx
Labels: studio, controlplane, router

#494 fix: view usage button style alignment
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Labels: studio

#493 feat: add pagination component and validate limit
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/ui/pagination.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
  studio/src/pages/[organizationSlug]/audit-log.tsx
Labels: studio, controlplane, protocol, connect

#496 refactor(traces): improve root span instrumentation
  controlplane/clickhouse/migrations/20230825095359_traces_mv.sql
  controlplane/clickhouse/migrations/20230910193138_traces_by_operation_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230910200148_traces_by_client_quarter_hourly_mv.sql
  controlplane/clickhouse/migrations/20230910201357_traces_by_http_status_code_quarter_hourly_mv.sql
  router/core/router.go
  router/pkg/trace/middleware.go
  router/pkg/trace/middleware_test.go
Labels: controlplane, router

#498 fix: audit log for subgraph member addition and removal
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#497 feat: improve federated graph lists overview
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/analytics/util.ts
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/lib/insights-helpers.ts
Labels: studio, controlplane

#501 feat: upgrade to active lts node images
  README.md
  cdn-server/Dockerfile
  controlplane/Dockerfile
  controlplane/vite.config.ts
  package.json
  studio/Dockerfile
Labels: studio, monorepo, controlplane

#500 fix: improve full-demo-up command
  Makefile
  README.md
  scripts/create-cli-demo.sh
  scripts/setup-fulldemo.sh
Labels: monorepo

#502 fix: wait until db is closed in close server hook
  controlplane/src/core/plugins/database.ts
  controlplane/src/core/test-util.ts
  controlplane/vite.config.ts
Labels: controlplane

#506 chore: improve scripts
  Makefile
  scripts/bench-create.sh
  scripts/bench-delete.sh
  scripts/bench-update.sh
  scripts/configurations/kubernetes.sh
  scripts/configurations/local.sh
  scripts/create-cli-demo.sh
  scripts/create-cloud-demo.sh
  scripts/create-docker-demo.sh
  scripts/create-local-demo.sh
  scripts/delete-docker-demo.sh
  scripts/delete-local-demo.sh
  scripts/setup-fulldemo.sh
  scripts/update-demo.sh
Labels: monorepo

#510 fix: slack update
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
Labels: controlplane

#507 fix: rpm calculation in the graph overview page
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/analytics/AnalyticsDashboardViewRepository.ts
  studio/src/components/analytics/useAnalyticsQueryState.ts
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio, controlplane

#508 fix: prepend ch queries correctly with database name
  controlplane/drizzle.config.ts
  controlplane/package.json
  controlplane/src/core/repositories/analytics/AnalyticsDashboardViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane

#499 feat: distributed rate limiting
  .github/workflows/router-ci.yaml
  go.work
  router-tests/authentication_test.go
  router-tests/events_test.go
  router-tests/headers_test.go
  router-tests/integration_test.go
  router-tests/jwks/jwks.go
  router-tests/persisted_operations_test.go
  router-tests/ratelimit_test.go
  router-tests/singleflight_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/authorizer.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/ratelimiter.go
  router/core/request_tracing.go
  router/core/router.go
  router/core/websocket.go
  router/core/websocket_stats.go
  router/go.mod
  router/go.sum
  router/internal/docker/roundtripper_test.go
  router/internal/pubsub/nats.go
  router/pkg/config/config.go
  router/pkg/cors/cors_test.go
Labels: router

#517 fix: update subscription protocol
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  composition-go/index.global.js
  shared/src/router-config/builder.ts
Labels: cli

#519 feat: implement graphql over sse
  router-tests/events_test.go
  router/core/flushwriter.go
Labels: router

#515 feat: router fleet management
  README.md
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/clickhouse/migrations/20240210203003_router_metrics_1_30.sql
  controlplane/clickhouse/migrations/20240210203043_router_gauge_metrics_1_30_mv.sql
  controlplane/clickhouse/migrations/20240210203044_router_sum_metrics_1_30_mv.sql
  controlplane/clickhouse/migrations/20240211005350_router_uptime_30.sql
  controlplane/clickhouse/migrations/20240211005352_router_uptime_30_mv.sql
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/analytics/RouterMetricsRepository.ts
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  router-tests/go.mod
  router-tests/go.sum
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/controlplane/selfregister/self_register.go
  router/internal/graphqlmetrics/exporter.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/config/config.go
  router/pkg/cors/cors_test.go
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metrics.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
  router/pkg/metric/prometheus_server.go
  router/pkg/metric/request_measurements.go
  router/pkg/metric/runtime_metrics.go
  router/pkg/otel/attributes.go
  router/pkg/trace/middleware_test.go
  router/pkg/trace/vars.go
  studio/package.json
  studio/src/components/analytics/data-table.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio, monorepo, controlplane, protocol, connect, router, graphqlmetrics

#520 fix: distinguish between server and process uptime, fix uptime ch query
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/clickhouse/migrations/20240210203044_router_sum_metrics_1_30_mv.sql
  controlplane/clickhouse/migrations/20240211005350_router_uptime_30.sql
  controlplane/clickhouse/migrations/20240211005352_router_uptime_30_mv.sql
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/analytics/RouterMetricsRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  router/core/flushwriter.go
  router/core/router.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/runtime_metrics.go
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio, controlplane, protocol, connect, router

#521 chore: ensure image is always pulled in examples
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio

#522 fix: link to composition from routers page
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio

#524 fix: don't panic when config is nil
  router/internal/controlplane/configpoller/config_poller.go
Labels: router

#525 fix: check for config version id when fetching router composition
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#514 fix: show subgraphs in the graph view after the creation itself
  controlplane/src/core/bufservices/PlatformService.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Labels: studio, controlplane

#529 fix: label matcher validation
  controlplane/src/core/util.ts
  controlplane/test/utils.test.ts
  controlplane/vite.config.ts
Labels: controlplane

#533 fix: show loader on routers page
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
Labels: studio

#523 chore: remove obsolete mutex
  router/core/flushwriter.go
Labels: router

#536 fix: disable variable export by default
  router/pkg/config/config.go
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/[traceID].tsx
Labels: studio, router

#540 chore: upgrade clickhouse-go driver in metrics collector
  go.work.sum
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
Labels: graphqlmetrics

#516 feat: operation check overrides
  cli/src/commands/subgraph/commands/check.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0079_foamy_kylun.sql
  controlplane/migrations/meta/0079_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.test.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/discussions.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/namespace.test.ts
  controlplane/test/override.test.ts
  controlplane/test/persisted-operations.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  controlplane/test/test-util.ts
  docker-compose.yml
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/trace.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operation-content.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/settings-layout.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/ui/sheet.tsx
  studio/src/components/ui/switch.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
Labels: studio, monorepo, controlplane, cli, protocol, connect

#544 fix: import
  controlplane/src/core/repositories/SchemaCheckRepository.ts
Labels: controlplane

#541 feat: add support for absinthe WebSocket protocol
  go.work.sum
  router-tests/headers_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/flushwriter.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/wsproto/absinthe.go
  router/internal/wsproto/graphql_ws.go
  router/internal/wsproto/proto.go
  router/internal/wsproto/subscriptions_transport_ws.go
  router/pkg/config/config.go
Labels: router

#545 feat: use json schema to validate and document router config
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/go.mod
  composition-go/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/Makefile
  router/cmd/main.go
  router/config.yaml
  router/go.mod
  router/go.sum
  router/pkg/config/__snapshots__/config_test.snap
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/config_precedence.yaml
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/fixtures/max_duration_error.yaml
  router/pkg/config/fixtures/min_duration_error.yaml
  router/pkg/config/fixtures/minimal.yaml
  router/pkg/config/fixtures/minimum_bytes_error.yaml
  router/pkg/config/fixtures/variable_expansion.yaml
  router/pkg/config/fixtures/with_required_values.yaml
  router/pkg/config/fixtures/with_static_execution_config.yaml
  router/pkg/config/json_schema.go
  router/pkg/config/marshaler.go
  router/pkg/metric/meter.go
  router/pkg/otel/otelconfig/otelconfig.go
  router/pkg/trace/meter.go
Labels: router, graphqlmetrics, aws-lambda-router

#547 fix: remove duplicated columns
  controlplane/src/core/repositories/analytics/RouterMetricsRepository.ts
Labels: controlplane

#546 feat(metrics): collect OS type and enrich traces with resource instan…
  router/core/router.go
  router/pkg/metric/meter.go
  router/pkg/trace/meter.go
  router/pkg/trace/meter_test.go
Labels: router

#549 feat: upgrade to latest gpt3.5 model
  controlplane/package.json
  controlplane/src/core/openai-graphql/index.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane

#550 fix: don't expose token on wgc list command
  cli/src/commands/router/commands/token/commands/create.ts
  cli/src/commands/router/commands/token/commands/list.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0080_large_night_nurse.sql
  controlplane/migrations/meta/0080_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio, controlplane, cli, protocol, connect

#551 fix: router listen address default port
  router/pkg/config/__snapshots__/config_test.snap
  router/pkg/config/config.go
Labels: router

#553 fix: listen port in config
  router/pkg/config/config.schema.json
Labels: router

#552 feat: generate variables when we copy a persisted operation
  studio/src/__tests__/schema-helpers.test.ts
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
Labels: studio

#554 fix: improve navigation
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/subgraphs-table.tsx
Labels: studio

#556 fix: send only summary for large slack notifications
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Labels: controlplane

#557 fix: link to changelog in slack update
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  studio/src/components/subgraphs-table.tsx
Labels: studio, controlplane

#555 feat: support empty labels and label matchers
  cli/src/commands/federated-graph/commands/create.ts
  cli/src/commands/federated-graph/commands/update.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/label.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/subgraphs-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/graphs.tsx
Labels: studio, controlplane, cli, protocol, connect

#539 feat: implement slider for analytics duration
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/package.json
  studio/src/components/analytics/data-table-faceted-filter.tsx
  studio/src/components/analytics/data-table-primary-filter-menu.tsx
  studio/src/components/analytics/filters.tsx
  studio/src/components/analytics/getDataTableFilters.ts
  studio/src/components/ui/slider.tsx
  studio/src/styles/globals.css
Labels: studio, monorepo, controlplane, protocol, connect

#559 fix: view button in subgraph table
  studio/src/components/subgraphs-table.tsx
Labels: studio

#563 feat: handle exceptions gracefully
  cli/package.json
  cli/src/commands/auth/commands/whoami.ts
  cli/src/index.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#562 feat: version update check
  cli/src/commands/auth/user-config.ts
  cli/src/commands/index.ts
  cli/src/core/config.ts
  cli/src/utils.ts
Labels: cli

#568 fix(cli): ensure to exit with 1 in error cases
  cli/src/commands/federated-graph/commands/create.ts
  cli/src/commands/federated-graph/commands/update.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/fix.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  demo/Makefile
  demo/deploy.sh
  demo/go.sum
  demo/pkg/subgraphs/family/subgraph/employees.go
  demo/pkg/subgraphs/family/subgraph/generated/generated.go
  demo/pkg/subgraphs/family/subgraph/model/models_gen.go
Labels: cli

#570 fix: invitations bug
  studio/src/pages/account/invitations.tsx
Labels: studio

#578 feat: show link to studio page on subgraph check
  cli/src/commands/subgraph/commands/check.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#576 fix: ui improvements
  studio/src/components/checks/operations.tsx
  studio/src/components/dashboard/NamespaceSelector.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/title-layout.tsx
  studio/src/components/ui/cli.tsx
  studio/src/components/ui/select.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Labels: studio

#577 feat: default vars for run query in trace page
  studio/src/components/analytics/trace-details.tsx
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
Labels: studio

#580 fix: omit invalid group filters
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
Labels: controlplane

#575 feat(cli): new command to fetch latest published subgraph SDL
  cli/src/commands/subgraph/commands/fetch.ts
  cli/src/commands/subgraph/index.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/schema.tsx
Labels: studio, controlplane, cli, protocol, connect

#587 fix: custom scrollbar in ui and playground
  playground/package-lock.json
  playground/package.json
  playground/src/index.css
  playground/tailwind.config.js
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/package.json
  studio/src/styles/globals.css
  studio/tailwind.config.js
Labels: studio, monorepo, router

#586 fix: title layout ui
  studio/src/components/layout/title-layout.tsx
Labels: studio

#589 chore: update engine
  router-tests/go.mod
  router-tests/go.sum
  router/Makefile
  router/go.mod
  router/go.sum
Labels: router
