Repository wundergraph/cosmo, pull requests merged in 2024-09, with the labels that each got.

#1135 feat: make cosmo usable with aws s3
  cdn-server/.env.example
  cdn-server/src/s3.ts
  cdn-server/src/utils.ts
  controlplane/.env.example
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/util.ts
  controlplane/src/index.ts
  controlplane/src/types/index.ts
  controlplane/test/authentication.test.ts
  controlplane/test/utils.s3storage.test.ts
  docker-compose.full.yml
  docker-compose.yml
  helm/cosmo/README.md
  helm/cosmo/charts/cdn/README.md
  helm/cosmo/charts/cdn/templates/config-map.yaml
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/cdn/templates/secret.yaml
  helm/cosmo/charts/cdn/values.yaml
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/values.yaml
Labels: controlplane

#1138 chore: release helm-cosmo 0.11.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1142 fix: log config upload failures as errors
  controlplane/src/core/composition/composer.ts
Labels: controlplane

#1141 chore: improve mem usage for attributes, single flight
  go.work
  router-tests/query_plans_test.go
  router-tests/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/operation_metrics.go
  router/core/operation_planner.go
  router/core/transport.go
Labels: router

#1146 feat: enable using HTTP(S)_PROXY in router
  router-tests/integration_test.go
  router/cmd/instance.go
  router/core/graph_server.go
  router/core/router.go
Labels: router

#1136 feat: enable using HTTP(S)_PROXY in router
  docker-compose.full.yml
  helm/cosmo/charts/router/README.md
  helm/cosmo/charts/router/templates/deployment.yaml
  helm/cosmo/charts/router/templates/secret.yaml
  helm/cosmo/charts/router/values.yaml
  router-tests/integration_test.go
  router/.env.example
  router/cmd/instance.go
  router/core/graph_server.go
  router/core/router.go
Labels: router

#1145 fix: cdn and controlplane not respecting nested subdomains
  cdn-server/src/s3.ts
  cdn-server/src/utils.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/util.ts
  controlplane/src/index.ts
  controlplane/src/types/index.ts
  controlplane/test/utils.s3storage.test.ts
  docker-compose.full.yml
  helm/cosmo/README.md
  helm/cosmo/charts/cdn/README.md
  helm/cosmo/charts/cdn/templates/config-map.yaml
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/cdn/values.yaml
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/values.yaml
Labels: controlplane

#1148 chore: release helm-cosmo 0.11.1 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1147 chore: release helm-cosmo-router 0.8.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1134 feat: record changed subgraphs in composition
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0096_red_bug.sql
  controlplane/migrations/meta/0096_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  proto/wg/cosmo/platform/v1/platform.proto
  scripts/create-full-local-demo.sh
  scripts/create-local-demo.sh
  scripts/delete-local-demo.sh
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
Labels: studio, controlplane, protocol, connect

#1137 feat: add viewer role to ui
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/test-util.ts
  controlplane/test/organization-member-roles.test.ts
  controlplane/test/scim.test.ts
  controlplane/test/test-util.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/billing.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/lint-policy.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio, controlplane

#1140 feat: query plan ui
  playground/package.json
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/index.tsx
  playground/src/components/playground/monaco-dark-theme.ts
  playground/src/components/playground/plan-view.tsx
  playground/src/components/playground/prettyPrint.ts
  playground/src/components/playground/trace-view.tsx
  playground/src/components/playground/types.ts
  playground/src/components/ui/select.tsx
  playground/src/theme.css
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/fetch-flow.tsx
  studio/src/components/playground/fetch-waterfall.tsx
  studio/src/components/playground/plan-view.tsx
  studio/src/components/playground/prettyPrint.ts
  studio/src/components/playground/trace-view.tsx
  studio/src/components/playground/types.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, monorepo, router

#1151 feat: add audits for enabling and disabling of feature flags
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/db/models.ts
Labels: controlplane

#1150 fix: disabled state of feature flag overview page
  studio/src/components/feature-flag-details.tsx
Labels: studio

#1154 feat: list only contracts for monographs
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/monograph/commands/list.ts
Labels: cli

#1114 fix: follow snake_case for all router logs
  router-tests/nats_events_test.go
  router-tests/structured_logging_test.go
  router/core/errors.go
  router/core/router.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/pubsub/kafka/kafka.go
  router/pkg/pubsub/nats/nats.go
Labels: router, Stale

#1158 fix: setting cached operation name
  router/core/operation_processor.go
Labels: router

#1159 chore: update router to rc.78
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1160 chore: refactor extension handling
  composition-go/index.global.js
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/federation/walkers.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/normalization/walkers.ts
  composition/src/schema-building/ast.ts
  composition/src/schema-building/type-definition-data.ts
  composition/src/schema-building/utils.ts
  composition/src/subgraph/subgraph.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/src/warnings/warnings.ts
  composition/tests/arguments.test.ts
  composition/tests/enums.test.ts
  composition/tests/events.test.ts
  composition/tests/external.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/fieldset-directives.test.ts
  composition/tests/inaccessible.test.ts
  composition/tests/inputs.test.ts
  composition/tests/interfaces.test.ts
  composition/tests/normalization.test.ts
  composition/tests/objects.test.ts
  composition/tests/scalars.test.ts
  composition/tests/shareable.test.ts
  composition/tests/subscription-filter.test.ts
  composition/tests/unions.test.ts
  composition/tests/utils/utils.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/router-config.test.ts
  shared/test/__snapshots__/router.config.test.ts.snap
Labels: controlplane

#1157 feat: make the maximum recycleable parser cache size configurable
  router/core/executor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1164 feat: subgraph error propagation improvements
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  docker-compose.yml
  go.work.sum
  router-tests/authentication_test.go
  router-tests/config_hot_reload_test.go
  router-tests/error_handling_test.go
  router-tests/feature_flags_test.go
  router-tests/file_upload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/graphql_over_get_test.go
  router-tests/graphql_over_http_test.go
  router-tests/integration_test.go
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router-tests/persisted_operations_over_get_test.go
  router-tests/persisted_operations_test.go
  router-tests/prometheus_test.go
  router-tests/ratelimit_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/engine_loader_hooks.go
  router/core/errors.go
  router/core/executor.go
  router/core/modules_test.go
  router/go.mod
  router/go.sum
  router/internal/unique/unique.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#1167 chore: remove outdated dumped schema
  controlplane/db/schema.sql
Labels: controlplane

#1168 chore: update router to rc.81
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1171 fix: dont scope schema usage to single schema version
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
Labels: controlplane

#1169 chore: setup connect-go proto files
  .github/workflows/connect-go-ci.yaml
  Makefile
  buf.connect-go.go.gen.yaml
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
  connect-go/gen/proto/wg/cosmo/notifications/events.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect-go/go.mod
Labels: monorepo

#1175 chore: release helm-cosmo 0.11.2 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Labels: autorelease: pending

#1176 chore: release helm-cosmo-router 0.8.1 🚀
  .release-please-manifest.json
  helm/cosmo/README.md
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1180 fix: remove lastUsedAt for graph tokens
  cli/src/commands/router/commands/token/commands/list.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0097_dry_jack_flag.sql
  controlplane/migrations/meta/0097_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#1181 fix: ignore empty errors array
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1186 fix: propagate schema usage info for cached query plans as well
  router-tests/graphql_metrics_test.go
  router/core/operation_planner.go
Labels: router

#1155 feat: add response header propagation
  router-tests/header_propagation_test.go
  router-tests/headers_test.go
  router-tests/singleflight_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/otel/attributes.go
Labels: router

#1187 fix: delete federated graph audit in deleteNamespace
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#1183 feat: allow playground consumers to customize headers
  playground/src/components/playground/index.tsx
  router/internal/graphiql/graphiql.html
Labels: router

#1191 fix(collector): dont process empty schema usage metrics
  graphqlmetrics/core/metrics_service.go
Labels: graphqlmetrics

#1192 fix(router): ensure consistent request logs in error conditions
  router-tests/structured_logging_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/internal/recoveryhandler/recovery.go
  router/internal/requestlogger/requestlogger.go
  router/pkg/logging/logging.go
Labels: router

#1189 feat: disable tracing through headers
  playground/src/components/playground/index.tsx
  router/core/router.go
  router/internal/graphiql/graphiql.html
  router/pkg/config/config.schema.json
  router/pkg/trace/utils.go
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, router

#1194 feat: return error from Router when Subgraph returns invalid value for __typename field
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1173 fix: construct urls using URL class
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#1195 fix: graph pruning config ui for developer plan
  studio/src/components/lint-policy/graph-pruning-config.tsx
Labels: studio

#1196 feat: implement set header
  router-tests/header_propagation_test.go
  router-tests/header_set_test.go
  router/core/header_rule_engine.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Labels: router

#1198 fix: remove printlns
  router/core/header_rule_engine.go
Labels: router

#1190 fix: handle duplicate traces with same traceId
  Makefile
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/clickhouse/migrations/20230825095358_traces.sql
  controlplane/clickhouse/migrations/20230825095359_traces_mv.sql
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  data_migrations/controlplane/1726744316_add_span_id_to_trace/README.md
  data_migrations/controlplane/1726744316_add_span_id_to_trace/files/migrate.go
  docker-compose.full.yml
  docker-compose.yml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/data-table.tsx
  studio/src/components/analytics/getColumnData.tsx
  studio/src/components/analytics/trace-details.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
Labels: studio, monorepo, controlplane, protocol, connect

#1199 fix: recursive query syntax
  controlplane/src/core/repositories/analytics/TraceRepository.ts
Labels: controlplane

#1200 fix: handle empty batch of metrics
  graphqlmetrics/core/metrics_service.go
Labels: graphqlmetrics

#1201 fix: set allow_experimental_analyzer = 1 for recursive query
  controlplane/src/core/repositories/analytics/TraceRepository.ts
Labels: controlplane

#1202 fix: apply filters to recursive part
  controlplane/src/core/repositories/analytics/TraceRepository.ts
Labels: controlplane

#1205 feat: add apollo compatibility mode with support for valueCompletion
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/cmd/instance.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, graphqlmetrics, aws-lambda-router

#1208 fix: ui and default value of the graph pruning config
  studio/src/components/lint-policy/graph-pruning-config.tsx
Labels: studio

#1209 chore: move __typename into fragments on entity queries
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan.json
  router-tests/testdata/tracing.json
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1211 feat: option to skip traffic check in schema check
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/handle-check-result.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0099_loving_tattoo.sql
  controlplane/migrations/meta/0099_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/check-badge-icon.tsx
  studio/src/components/checks/graph-pruning-issues-table.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
Labels: studio, controlplane, cli, protocol, connect

#1212 fix: reason for check status
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Labels: studio

#1204 feat: enable datadog trace propagation
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/trace/config.go
  router/pkg/trace/propagation.go
Labels: router

#1215 chore: release helm-cosmo 0.12.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1216 fix: return error if the namespace doesnt exist while listing graphs
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/test/feature-flag/get-feature-flags.test.ts
  controlplane/test/feature-subgraph/get-feature-subgraphs.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/subgraph/get-subgraphs.test.ts
Labels: controlplane

#1219 fix: handle empty query in plan
  playground/src/components/playground/plan-view.tsx
  playground/src/components/playground/prettyPrint.ts
  playground/src/components/playground/types.ts
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/plan-view.tsx
  studio/src/components/playground/prettyPrint.ts
  studio/src/components/playground/types.ts
Labels: studio, router

#1217 fix: record if linters were skipped for a check run
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0100_gigantic_ares.sql
  controlplane/migrations/meta/0100_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/graph-pruning-issues-table.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
Labels: studio, controlplane, protocol, connect

#1218 feat: move cache control policy to standalone config section
  router-tests/header_propagation_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/header_rule_engine.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1223 fix: planning of consecutive fragments and fragments on union
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/telemetry_test.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#1226 fix(websocket): avoid data race on client request
  router/core/websocket.go
Labels: router

#1228 fix: value completion reset, preserve __typename field location
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/graphql_prehandler.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1230 fix: upgrade engine for ws deadlock, remove pont pool
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.sum
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/epoller/epoll_bsd.go
  router/internal/epoller/epoll_linux.go
Labels: router, aws-lambda-router

#1231 chore: do not log client cancellation as errors
  router/core/websocket.go
Labels: router
