Repository wundergraph/cosmo, pull requests merged in 2024-03, with the labels that each got.

#588 feat: unify OTEL tracing and ART
  go.work.sum
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/trace-view.tsx
  playground/src/index.css
  router-tests/testdata/tracing.json
  router/core/graphql_prehandler.go
  router/core/request_tracing.go
  router/go.mod
  router/go.sum
  router/internal/graphiql/graphiql.html
  router/pkg/art/timing.go
  studio/src/components/playground/fetch-waterfall.tsx
  studio/src/components/playground/trace-view.tsx
Labels: studio, router

#594 fix: maintain consistent links
  studio/src/components/analytics/metrics.tsx
Labels: studio

#597 chore(controlplane): upgrade deps
  controlplane/package.json
  pnpm-lock.yaml
Labels: monorepo, controlplane

#600 feat: tls and mTLS server support
  .github/workflows/router-ci.yaml
  router-tests/Makefile
  router-tests/testdata/tls/cert-2.pem
  router-tests/testdata/tls/cert.pem
  router-tests/testdata/tls/key-2.pem
  router-tests/testdata/tls/key.pem
  router-tests/testdata/tls/makecert.sh
  router-tests/testenv/testenv.go
  router-tests/tls_test.go
  router/Makefile
  router/cmd/instance.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/json_schema.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#603 fix: subscription deduplication
  .github/workflows/router-ci.yaml
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/generated/generated.go
  demo/pkg/subgraphs/hobbies/subgraph/schema.graphqls
  demo/pkg/subgraphs/hobbies/subgraph/schema.resolvers.go
  go.work.sum
  router-tests/Makefile
  router-tests/events_test.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/websocket.go
  router/core/websocket_stats.go
  router/go.mod
  router/go.sum
Labels: router

#595 chore: refactor federation factory
  .prettierignore
  composition-go/composition_test.go
  composition-go/index.global.js
  composition/.editorconfig
  composition/package.json
  composition/src/ast/ast.ts
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/federation/walkers.ts
  composition/src/index.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/normalization/walkers.ts
  composition/src/router-configuration/router-configuration.ts
  composition/src/schema-building/ast.ts
  composition/src/schema-building/type-definition-data.ts
  composition/src/schema-building/type-extension-data.ts
  composition/src/schema-building/type-merging.ts
  composition/src/schema-building/utils.ts
  composition/src/subgraph/subgraph.ts
  composition/src/utils/constants.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/utils.ts
  composition/tests/arguments.test.ts
  composition/tests/authorization-directives.test.ts
  composition/tests/directives.test.ts
  composition/tests/entities.test.ts
  composition/tests/entity-interface.test.ts
  composition/tests/enums.test.ts
  composition/tests/events.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/fieldset-directives.test.ts
  composition/tests/inaccessible.test.ts
  composition/tests/inputs.test.ts
  composition/tests/interfaces.test.ts
  composition/tests/objects.test.ts
  composition/tests/override.test.ts
  composition/tests/resolvability.test.ts
  composition/tests/router-configuration.test.ts
  composition/tests/shareable.test.ts
  composition/tests/type-merging.test.ts
  composition/tests/v2-directives.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/graphql/federationV2/composedFederatedV2Graph.graphql
  pnpm-lock.yaml
  shared/src/router-config/builder.ts
  shared/src/router-config/graphql-configuration.ts
  studio/package.json
  studio/src/components/analytics/metrics.tsx
  studio/src/components/playground/trace-view.tsx
Labels: studio, monorepo, controlplane

#606 fix: don't log unexpected EOF client issues as errors
  router/core/graphql_prehandler.go
Labels: router

#611 feat: ensure TLS and test if mail client is ready
  controlplane/src/core/build-server.ts
  controlplane/src/core/services/Mailer.ts
Labels: controlplane

#610 chore: koala identify call
  studio/src/components/app-provider.tsx
  studio/src/components/user-menu.tsx
  studio/src/pages/_document.tsx
Labels: studio

#593 fix: handle empty files in the cli itself
  cli/src/commands/subgraph/commands/fix.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/test/fixtures/schema.graphql
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/delete-subgraph.test.ts
  controlplane/test/discussions.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/override.test.ts
  controlplane/test/persisted-operations.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph.test.ts
  controlplane/test/test-util.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#609 feat: improve planning time of a big queries
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#613 fix(router): decode empty array of Regex in config
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/regex-decoding.yaml
  router/pkg/config/fixtures/regex-empty-decoding.yaml
  router/pkg/config/marshaler.go
  router/pkg/config/testdata/config_full.json
Labels: router

#596 feat: add configurable schema linting
  cli/src/commands/subgraph/commands/check.ts
  composition-go/index.global.js
  composition/src/index.ts
  composition/src/utils/constants.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0081_ambitious_exiles.sql
  controlplane/migrations/0082_gorgeous_sleeper.sql
  controlplane/migrations/meta/0081_snapshot.json
  controlplane/migrations/meta/0082_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/schemaLint.ts
  controlplane/src/core/repositories/NamespaceRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SchemaLintRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/lint.test.ts
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/__tests__/lint-page.test.ts
  studio/src/components/check-badge-icon.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/components/code-viewer.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/schema/sdl-viewer-monaco.tsx
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/lib/constants.ts
  studio/src/lib/utils.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/lint-policy.tsx
Labels: studio, monorepo, controlplane, cli, protocol, connect

#619 fix: subgraphs not found in composition details page
  controlplane/src/core/composition/composer.ts
Labels: controlplane

#622 fix: dependencies
  controlplane/package.json
  pnpm-lock.yaml
Labels: monorepo, controlplane

#627 feat: allow blocking mutations, subscriptions, non-persisted operations via router config
  router-tests/events_test.go
  router-tests/integration_test.go
  router-tests/persisted_operations_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/config.yaml
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
  router/core/operation_blocker.go
  router/core/router.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#630 fix: change claim key to support microsoft entra
  controlplane/src/core/services/OidcProvider.ts
Labels: controlplane

#632 feat: improve admission controller
  admission-server/package.json
  admission-server/src/index.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/services/AdmissionWebhookController.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane

#631 fix: improve ui and logs
  controlplane/src/core/bufservices/PlatformService.ts
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio, controlplane

#634 chore: reduce the number of errors that are thrown
  composition-go/index.global.js
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/walkers.ts
  composition/src/schema-building/ast.ts
  composition/src/schema-building/type-merging.ts
  composition/src/schema-building/utils.ts
  composition/src/utils/string-constants.ts
  composition/tests/entities.test.ts
  composition/tests/enums.test.ts
  composition/tests/events.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/interfaces.test.ts
  composition/tests/override.test.ts
  composition/tests/type-merging.test.ts
  controlplane/test/composition-errors.test.ts
  demo/example_queries.graphql
Labels: controlplane

#636 fix: cookie race
  studio/src/components/app-provider.tsx
Labels: studio

#637 chore: upgrade vitest
  cdn-server/cdn/package.json
  composition/package.json
  controlplane/package.json
  pnpm-lock.yaml
  shared/package.json
  shared/test/__snapshots__/router.config.test.ts.snap
  studio/package.json
Labels: studio, monorepo, controlplane

#639 feat: configure CSP for studio
  studio/next.config.mjs
Labels: studio

#640 chore(studio): enable CSP in production
  studio/next.config.mjs
Labels: studio

#641 fix: load monaco from public folder
  pnpm-lock.yaml
  studio/.gitignore
  studio/next.config.mjs
  studio/package.json
  studio/src/components/schema/sdl-viewer-monaco.tsx
Labels: studio, monorepo

#642 fix: raw output not being a valid json
  cli/src/commands/federated-graph/commands/list.ts
  cli/src/commands/namespace/commands/list.ts
  cli/src/commands/subgraph/commands/list.ts
Labels: cli

#633 fix: graph overview ui visuals
  studio/src/components/reactflow-graph-node.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
Labels: studio

#638 feat: allow to update admission url
  cli/src/commands/federated-graph/commands/create.ts
  cli/src/commands/federated-graph/commands/update.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/AdmissionWebhookController.ts
  controlplane/test/subgraph.test.ts
  package.json
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
  shared/src/utils/util.ts
  vitest.workspace.ts
Labels: monorepo, controlplane, cli, protocol, connect

#646 fix: change 'scopes' keyword to 'scope'
  router-tests/authentication_test.go
  router/pkg/authentication/authentication.go
Labels: router

#647 feat: allow exposing upgrade errors
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/integration_test.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/access_controller.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graphql_handler.go
  router/core/router.go
  router/core/transport.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#653 fix: soften CSP on playground page
  studio/next.config.mjs
Labels: studio

#654 feat: show warning when both auth methods are used
  cli/src/core/config.ts
Labels: cli

#656 fix: remove connect-src CSP policy
  studio/next.config.mjs
Labels: studio

#658 fix: github check api crashes schema check
  controlplane/src/core/bufservices/PlatformService.ts
Labels: controlplane

#635 feat: support authentication and multiple sources for nats edfs
  demo/cmd/all/main.go
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/availability/availability.go
  demo/pkg/subgraphs/availability/subgraph/resolver.go
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/countries/countries.go
  demo/pkg/subgraphs/countries/subgraph/resolver.go
  demo/pkg/subgraphs/employees/employees.go
  demo/pkg/subgraphs/employees/subgraph/resolver.go
  demo/pkg/subgraphs/employeeupdated/subgraph/schema.graphqls
  demo/pkg/subgraphs/family/family.go
  demo/pkg/subgraphs/family/subgraph/resolver.go
  demo/pkg/subgraphs/hobbies/hobbies.go
  demo/pkg/subgraphs/hobbies/subgraph/resolver.go
  demo/pkg/subgraphs/mood/mood.go
  demo/pkg/subgraphs/mood/subgraph/resolver.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/products.go
  demo/pkg/subgraphs/products/subgraph/resolver.go
  demo/pkg/subgraphs/subgraphs.go
  demo/pkg/subgraphs/test1/subgraph/resolver.go
  demo/pkg/subgraphs/test1/test1.go
  go.work
  go.work.sum
  router-tests/events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/operation_planner.go
  router/core/operation_processor_test.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/pool/pool.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/events/invalid_authenticated_nats_provider_no_password.yaml
  router/pkg/config/fixtures/events/invalid_authenticated_nats_provider_no_token.yaml
  router/pkg/config/fixtures/events/invalid_authenticated_nats_provider_no_username.yaml
  router/pkg/config/fixtures/events/invalid_authentication_property.yaml
  router/pkg/config/fixtures/events/invalid_provider.yaml
  router/pkg/config/fixtures/events/valid_authenticated_nats_provider_with_token.yaml
  router/pkg/config/fixtures/events/valid_authenticated_nats_provider_with_username_password.yaml
  router/pkg/config/fixtures/events/valid_unauthenticated_nats_provider.yaml
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/nats.go
Labels: router

#660 fix: missing navbar in playground and settings page refresh
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
  studio/src/styles/playground.css
Labels: studio

#659 fix: show all subgraphs in organization subgraph list
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/ApiKeyRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/Authorization.ts
  controlplane/src/types/index.ts
  controlplane/test/namespace.test.ts
  studio/next.config.mjs
Labels: studio, controlplane

#663 feat: release helm charts
  .github/workflows/helm-release.yml
  .github/workflows/release.yaml
  .npmrc
  docs/releasing.md
  helm/Makefile
  helm/cosmo/.helmignore
  helm/cosmo/CHART.md
  helm/cosmo/Chart.yaml
  helm/cosmo/charts/router/.helmignore
  helm/cosmo/charts/router/CHART.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/package.json
  helm/cosmo/package.json
  lerna.json
  package.json
  pnpm-lock.yaml
Labels: monorepo

#665 feat: multi platform docker builds
  .github/actions/build-push-image/action.yaml
  .github/workflows/cdn-ci.yaml
  .github/workflows/controlplane-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/image-release.yml
  .github/workflows/images-ci.yaml
  .github/workflows/keycloak-ci.yaml
  .github/workflows/otelcollector-ci.yaml
  .github/workflows/router-ci.yaml
  .github/workflows/studio-ci.yaml
  admission-server/Dockerfile
  aws-lambda-router/Makefile
  cdn-server/Dockerfile
  controlplane/Dockerfile
  controlplane/vite.config.ts
  graphqlmetrics/Dockerfile
  graphqlmetrics/Makefile
  keycloak/Dockerfile
  otelcollector/Dockerfile
  router/Dockerfile
  router/Makefile
  studio/Dockerfile
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio, controlplane, router, graphqlmetrics, aws-lambda-router

#667 feat: add initial payload on WS origin connections
  router-tests/events_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/websocket.go
Labels: router

#668 fix: conflicting subgraph name on monograph creation
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/util.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/index.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
Labels: studio, controlplane

#671 fix: webhook and slack retrieving incorrect graph list
  controlplane/package.json
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/test/integrations.test.ts
  controlplane/test/test-util.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane

#672 fix: make the downloaded file name the same as the target name
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/schema.tsx
Labels: studio

#673 fix: improve error handling in the migrator
  controlplane/src/core/services/ApolloMigrator.ts
Labels: controlplane
