Repository wundergraph/cosmo, pull requests merged in 2024-12, with the labels that each got.

#1410 fix: race on client request stop
  router-tests/go.mod
  router-tests/go.sum
  router/core/flushwriter.go
  router/core/graph_server.go
  router/go.mod
  router/go.sum
Labels: router

#1386 feat: add apis to fetch fedGraph, subgraph and namespace by id
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphById.ts
  controlplane/src/core/bufservices/namespace/getNamespace.ts
  controlplane/src/core/bufservices/subgraph/getSubgraphById.ts
  controlplane/src/core/repositories/NamespaceRepository.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, protocol, connect

#1401 feat: add subgraph access logs
  router-tests/go.mod
  router-tests/go.sum
  router-tests/structured_logging_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/request_context_fields.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/requestlogger/requestlogger.go
  router/internal/requestlogger/subgraphlogger.go
  router/internal/requestlogger/subgraphlogger_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1408 feat(router): expose router operation cache metrics
  docker/grafana/provisioning/dashboards/prometheus/router_example_dashboard.json
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/cache_metrics.go
  router/pkg/metric/config.go
  router/pkg/otel/attributes.go
Labels: router

#1417 fix: disable query plan for subscriptions
  .github/codeql-config.yml
  playground/src/components/playground/index.tsx
  playground/src/components/playground/types.ts
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/types.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, router

#1419 feat: add NATS reconnect handling
  router-tests/structured_logging_test.go
  router/core/executor.go
  router/core/router.go
  router/pkg/pubsub/nats/nats.go
Labels: router

#1420 chore: improve NATS connection message
  router-tests/nats_events_test.go
  router-tests/structured_logging_test.go
  router/core/executor.go
Labels: router

#1411 fix: update packages to address vulnerabilities
  admission-server/package.json
  cdn-server/cdn/package.json
  cdn-server/cdn/src/index.ts
  cdn-server/package.json
  cli/package.json
  composition/package.json
  controlplane/package.json
  package.json
  playground/package.json
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  shared/package.json
  studio/package.json
Labels: studio, monorepo, controlplane, cli, router

#1418 feat: use configurable heartbeat to speed up tests
  router-tests/go.mod
  router-tests/go.sum
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
Labels: router

#1422 fix: update default value for subgraph fetch operation name
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1421 feat(router): add request_error boolean field to access logs
  router-tests/structured_logging_test.go
  router/core/engine_loader_hooks.go
  router/core/header_rule_engine.go
  router/core/request_context_fields.go
  router/internal/requestlogger/subgraphlogger.go
  router/pkg/config/config.schema.json
Labels: router

#1427 chore: add reo
  studio/next.config.mjs
  studio/src/components/app-provider.tsx
  studio/src/components/user-menu.tsx
  studio/src/lib/track.ts
Labels: studio

#1367 feat: ensure consistent hash for operations
  router-tests/graphql_metrics_test.go
  router-tests/normalization_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry_test.go
  router-tests/websocket_module_test.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/pkg/trace/meter.go
Labels: router

#1415 feat: add error message on invalid JSON in edfs message
  router-tests/go.mod
  router-tests/go.sum
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/go.mod
  router/go.sum
Labels: router

#1432 fix: tailwind entry point for newer Node.js versions
  playground/tailwind.config.js
  studio/tailwind.config.js
Labels: studio

#1436 fix(router): add missing telemetry config
  router/cmd/instance.go
Labels: router

#1433 fix: panic when normalizing multi operation documents
  router-tests/normalization_cache_test.go
  router-tests/persisted_operations_test.go
  router-tests/testdata/cdn/organization/graph/operations/my-client/dc67510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/724399f210ef3f16e6e5427a70bb9609ecea7297e99c3e9241d5912d04eabe60.json
  router/core/operation_processor.go
Labels: router

#1435 fix(APQ): set normalization cache hit stat correctly
  router-tests/automatic_persisted_queries_test.go
  router/core/operation_processor.go
Labels: router

#1423 feat: implement otel cardinality limit
  router/bench-random.js
  router/cmd/instance.go
  router/core/graph_server.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
Labels: router

#1444 chore: update persisted query not found error message
  router-tests/automatic_persisted_queries_test.go
  router-tests/persisted_operations_over_get_test.go
  router-tests/persisted_operations_test.go
  router/core/errors.go
Labels: router

#1445 fix(router): ensure subgraph access logs handles null requests/errors
  router-tests/go.mod
  router-tests/go.sum
  router-tests/structured_logging_test.go
  router/core/engine_loader_hooks.go
  router/core/request_context_fields.go
  router/go.mod
  router/go.sum
  router/internal/requestlogger/subgraphlogger.go
  router/internal/requestlogger/subgraphlogger_test.go
Labels: router

#1443 feat: edfs nats create bespoke consumer per router instance and
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/router-configuration/router-configuration.ts
  composition/src/utils/constants.ts
  composition/src/utils/integer-constants.ts
  composition/src/utils/string-constants.ts
  composition/src/warnings/warnings.ts
  composition/tests/events.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employeeupdated/subgraph/schema.graphqls
  demo/pkg/subgraphs/subgraphs.go
  proto/wg/cosmo/node/v1/node.proto
  router-tests/go.mod
  router-tests/testenv/testenv.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/router.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/pkg/pubsub/nats/nats.go
  shared/src/router-config/graphql-configuration.ts
Labels: protocol, connect, router

#1449 fix(router): ensure subgraph timeouts/nil responses are handled correctly
  router-tests/header_propagation_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Labels: router

#1451 fix: router playground cursor visibility
  playground/src/theme.css
  router/internal/graphiql/graphiql.html
Labels: router

#1438 feat(router): support traffic shaping rules on subgraph level
  router-tests/telemetry_test.go
  router-tests/timeout_test.go
  router/cmd/instance.go
  router/core/graph_server.go
  router/core/router.go
  router/core/timout_transport.go
  router/core/timout_transport_test.go
  router/core/transport.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1437 feat: implement cache warmup using filesystem
  demo/go.mod
  demo/go.sum
  docker/grafana/provisioning/dashboards/prometheus/router_example_dashboard.json
  router-tests/cache_warmup_test.go
  router-tests/file_upload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testdata/cache_warmup/invalid/employees.unsupported
  router-tests/testenv/testdata/cache_warmup/invalid/invalid-2.graphql
  router-tests/testenv/testdata/cache_warmup/invalid/invalid.graphql
  router-tests/testenv/testdata/cache_warmup/json/graphql.json
  router-tests/testenv/testdata/cache_warmup/json/item.json
  router-tests/testenv/testdata/cache_warmup/json/item_with_client.json
  router-tests/testenv/testdata/cache_warmup/json_po/graphql.json
  router-tests/testenv/testdata/cache_warmup/json_variables/graphql.json
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_a.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_b.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_c.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_d.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_e.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_f.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_g.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_h.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_i.graphql
  router-tests/testenv/testdata/cache_warmup/rate_limit/employees_j.graphql
  router-tests/testenv/testdata/cache_warmup/simple/employees.gql
  router-tests/testenv/testdata/cache_warmup/simple/employees.graphql
  router-tests/testenv/testdata/cache_warmup/simple/nested/nested.gql
  router-tests/testenv/testenv.go
  router-tests/timeout_test.go
  router/cmd/instance.go
  router/core/cache_warmup.go
  router/core/cache_warmup_filesystem.go
  router/core/cache_warmup_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/header_rule_engine.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/router.go
  router/core/transport.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/persistedoperation/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/trace/meter.go
Labels: router

#1446 chore(deps): bump crypto dependency to latest version
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics, aws-lambda-router

#1457 feat(router): make header size configurable
  router-tests/graphql_over_http_test.go
  router/core/http_server.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1458 fix: remove double frontend requests to controlplane
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio

#1473 feat: upgrade go to 1.23
  .github/actions/build-push-image/action.yaml
  .github/actions/go-linter/action.yaml
  .github/actions/go/action.yaml
  .github/actions/image-scan/action.yaml
  .github/workflows/router-ci.yaml
  CONTRIBUTING.md
  Makefile
  aws-lambda-router/Makefile
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/go.mod
  connect-go/go.mod
  connect-go/go.sum
  demo/Dockerfile.availability
  demo/Dockerfile.countries
  demo/Dockerfile.employees
  demo/Dockerfile.family
  demo/Dockerfile.hobbies
  demo/Dockerfile.mood
  demo/Dockerfile.products
  demo/Dockerfile.products_fg
  demo/go.mod
  demo/go.sum
  graphqlmetrics/Dockerfile
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  otelcollector/Dockerfile
  router-tests/go.mod
  router-tests/go.sum
  router/Dockerfile
  router/custom.Dockerfile
  router/go.mod
  router/go.sum
Labels: monorepo, router, graphqlmetrics, aws-lambda-router

#1474 chore: reduce the timeout for clickhouse and platform service
  controlplane/src/core/build-server.ts
  controlplane/src/core/plugins/clickhouse.ts
  controlplane/src/core/routes.ts
Labels: controlplane

#1475 feat: tolerate initial JWK error
  .github/actions/build-push-image/action.yaml
  router-tests/authentication_test.go
  router-tests/modules/set_scopes_test.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/pkg/authentication/jwks_token_decoder.go
Labels: router
