Repository wundergraph/cosmo, pull requests merged in 2024-11, with the labels that each got.

#1332 chore: sync go work dependencies
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1333 fix: playground undefined and callee error
  package.json
  playground/src/components/playground/index.tsx
  playground/src/components/playground/types.ts
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/custom-scripts.tsx
  studio/src/components/playground/types.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, monorepo, router

#1328 feat(telemetry): improve memory consumption
  CONTRIBUTING.md
  docker-compose.yml
  package.json
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router/bench.js
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/router_metrics.go
  router/core/transport.go
  router/pkg/cors/utils.go
  router/pkg/metric/meter.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Labels: monorepo, router

#1329 fix(prometheus): reduce buckets to prevent cardinality issues
  router/pkg/metric/meter.go
Labels: router

#1334 chore: upgrade github.com/goccy/go-yaml to pick up fixes
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/go.mod
  composition-go/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics, aws-lambda-router

#1335 chore(deps): sync pnpm version into Dockerfiles
  admission-server/Dockerfile
  cdn-server/Dockerfile
  controlplane/Dockerfile
  studio/Dockerfile
Labels: studio, controlplane, internally-reviewed

#1336 feat: context handling performance & memory improvements
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/response_compression_test.go
  router/core/context.go
  router/core/flushwriter.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/transport.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage.go
  router/pkg/graphqlschemausage/schemausage_test.go
Labels: router, aws-lambda-router

#1330 feat(router): implement automatic persistent queries (apq)
  router-tests/automatic_persisted_queries_test.go
  router-tests/persisted_operations_over_get_test.go
  router-tests/persisted_operations_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/http_graphql_error.go
  router/core/init_config_poller.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/router.go
  router/core/websocket.go
  router/internal/persistedoperation/README.md
  router/internal/persistedoperation/apq/client.go
  router/internal/persistedoperation/apq/redis.go
  router/internal/persistedoperation/cache.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cache.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1339 fix: fix goccy
  router-tests/go.mod
  router-tests/graphql_over_http_test.go
  router-tests/integration_test.go
  router-tests/persisted_operations_over_get_test.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/go.mod
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/pkg/authentication/context.go
  router/pkg/authentication/initial_payload_authenticator.go
  router/pkg/config/json_schema.go
Labels: router

#1340 fix: revert APQ due to memory leak
  router-tests/automatic_persisted_queries_test.go
  router-tests/persisted_operations_over_get_test.go
  router-tests/persisted_operations_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/http_graphql_error.go
  router/core/init_config_poller.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/router.go
  router/core/websocket.go
  router/internal/persistedoperation/README.md
  router/internal/persistedoperation/apq/client.go
  router/internal/persistedoperation/apq/redis.go
  router/internal/persistedoperation/cache.go
  router/internal/persistedoperation/cdn/client.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cache.go
  router/internal/persistedoperation/s3/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1338 fix: max call stack reached while inserting operation usage of checks
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/util.ts
Labels: controlplane

#1342 refactor: unify error metrics
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/errors.go
  router/core/operation_metrics.go
  router/core/transport.go
  router/pkg/otel/attributes.go
Labels: router

#1344 feat(graphqlmetrics): implement more efficient batching of clickhouse entries
  .run/graphqlmetrics.run.xml
  go.work.sum
  graphqlmetrics/.env.example
  graphqlmetrics/cmd/main.go
  graphqlmetrics/config/config.go
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/core/telemetry_test.go
  graphqlmetrics/go.mod
  graphqlmetrics/pkg/batch/processor.go
  graphqlmetrics/pkg/batch/processor_test.go
Labels: graphqlmetrics

#1345 chore: improve buffer usage
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/transport.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1347 chore: update engine
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1346 feat: add apq back in
  router-tests/automatic_persisted_queries_test.go
  router-tests/persisted_operations_over_get_test.go
  router-tests/persisted_operations_test.go
  router-tests/testenv/testenv.go
  router/Profiling.md
  router/cmd/instance.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/http_graphql_error.go
  router/core/init_config_poller.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/router.go
  router/core/websocket.go
  router/internal/persistedoperation/README.md
  router/internal/persistedoperation/apq/client.go
  router/internal/persistedoperation/apq/redis.go
  router/internal/persistedoperation/cache.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cache.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1348 fix: improve batch processing
  .run/GQLMetrics E2E.run.xml
  graphqlmetrics/cmd/main.go
  graphqlmetrics/config/config.go
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/core/telemetry_test.go
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  graphqlmetrics/pkg/batch/processor.go
  graphqlmetrics/pkg/batch/processor_test.go
  graphqlmetrics/pkg/batchprocessor/batchprocessor.go
  graphqlmetrics/pkg/batchprocessor/batchprocessor_test.go
Labels: graphqlmetrics

#1351 fix(router): l2 cache uses client name in key, persisted operation not found returns 200
  router-tests/automatic_persisted_queries_test.go
  router-tests/persisted_operations_over_get_test.go
  router-tests/persisted_operations_test.go
  router/core/errors.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
Labels: router

#1331 fix: default metric temporality selector and override the selector for the cloud endpoint
  router/pkg/metric/meter.go
  router/pkg/metric/meter_test.go
  router/pkg/otel/otelconfig/otelconfig.go
Labels: router

#1352 fix(graphqlmetrics): improve batch preparation
  go.work.sum
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
Labels: graphqlmetrics

#1353 chore: revert sum mods
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
Labels: graphqlmetrics

#1349 fix(router): don't flush all redis keys while shutdown
  router/core/router.go
Labels: router

#1350 fix: json parsing and input templates rendering
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1359 feat(router): allow exclusion of OTLP metrics via configuration
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
Labels: router

#1360 feat: display warning in wgc router compose command
  cli/src/commands/router/commands/compose.ts
Labels: cli

#1361 fix: enable redis url injection via env var, allow apq from diff clients
  router-tests/automatic_persisted_queries_test.go
  router/internal/persistedoperation/apq/client.go
  router/internal/persistedoperation/apq/redis.go
  router/pkg/config/config.go
Labels: router

#1343 chore(router): use automic's CAS to allow to shutdown the router concurrently
  router/core/router.go
Labels: router

#1362 fix(router): use OTLP separators for regex
  router-tests/telemetry_test.go
  router/pkg/metric/meter.go
Labels: router

#1365 fix: variables normalization for the anonymous operations
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1355 feat: add subgraph property to Warnings
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/warnings/warnings.ts
  composition/tests/external.test.ts
  composition/tests/fieldset-directives.test.ts
  composition/tests/interfaces.test.ts
  composition/tests/override.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/composition-warnings.test.ts
Labels: controlplane

#1373 fix: fix merging of response nodes of enum type
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1371 feat(router): enable setting request header from context
  router-tests/headers_test.go
  router/core/graph_server.go
  router/core/header_rule_engine.go
  router/core/request_context_fields.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Labels: router

#1364 fix(router): refactor complexity limits
  router-tests/complexity_limits_test.go
  router-tests/integration_test.go
  router-tests/telemetry_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/otel/attributes.go
Labels: router

#1369 feat(graphqlmetrics): allow measurement of total request count per day
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/migrations/20241113104046_add_gql_metrics_router_requests.sql
Labels: graphqlmetrics

#1380 fix(tests): deadlock on unsubscribe when epoll disabled
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/websocket_test.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1375 fix(router): ensure that cors wildcard support is enabled
  router-tests/cors_test.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Labels: router

#1377 feat: add pagination to operations page in check summary
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/check/createIgnoreOverridesForAllOperations.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/toggleChangeOverridesForAllOperations.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/operations.tsx
  studio/src/components/ui/pagination.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Labels: studio, controlplane, protocol, connect

#1381 feat: better epoll detection, allow to disable epoll
  Makefile
  demo/go.mod
  demo/go.sum
  router-tests/cors_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/headers_test.go
  router-tests/kafka_events_test.go
  router-tests/nats_events_test.go
  router-tests/structured_logging_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: monorepo, router

#1376 refactor(graphqlmetrics): dont store raw data for intermediate table, use NULL engine
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/migrations/20241115112140_drop_gql_metrics_schema_usage_table.sql
  graphqlmetrics/migrations/20241115112150_use_null_table_for_raw_schema_usage_data.sql
Labels: graphqlmetrics

#1385 fix: fix regression on removing null variables which was undefined
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1389 fix: pagination ui of operations
  studio/src/components/checks/operations.tsx
  studio/src/components/ui/pagination.tsx
Labels: studio

#1391 fix: text overflow of composition errors and warnings
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
Labels: studio

#1392 feat: add validation for V2 @external directive
  .github/codeql-config.yml
  .github/workflows/codeql.yml
  composition-go/index.global.js
  composition/README.md
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/federation/walkers.ts
  composition/src/index.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/normalization/walkers.ts
  composition/src/resolvability-graph/graph.ts
  composition/src/schema-building/type-definition-data.ts
  composition/src/schema-building/type-extension-data.ts
  composition/src/schema-building/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/warnings/warnings.ts
  composition/tests/external.test.ts
  composition/tests/fieldset-directives.test.ts
  controlplane/test/composition-warnings.test.ts
Labels: controlplane

#1390 feat(router): add ability to set auth scopes in custom module
  router-tests/modules/custom-set-scopes/module.go
  router-tests/modules/module_test.go
  router-tests/modules/set_scopes_test.go
  router/pkg/authentication/authentication.go
Labels: router

#1393 chore: release helm-cosmo 0.12.3 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1395 fix: ensure metric emission even when slice attr is empty
  router-tests/telemetry_test.go
  router/core/engine_loader_hooks.go
  router/pkg/metric/prom_metric_store.go
Labels: router

#1396 feat: add grafana to docker compose
  Makefile
  docker-compose.yml
  docker/README.md
  docker/grafana/provisioning/dashboards/main.yml
  docker/grafana/provisioning/dashboards/prometheus/go_runtime_metrics_qs.json
  docker/grafana/provisioning/datasources/datasources.yml
Labels: monorepo

#1394 feat(router): allow operation name propagation
  router-tests/go.mod
  router-tests/go.sum
  router-tests/query_plans_test.go
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name_and_path.json
  router/core/executor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1399 docs: improve development documentation
  CONTRIBUTING.md
  router/pkg/config/config.schema.json
Labels: router

#1398 fix: error ordering for traces
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/getColumnData.tsx
  studio/src/components/analytics/metrics.tsx
Labels: studio, controlplane, protocol, connect

#1402 fix: ensure that apq alone (without persistent operations enabled) works
  router-tests/automatic_persisted_queries_test.go
  router/internal/persistedoperation/client.go
Labels: router

#1400 fix: move runtime metric store to graph server
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/context.go
  router/core/graph_server.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/router_runtime_metrics.go
Labels: router

#1404 fix: scrollable dropdown
  studio/src/components/ui/dropdown-menu.tsx
Labels: studio

#1405 fix: have enable_subgraph_fetch_operation_name default to false
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
Labels: router
