Repository wundergraph/cosmo, pull requests merged in 2024-06, with the labels that each got.

#846 fix: reset queries on organization change
  studio/src/components/app-provider.tsx
  studio/src/components/dashboard/NamespaceSelector.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/audit-log.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/lint-policy.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/usages.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio

#848 fix: fallback to router schema if client schema does not exist
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Labels: studio

#847 fix: missing namespace in github check details link
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/GitHubRepository.ts
Labels: controlplane

#849 fix: set transport on org change
  studio/src/components/app-provider.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Labels: studio

#851 fix: poor performance on sdl due to anchor tags
  studio/src/components/schema/sdl-viewer-monaco.tsx
Labels: studio

#792 chore: add graph feature flag adr
  adr/graph-feature-flags.md
  rfc/graph-feature-flags-v2.md
  rfc/graph-feature-flags.md
Labels: Stale

#852 feat: admission webhook signature
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/graph/federated-graph/commands/create.ts
  cli/src/commands/graph/federated-graph/commands/update.ts
  cli/src/commands/graph/monograph/commands/create.ts
  cli/src/commands/graph/monograph/commands/update.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0089_swift_malice.sql
  controlplane/migrations/meta/0089_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/ContractRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/services/AdmissionWebhookController.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#856 feat: allow to add custom OTEL attributes
  otelcollector/otel-config.yaml
  router-tests/prometheus_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/engine_loader_hooks.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/router.go
  router/core/router_metrics.go
  router/core/transport.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
  router/pkg/trace/config.go
  router/pkg/trace/meter.go
  router/pkg/trace/middleware.go
  router/pkg/trace/middleware_test.go
Labels: router

#855 feat: handle creating, publishing, and updating Event-Driven Graphs
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/utils.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  cli/src/constants.ts
  composition-go/index.global.js
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/walkers.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0090_light_inhumans.sql
  controlplane/migrations/meta/0090_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/ApolloMigrator.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/contracts.test.ts
  controlplane/test/create-subgraph.test.ts
  controlplane/test/label.test.ts
  controlplane/test/monograph.test.ts
  controlplane/test/namespace.test.ts
  controlplane/test/publish-subgraph.test.ts
  controlplane/test/test-util.ts
  controlplane/test/update-subgraph.test.ts
  demo/go.mod
  demo/go.sum
  proto/wg/cosmo/platform/v1/platform.proto
  router-tests/go.mod
  router-tests/go.sum
Labels: controlplane, cli, protocol, connect, aws-lambda-router

#858 fix: match option ref to -edg flag
  cli/src/commands/subgraph/commands/create.ts
Labels: cli

#836 chore: add external fields to router execution config
  composition-go/index.global.js
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/router-configuration/router-configuration.ts
  composition/tests/entities.test.ts
  composition/tests/events.test.ts
  composition/tests/fieldset-directives.test.ts
  composition/tests/router-configuration.test.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router-tests/testenv/testdata/config.json
  router/core/factoryresolver.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/graphql-configuration.ts
  shared/test/__snapshots__/router.config.test.ts.snap
Labels: protocol, connect, router

#865 chore(cli): add support for .env for development
  cli/.env.example
  cli/README.md
  cli/package.json
Labels: cli

#829 feat: add subscripion protocol and ws subprotocol to ui
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/ContractRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
Labels: studio, controlplane, protocol, connect, Stale

#875 fix: migrate button should respect namespace
  cli/package.json
  cli/src/commands/router/commands/compose.ts
  pnpm-lock.yaml
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio, monorepo, cli

#874 fix: client schema usage, update wgc router compose to use client schema
  router/core/executor.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Labels: router

#867 fix: requires planning, normalization of default values
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#857 fix: link composition from changelog
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/changelog/changelog.tsx
  studio/src/components/changelog/changes.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/changelog/[schemaVersionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/changelog/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
Labels: studio, controlplane, protocol, connect

#859 fix: ignore directive changes instead of throwing
  controlplane/src/core/services/SchemaUsageTrafficInspector.test.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
Labels: controlplane

#882 fix: empty admission webhook secret
  controlplane/src/core/repositories/FederatedGraphRepository.ts
Labels: controlplane

#881 fix(engine-update): processing websockets dials asynchronously
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/websocket_stats.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#884 fix: cleanup inspectable check
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, protocol, connect

#887 feat: add config option to enable subgraph minify
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/core/executor.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#888 fix: merging response nodes
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#772 feat: support file upload in router
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/injector/http.go
  demo/pkg/subgraphs/demo.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  go.work
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/file_upload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/parse_multipart.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/middleware/request_size.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, graphqlmetrics, aws-lambda-router

#896 feat: allow to disable file uploads
  router-tests/file_upload_test.go
  router/cmd/instance.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#897 fix: fix merging response nodes edge cases
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#899 fix: support charset in content-type
  router-tests/integration_test.go
  router/core/graphql_prehandler.go
Labels: router
