Repository wundergraph/cosmo, pull requests merged in 2024-08, with the labels that each got.

#990 chore: improve handling and error reporting of exported default varia…
  router/core/context.go
  router/core/graph_server.go
  router/core/header_rule_engine_test.go
  router/core/modules_test.go
  router/core/operation_processor.go
  router/core/websocket.go
Labels: router

#971 feat: implement s3 provider for config and persistent operations
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/go.mod
  composition-go/go.sum
  controlplane/src/core/repositories/SubgraphRepository.ts
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/config_hot_reload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/.gitignore
  router/cmd/instance.go
  router/config.yaml
  router/core/errors.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/cdn/persisted_operation.go
  router/internal/graphqlmetrics/attributes.go
  router/internal/httpclient/retryableclient.go
  router/internal/persistedoperation/cache.go
  router/internal/persistedoperation/cdn/client.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/s3/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_events_kafka_test.go
  router/pkg/config/config_events_nats_test.go
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/json_schema.go
  router/pkg/config/marshaler.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/configpoller/config_poller.go
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/client.go
  router/pkg/routerconfig/s3/client.go
Labels: controlplane, router, aws-lambda-router

#987 feat: set GOMEMLIMIT automatically
  go.work.sum
  router/cmd/instance.go
  router/go.mod
  router/go.sum
Labels: router

#963 feat(graphqlmetrics): enable prometheus metrics
  graphqlmetrics/.env.example
  graphqlmetrics/cmd/main.go
  graphqlmetrics/config/config.go
  graphqlmetrics/core/authentication.go
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/core/server.go
  graphqlmetrics/core/telemetry_test.go
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  graphqlmetrics/pkg/telemetry/config.go
  graphqlmetrics/pkg/telemetry/constants.go
  graphqlmetrics/pkg/telemetry/interceptor.go
  graphqlmetrics/pkg/telemetry/prometheus_metrics.go
  graphqlmetrics/pkg/telemetry/prometheus_metrics_store.go
  graphqlmetrics/pkg/telemetry/prometheus_server.go
  graphqlmetrics/pkg/utils/claims.go
  helm/cosmo/README.md
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/charts/graphqlmetrics/Chart.yaml
  helm/cosmo/charts/graphqlmetrics/README.md
  helm/cosmo/charts/graphqlmetrics/templates/config-map.yaml
  helm/cosmo/charts/graphqlmetrics/templates/deployment.yaml
  helm/cosmo/charts/graphqlmetrics/templates/pod-monitoring.yaml
  helm/cosmo/charts/graphqlmetrics/templates/service.yaml
  helm/cosmo/charts/graphqlmetrics/values.yaml
  helm/cosmo/values.yaml
Labels: graphqlmetrics

#996 fix: wrong otelhttp used
  go.work.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics

#995 fix: config poller is not required when static config is passed
  router/core/router.go
Labels: router

#998 feat: allow disabling cors
  router/cmd/instance.go
  router/core/graph_server.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Labels: router

#999 fix: replace jsonparser with fastjson to delete exported variables
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router, aws-lambda-router

#1001 chore: remove confusing log (grpc does not allow setting paths)
  router/pkg/config/config.schema.json
  router/pkg/metric/meter.go
Labels: router

#1004 fix: normalization overrides
  router-tests/graphql_over_http_test.go
  router-tests/normalization_test.go
  router/core/operation_processor.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1007 fix(controlplane): don't enable prom by default
  controlplane/.env.example
  controlplane/src/core/env.schema.ts
Labels: controlplane

#1006 chore: upgrade lerna
  package.json
  pnpm-lock.yaml
Labels: monorepo

#1003 chore: update keycloak
  controlplane/package.json
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
  keycloak/Dockerfile
  pnpm-lock.yaml
Labels: monorepo, controlplane

#1011 fix: avoid infinite recursion in openapi call
  controlplane/package.json
  controlplane/src/core/openai-graphql/index.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane

#1010 fix: get discussions only when targetId exists
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Labels: studio

#1008 feat(controlplane): add overriding the mailing options
  controlplane/.env.example
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/services/Mailer.ts
  controlplane/src/index.ts
  controlplane/src/types/index.ts
  controlplane/test/authentication.test.ts
  controlplane/test/test-util.ts
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/values.yaml
Labels: controlplane

#1002 feat: add priority to modules
  router-tests/modules/module_test.go
  router/cmd/custom/module/module.go
  router/core/modules.go
  router/core/modules_test.go
  router/core/router.go
Labels: router

#1012 feat: new approach to pass execution config by file
  router/cmd/instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/json_schema.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1013 feat: config file watcher
  aws-lambda-router/internal/router.go
  router-tests/router_config_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/cmd/main.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/selfregister/self_register.go
  router/pkg/execution_config/routerconfig.go
  router/pkg/file_watcher/file_watcher.go
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/s3/client.go
Labels: router, aws-lambda-router

#997 chore: ensure that go mod is clean in the ci
  .github/actions/go-linter/action.yaml
  .github/actions/go-mod-tidy/action.yaml
  .github/workflows/aws-lambda-router-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/router-ci.yaml
  go.work.sum
  router/go.mod
  router/go.sum
Labels: router

#1028 chore: update config instructions in readme
  router/__schemas/README.md
Labels: router

#1037 fix: incorrect deletions count in slack notification
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Labels: controlplane

#960 feat: add command to create and publish feature subgraph in one command
  cli/src/commands/feature-subgraph/commands/publish.ts
  cli/src/commands/feature-subgraph/index.ts
  cli/src/commands/subgraph/commands/create.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/.eslintrc
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#1044 feat: global override for all operations in check
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/db/models.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Labels: studio, controlplane, protocol, connect

#1055 chore: reduce cli install size
  cli/package.json
  composition/package.json
  controlplane/package.json
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo, controlplane, cli

#1058 chore: release helm-cosmo-router 0.5.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1062 chore: release helm-cosmo-router 0.6.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1064 fix: make full-demo-up failure
  Makefile
Labels: monorepo

#1057 chore: release helm-cosmo 0.8.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1071 chore: release helm-cosmo 0.8.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1076 chore: release helm-cosmo-router 0.6.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1078 fix(cli-compose): feature subgraph introspection
  cli/src/commands/router/commands/compose.ts
  controlplane/src/core/workers/AIGraphReadmeWorker.ts
  controlplane/src/core/workers/DeleteOrganizationWorker.ts
  demo/cmd/test1/README.md
  demo/cmd/test1/main.go
  demo/run_subgraphs.sh
  router/__schemas/compose.sh
Labels: controlplane, cli, router

#1077 feat: expose query plans through response extensions field
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  aws-lambda-router/internal/router.go
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/kafka_events_test.go
  router-tests/query_plans_test.go
  router-tests/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan.json
  router-tests/testdata/fixtures/query_plans/response_without_query_plan.json
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/context.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/request_tracing.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/art/timing.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/otel/attributes.go
Labels: router, aws-lambda-router

#1079 fix: always upload correct contract schemas
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/test/contracts.test.ts
  controlplane/test/test-data/contracts/products-v2.graphql
  controlplane/test/test-data/contracts/products.graphql
  controlplane/test/test-data/contracts/users.graphql
Labels: controlplane

#1080 chore: engine version bump
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1005 chore: add more external validation
  cli/src/commands/router/commands/compose.ts
  composition-go/index.global.js
  composition-go/shim/src/index.ts
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/federation-factory.ts
  composition/src/federation/utils.ts
  composition/src/federation/walkers.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/normalization/utils.ts
  composition/src/normalization/walkers.ts
  composition/src/router-configuration/router-configuration.ts
  composition/src/schema-building/utils.ts
  composition/src/subgraph/subgraph.ts
  composition/src/warnings/warnings.ts
  composition/tests/arguments.test.ts
  composition/tests/authorization-directives.test.ts
  composition/tests/contracts.test.ts
  composition/tests/directives.test.ts
  composition/tests/entities.test.ts
  composition/tests/entity-interface.test.ts
  composition/tests/enums.test.ts
  composition/tests/events.test.ts
  composition/tests/external.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/fieldset-directives.test.ts
  composition/tests/inaccessible.test.ts
  composition/tests/inputs.test.ts
  composition/tests/interfaces.test.ts
  composition/tests/normalization-utils.test.ts
  composition/tests/normalization.test.ts
  composition/tests/objects.test.ts
  composition/tests/override.test.ts
  composition/tests/resolvability.test.ts
  composition/tests/router-configuration.test.ts
  composition/tests/shareable.test.ts
  composition/tests/subscription-filter.test.ts
  composition/tests/union.test.ts
  composition/tests/unions.test.ts
  composition/tests/v2-directives.test.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
  shared/src/router-config/graphql-configuration.ts
  shared/test/required-field.test.ts
  shared/test/router.config.test.ts
Labels: controlplane, cli, protocol, connect, router

#1081 feat: make file watcher more robust
  go.work.sum
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/file_watcher/file_watcher.go
  router/pkg/watcher/watcher.go
  router/pkg/watcher/watcher_test.go
Labels: router

#1086 fix: polyfill crypto.randomUUID for localhost
  playground/src/App.tsx
  playground/src/lib/random-uuid.ts
  router/internal/graphiql/graphiql.html
Labels: router

#1083 fix: dont initialize persisted operation client when disabled
  router/core/router.go
Labels: router

#1089 fix: don't propagate client content negotiation headers with wildcard
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Labels: router

#1069 fix: semaphore is not released after panic
  router-tests/panic_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/access_controller.go
  router/core/errors.go
  router/core/graphql_prehandler.go
  router/core/http_graphql_error.go
  router/core/input_error.go
  router/core/modules.go
  router/core/modules_test.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/parse_multipart.go
  router/core/router.go
  router/core/websocket.go
Labels: router

#1088 feat: export cli cmds output in json
  cli/src/commands/auth/commands/whoami.ts
  cli/src/commands/feature-flag/commands/create.ts
  cli/src/commands/feature-flag/commands/update.ts
  cli/src/commands/feature-subgraph/commands/publish.ts
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/monograph/commands/list.ts
  cli/src/commands/namespace/commands/list.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/core/types/types.ts
  cli/src/handle-feature-flag-result.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#918 feat: handle websocket authentication via initial payload
  router-tests/authentication_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/router.go
  router/core/websocket.go
  router/pkg/authentication/authentication.go
  router/pkg/authentication/context.go
  router/pkg/authentication/http_header_authenticator.go
  router/pkg/authentication/initial_payload_authenticator.go
  router/pkg/authentication/jwks_token_decoder.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1095 feat: implement more efficient aggregation of schema usage metrics with caching
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.proto
  router/core/context.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_planner.go
  router/core/router.go
  router/core/router_metrics.go
  router/core/websocket.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/internal/graphqlmetrics/aggregate.go
  router/internal/graphqlmetrics/aggregate_test.go
  router/internal/graphqlmetrics/aggregation.go
  router/internal/graphqlmetrics/batch_queue.go
  router/internal/graphqlmetrics/batch_queue_test.go
  router/internal/graphqlmetrics/exporter.go
  router/internal/graphqlmetrics/exporter_test.go
  router/internal/graphqlmetrics/noop_exporter.go
  router/pkg/graphqlschemausage/schemausage.go
  router/pkg/graphqlschemausage/schemausage_test.go
  router/pkg/metric/meter.go
  router/pkg/trace/meter.go
  router/pkg/trace/utils_test.go
Labels: protocol, router, graphqlmetrics

#1098 fix: retry webhook POST requests
  controlplane/src/core/services/AdmissionWebhookController.ts
  controlplane/src/core/util.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
  controlplane/src/core/webhooks/RedeliverWebhookService.ts
Labels: controlplane

#1097 fix: use uuid for config version in compose command
  cli/src/commands/router/commands/compose.ts
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane, cli

#1096 fix: schema search ui
  studio/src/components/ui/command.tsx
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Labels: studio

#1082 feat: enable sentry usage in studio
  pnpm-lock.yaml
  studio/.env.docker
  studio/.env.local.example
  studio/.gitignore
  studio/Dockerfile
  studio/next.config.mjs
  studio/package.json
  studio/sentry.client.config.ts
  studio/sentry.edge.config.ts
  studio/sentry.server.config.ts
  studio/src/components/app-provider.tsx
  studio/src/components/error-fallback.tsx
  studio/src/instrumentation.ts
  studio/src/pages/_app.tsx
  studio/src/pages/_error.jsx
Labels: studio, monorepo

#1099 fix: conflicting requests on reload and dashboard
  studio/src/components/app-provider.tsx
  studio/src/pages/[organizationSlug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/lint-policy.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Labels: studio

#1101 fix: correct output path handling for abs paths
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/feature-subgraph/commands/create.ts
  cli/src/commands/feature-subgraph/commands/publish.ts
  cli/src/commands/graph/common/changelog.ts
  cli/src/commands/graph/common/fetch-schema.ts
  cli/src/commands/graph/federated-graph/commands/create.ts
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/federated-graph/commands/update.ts
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/graph/monograph/commands/create.ts
  cli/src/commands/graph/monograph/commands/list.ts
  cli/src/commands/graph/monograph/commands/publish.ts
  cli/src/commands/graph/monograph/commands/update.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/download-binary.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/fetch.ts
  cli/src/commands/subgraph/commands/fix.ts
  cli/src/commands/subgraph/commands/introspect.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  cli/src/core/config.ts
Labels: cli

#1102 fix: graph fetch base path
  cli/src/commands/graph/federated-graph/commands/fetch.ts
Labels: cli

#973 chore: add rfc for previews
  adr/previews-using-feature-flags.md
  rfc/previews-using-fetaure-flags.md
Labels: Stale

#1104 fix: typo
  studio/.env.local.example
  studio/Dockerfile
Labels: studio

#1106 chore: filter out too short replay sessions
  studio/.env.docker
  studio/.env.local.example
  studio/sentry.client.config.ts
Labels: studio

#1109 fix: unicode escaping by replacing fastjson version
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/products.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testdata/queries/products.graphql
  router-tests/testdata/queries/products.json
  router-tests/testenv/testdata/config.json
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage.go
Labels: router, aws-lambda-router

#1110 feat: add wgc feature-flag list command
  cli/src/commands/feature-flag/commands/list.ts
  cli/src/commands/feature-flag/index.ts
Labels: cli

#1117 fix: features aren't shown as enabled after enabling them
  studio/src/components/app-provider.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
  studio/src/pages/account/invitations.tsx
Labels: studio

#1119 fix: art render
  playground/src/components/playground/index.tsx
  playground/src/theme.css
  router/internal/graphiql/graphiql.html
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/styles/globals.css
  studio/src/styles/playground.css
Labels: studio, router

#1118 chore: release helm-cosmo 0.9.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1127 feat: display and filter for subgraph id
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  studio/src/components/subgraphs-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Labels: studio, controlplane

#1126 fix: show actual error from network in playground
  playground/package.json
  playground/src/components/playground/index.tsx
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/package.json
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, monorepo, router

#1128 feat: option to list only contracts
  cli/src/commands/graph/federated-graph/commands/list.ts
Labels: cli

#1124 feat: enable proxy handling for native fetch and connectrpc calls
  cli/.env.example
  cli/package.json
  cli/src/commands/index.ts
  cli/src/core/client/client.ts
  cli/test/proxy.test.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#1122 chore: release helm-cosmo-router 0.7.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1121 chore: release helm-cosmo 0.10.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1131 fix: support __typename for introspection query
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#1092 fix: planning of provides, parent entity jump, conditional implicit keys, external fields
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan.json
  router/core/factoryresolver.go
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage_test.go
Labels: router, aws-lambda-router
