Repository wundergraph/cosmo, pull requests merged in 2024-04, with the labels that each got.

#676 fix: use printSchemaWithDirectives instead of printSchema
  controlplane/package.json
  controlplane/src/core/composition/composer.ts
  controlplane/test/graphql/federationV1/composedFederatedV1Graph.graphql
  controlplane/test/graphql/federationV2/composedFederatedV2Graph.graphql
  controlplane/test/namespace.test.ts
  demo/go.mod
  demo/go.sum
  pnpm-lock.yaml
Labels: monorepo, controlplane

#675 feat: subgraph error handling and instrumentation
  Makefile
  demo/go.mod
  demo/go.sum
  docker-compose.full.yml
  docker-compose.yml
  go.work.sum
  router-tests/Makefile
  router-tests/authentication_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/prometheus_test.go
  router-tests/ratelimit_test.go
  router-tests/telemetry_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/graphql_handler.go
  router/core/operation_metrics.go
  router/core/router.go
  router/core/transport.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/metric/config.go
  router/pkg/metric/measurements.go
  router/pkg/metric/meter.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
  router/pkg/otel/attributes.go
  router/pkg/trace/config.go
  router/pkg/trace/meter.go
  router/pkg/trace/meter_test.go
Labels: monorepo, router

#686 feat: use offline token, refresh token implementation
  cli/package.json
  cli/src/commands/auth/commands/login.ts
  cli/src/commands/auth/commands/whoami.ts
  cli/src/commands/auth/index.ts
  cli/src/commands/auth/user-config.ts
  cli/src/commands/auth/utils.ts
  cli/src/commands/graph/common/changelog.ts
  cli/src/commands/graph/common/fetch.ts
  cli/src/commands/graph/federated-graph/commands/check.ts
  cli/src/commands/graph/federated-graph/commands/create.ts
  cli/src/commands/graph/federated-graph/commands/delete.ts
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/federated-graph/commands/move.ts
  cli/src/commands/graph/federated-graph/commands/update.ts
  cli/src/commands/graph/federated-graph/index.ts
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/graph/monograph/commands/create.ts
  cli/src/commands/graph/monograph/commands/delete.ts
  cli/src/commands/graph/monograph/commands/list.ts
  cli/src/commands/graph/monograph/commands/migrate.ts
  cli/src/commands/graph/monograph/commands/move.ts
  cli/src/commands/graph/monograph/commands/publish.ts
  cli/src/commands/graph/monograph/commands/update.ts
  cli/src/commands/graph/monograph/index.ts
  cli/src/commands/namespace/commands/create.ts
  cli/src/commands/namespace/commands/delete.ts
  cli/src/commands/namespace/commands/list.ts
  cli/src/commands/namespace/commands/rename.ts
  cli/src/commands/namespace/index.ts
  cli/src/commands/operations/commands/push.ts
  cli/src/commands/operations/index.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/router/commands/token/commands/create.ts
  cli/src/commands/router/commands/token/commands/delete.ts
  cli/src/commands/router/commands/token/commands/list.ts
  cli/src/commands/router/index.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/delete.ts
  cli/src/commands/subgraph/commands/fetch.ts
  cli/src/commands/subgraph/commands/fix.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/commands/subgraph/commands/move.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  cli/src/commands/subgraph/index.ts
  cli/src/core/config.ts
  cli/src/github.ts
  cli/src/utils.ts
  docker/keycloak/realm.json
  helm/cosmo/templates/keycloak-realm.yml
  pnpm-lock.yaml
Labels: monorepo, cli

#687 fix: remove namespace from local storage
  studio/src/components/dashboard/NamespaceSelector.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/lint-policy.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Labels: studio

#688 fix: don't enforce org slug when using API key
  cli/src/commands/auth/utils.ts
Labels: cli

#693 fix: create individual metrics per error code
  router-tests/prometheus_test.go
  router/core/engine_loader_hooks.go
Labels: router

#698 fix: stringify org cookie before comparison
  Makefile
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/app-provider.tsx
  studio/src/hooks/use-cookie-organization.ts
Labels: studio, monorepo

#703 fix: remove unused host-cpu metric
  .run/router.run.xml
  go.work.sum
  router/go.mod
  router/go.sum
  router/pkg/metric/runtime_metrics.go
Labels: router

#702 fix: provide default subscription protocol for composition-go
  cli/src/commands/router/commands/compose.ts
  composition-go/index.global.js
  demo/go.mod
  demo/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  shared/src/router-config/builder.ts
  shared/test/__snapshots__/router.config.test.ts.snap
  shared/test/router.config.test.ts
Labels: cli, graphqlmetrics

#696 fix: align tables make them entire clickable
  studio/src/components/audit-log-table.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/components/layout/sidenav.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/graphs.tsx
Labels: studio

#707 feat: support TLS in organization seed
  controlplane/src/bin/seed.ts
  controlplane/src/core/test-util.ts
  controlplane/test/test-util.ts
Labels: controlplane

#708 chore: user proper version to make go toolchain directive compatible
  .github/workflows/codeql.yml
  aws-lambda-router/Makefile
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/go.mod
  composition-go/go.sum
  demo/go.mod
  demo/go.sum
  go.work
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics, aws-lambda-router

#711 fix: everyone with write access can create api keys
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio

#685 feat: support edfs subscription stream/consumer; multiple subjects
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/router-configuration/router-configuration.ts
  composition/src/utils/constants.ts
  composition/src/utils/string-constants.ts
  composition/tests/arguments.test.ts
  composition/tests/events.test.ts
  composition/tests/normalization.test.ts
  composition/tests/utils/utils.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employeeupdated/subgraph/schema.graphqls
  demo/pkg/subgraphs/subgraphs.go
  docker-compose.yml
  go.work
  go.work.sum
  proto/wg/cosmo/node/v1/node.proto
  router-tests/events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graphql_handler.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/go.mod
  router/go.sum
  router/pkg/pubsub/nats.go
  shared/src/router-config/graphql-configuration.ts
  shared/test/__snapshots__/router.config.test.ts.snap
Labels: protocol, connect, router, aws-lambda-router

#705 chore: bump engine version
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#714 chore: add make cmd to always properly sync workspace deps
  Makefile
  aws-lambda-router/Makefile
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.sum
  router-tests/Makefile
  router-tests/go.mod
  router-tests/go.sum
  router/Makefile
Labels: monorepo, router, aws-lambda-router

#715 chore: rename stream configuration consumer to consumerName
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/normalization/normalization-factory.ts
  composition/src/router-configuration/router-configuration.ts
  composition/src/utils/constants.ts
  composition/src/utils/string-constants.ts
  composition/tests/events.test.ts
  composition/tests/federation-factory.test.ts
  composition/tests/normalization.test.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  demo/pkg/subgraphs/employeeupdated/subgraph/schema.graphqls
  go.work.sum
  proto/wg/cosmo/node/v1/node.proto
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testdata/config.json
  router/core/factoryresolver.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/graphql-configuration.ts
Labels: protocol, connect, router, aws-lambda-router

#713 fix: authenticate organization id before updating webhooks
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/Authorization.ts
  controlplane/src/core/test-util.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/scim.test.ts
  controlplane/test/test-util.ts
  controlplane/test/webhooks.test.ts
Labels: controlplane

#697 feat: support Redis connection strings in router
  router-tests/ratelimit_test.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#718 fix: validate whether webhook exists
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/test/webhooks.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, protocol, connect

#719 fix: url overflow in federated graph card
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio

#720 fix: read / set cookie values as strings
  pnpm-lock.yaml
  studio/package.json
  studio/src/hooks/use-cookie-organization.ts
  studio/src/hooks/use-cookie.ts
  studio/src/pages/login.tsx
Labels: studio, monorepo

#721 feat: enable raw introspection for subgraphs
  cli/src/commands/subgraph/commands/introspect.ts
Labels: cli

#724 feat: support entity targets (implicit keys)
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  composition-go/index.global.js
  composition/src/federation/federation-factory.ts
  composition/src/federation/walkers.ts
  composition/tests/entities.test.ts
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#726 chore: update go.mod
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics, aws-lambda-router

#709 fix: let everybody create orgs
  controlplane/src/bin/billing.json
  studio/src/pages/create.tsx
Labels: studio, controlplane

#727 feat: upgrade otelcollector to 0.98.0
  Makefile
  otelcollector/Dockerfile
  otelcollector/otel-config.yaml
  otelcollector/otelcol-builder.yaml
Labels: monorepo

#729 fix: analytics group filter omission
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
Labels: controlplane

#730 fix: organization with access to features should be able to enable them on their own
  studio/src/components/subgraphs-table.tsx
  studio/src/hooks/use-has-feature.ts
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio

#734 fix(trace): improve error tracking
  router-tests/telemetry_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
Labels: router

#736 fix: retry on 500 origin errors
  router/internal/retrytransport/retry_transport.go
  router/internal/retrytransport/retry_transport_test.go
Labels: router

#739 fix: subscriptions resolver race
  go.work.sum
  router/go.mod
  router/go.sum
Labels: router

#741 chore: upgrade engine to v2.0.0-rc.25
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#743 chore: add error propagation mode
  router-tests/integration_test.go
  router-tests/testenv/testenv.go
  router/core/executor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#746 chore: upgrade deps to latest due to found CVEs
  admission-server/package.json
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/package.json
  composition/package.json
  controlplane/package.json
  package.json
  pnpm-lock.yaml
  shared/package.json
  studio/package.json
Labels: studio, monorepo, controlplane, cli

#747 fix: graphql error serialization
  router/go.mod
  router/go.sum
Labels: router

#750 fix: upgrade deps to cover CVEs
  cdn-server/cdn/package.json
  cli/package.json
  composition-go/shim/package.json
  controlplane/package.json
  keycloak/theme/package-lock.json
  keycloak/theme/package.json
  playground/package.json
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo, controlplane, cli

#753 feat: log subgraph errors
  controlplane/.env.example
  router/core/errors.go
  router/core/graphql_handler.go
Labels: router

#742 feat: add apollo compatibility mode in wgc federated-graph fetch command
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/index.ts
  cli/src/commands/graph/federated-graph/utils.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0086_shiny_dreaming_celestial.sql
  controlplane/migrations/meta/0086_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, cli, protocol, connect

#757 fix: set default ws subscription subprotocol
  router-tests/websocket_test.go
  router/core/factoryresolver.go
Labels: router

#758 fix: field selection validation
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#754 fix: scim server issues
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/controllers/scim.ts
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio, controlplane

#761 fix: normalization of non-compatible nested fragment types
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  go.work.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, aws-lambda-router

#760 fix: add fetch-schema command to replace the old functionality of the fetch cmd
  cli/src/commands/graph/common/fetch-schema.ts
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/index.ts
  cli/src/commands/graph/monograph/index.ts
Labels: cli
