Repository wundergraph/cosmo, pull requests merged in 2025-02, with the labels that each got.

#1562 fix: incorrect graphql endpoint in playground
  playground/src/components/playground/index.tsx
  router/core/router.go
  router/internal/graphiql/graphiql.html
  router/internal/graphiql/playgroundhandler.go
Labels: router

#1560 fix: update vulnerable packages
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/package.json
  controlplane/package.json
  controlplane/src/types/index.ts
  keycloak/theme/package-lock.json
  keycloak/theme/package.json
  package.json
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo, controlplane, cli

#1559 feat(router): support gzip request compression
  docker-compose.yml
  router-tests/file_upload_test.go
  router-tests/graphql_over_get_test.go
  router-tests/graphql_over_http_test.go
  router/bench-random.js
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/internal/middleware/compression.go
  router/internal/middleware/compression_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1563 fix(router): enable redis to work with auth
  .github/workflows/router-ci.yaml
  docker-compose.yml
  docker/redis/redis-cluster-create.sh
  docker/redis/redis-cluster.conf
  router-tests/automatic_persisted_queries_test.go
  router-tests/ratelimit_test.go
  router-tests/testenv/testenv.go
  router/internal/persistedoperation/operationstorage/redis/rdcloser.go
  router/internal/persistedoperation/operationstorage/redis/rdcloser_test.go
  router/pkg/config/config.schema.json
Labels: router

#1569 refactor: use jq instead of node to extract values from package.json
  cdn-server/package.json
  controlplane/package.json
  graphqlmetrics/package.json
  keycloak/package.json
  otelcollector/package.json
  router/package.json
  studio/package.json
Labels: studio, controlplane, router, graphqlmetrics

#1567 fix: inject a per-subgraph http.Client to fix timeout race issue
  demo/graph-no-edg.yaml
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/Makefile
  router-tests/README.md
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/config.json
  router-tests/timeout_test.go
  router-tests/update-config-no-edg.sh
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/subgraph_transport.go
  router/core/subgraph_transport_test.go
  router/core/transport.go
Labels: router

#1570 feat: add a flag to disable variables remapping
  router-tests/cache_warmup_test.go
  router-tests/integration_test.go
  router/core/cache_warmup.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1558 feat(router): add configurable connection limits for each subgraph
  router/core/graph_server.go
  router/core/router.go
  router/core/subgraph_transport_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1539 feat: add plan cmd and plan generator
  router/cmd/plan-generator/main.go
  router/core/plan_generator.go
Labels: router

#1573 fix: querying fields under external path used in a composite key with nested fields
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1574 fix: extracting arguments input objects with optional variables
  Makefile
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: monorepo, router

#1571 chore(router): remove test1 from local demo, build schema as part of make
  Makefile
  demo/Dockerfile.test1
  router/Makefile
  router/__schemas/graph.yaml
Labels: monorepo, router

#1583 fix: websocket url in router playground
  playground/src/components/playground/index.tsx
  router/internal/graphiql/graphiql.html
Labels: router

#1577 fix: makes default config options work properly within maps
  router-tests/go.mod
  router-tests/go.sum
  router-tests/telemetry/telemetry_test.go
  router-tests/timeout_test.go
  router-tests/utils.go
  router/core/router.go
  router/core/router_test.go
  router/core/subgraph_transport.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_full.json
Labels: router

#1587 feat: add apollo compatibility flag replace invalid var error status
  router-tests/apollo_compatibility_test.go
  router/core/cache_warmup.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/router.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1581 fix: use subgraphId while performing operations check
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
Labels: controlplane

#1589 fix: check if label matchers have changed before composing
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/util.ts
  controlplane/test/label.test.ts
Labels: controlplane

#1585 fix: interface objects typename checks
  demo/pkg/subgraphs/family/subgraph/schema.resolvers.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/queries/findEmployeesNoCriteria.graphql
  router-tests/testdata/queries/findEmployeesNoCriteria.json
  router/core/plan_generator.go
  router/go.mod
  router/go.sum
Labels: router

#1561 feat(router): enable safelist for persisted operations
  cli/test/parse-operations.test.ts
  cli/test/testdata/persisted-query-manifest.json
  router-tests/cache_warmup_test.go
  router-tests/safelist_test.go
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/33651da3d80e420709520fb900c7ab8ec4151555da56062feeee428cf7f3a5dd.json
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_blocker.go
  router/core/router.go
  router/core/router_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: cli, router

#1584 feat(router): make header matching rules case insensitive
  router-tests/headers_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Labels: router

#1590 feat: send user's firstName and lastName on user's successful registration
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
  controlplane/src/types/index.ts
Labels: controlplane

#1594 feat: apollo router compatibility options + router-like invalid vars
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/cmd/instance.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1596 fix: apollo router compatibility yaml property
  router/pkg/config/config.go
Labels: router

#1597 fix(engine): deadlock when waiting on inflight events of a trigger
  demo/go.mod
  demo/go.sum
  router-tests/Makefile
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1602 feat(engine): apollo router compatible non-2XX response errors
  demo/go.mod
  demo/go.sum
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/core/executor.go
  router/core/graph_server.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1598 feat: set the scopes on request without authentication
  router-tests/modules/custom-set-auth-scopes/module.go
  router-tests/modules/custom-set-scopes/module.go
  router-tests/modules/custom-trace-propagator/module.go
  router-tests/modules/custom_trace_propagator_test.go
  router-tests/modules/module_test.go
  router-tests/modules/set_authentication_scopes_test.go
  router-tests/modules/set_scopes_test.go
  router-tests/modules/verify-scopes/module.go
  router/cmd/custom/module/module.go
  router/core/context.go
  router/pkg/authentication/authentication.go
Labels: router

#1579 fix(router): send graphql closing boundary to fit Apollo client
  router-tests/events/nats_events_test.go
  router/core/errors.go
  router/core/flushwriter.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1603 fix: include changedTypes in the list of changes displayed in the slack notification
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Labels: controlplane

#1604 feat(router): cookie header whitelist
  router-tests/headers_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/internal/middleware/cookie_filter.go
  router/internal/middleware/cookie_filter_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1605 fix: add a hardcoded cookie whitelist for internal cookie names
  router/core/graph_server.go
  router/internal/middleware/cookie_filter.go
  router/internal/middleware/cookie_filter_test.go
Labels: router

#1537 fix(router): handle repeated headers in response
  router-tests/header_propagation_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Labels: router, internally-reviewed

#1613 feat(subscription): mutex free subscription implementation
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/executor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1616 chore: typo opeartions -> operations
  cdn-server/cdn/test/cdn.test.ts
  studio/src/pages/[organizationSlug]/cache-warmer.tsx
Labels: studio

#1609 fix: set responseWriter in requestContext to the wrapped one
  router-tests/prometheus_test.go
  router/core/graphql_prehandler.go
Labels: router

#1622 fix: fix node selections do not select external parents of unique node
  router-tests/go.mod
  router/Makefile
  router/go.mod
  router/go.sum
Labels: router

#1619 feat: include client schema in the output of federated-graph fetch command
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/utils.ts
Labels: cli

#1628 fix: correct and deterministic dist folder structure
  cli/package.json
  cli/src/core/config.ts
  cli/tsconfig.json
  pnpm-lock.yaml
Labels: monorepo, cli

#1623 fix(cli): resolve broken console outputs
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/contract/commands/update.ts
  cli/src/commands/feature-flag/commands/create.ts
  cli/src/commands/feature-flag/commands/delete.ts
  cli/src/commands/feature-flag/commands/disable.ts
  cli/src/commands/feature-flag/commands/enable.ts
  cli/src/commands/feature-flag/commands/update.ts
  cli/src/commands/feature-subgraph/commands/create.ts
  cli/src/commands/feature-subgraph/commands/publish.ts
  cli/src/commands/graph/common/fetch-schema.ts
  cli/src/commands/graph/common/version/commands/set.ts
  cli/src/commands/graph/federated-graph/commands/check.ts
  cli/src/commands/graph/federated-graph/commands/create.ts
  cli/src/commands/graph/federated-graph/commands/delete.ts
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/federated-graph/commands/move.ts
  cli/src/commands/graph/federated-graph/commands/update.ts
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/graph/monograph/commands/create.ts
  cli/src/commands/graph/monograph/commands/delete.ts
  cli/src/commands/graph/monograph/commands/list.ts
  cli/src/commands/graph/monograph/commands/migrate.ts
  cli/src/commands/graph/monograph/commands/publish.ts
  cli/src/commands/graph/monograph/commands/update.ts
  cli/src/commands/namespace/commands/delete.ts
  cli/src/commands/namespace/commands/list.ts
  cli/src/commands/router/commands/cache/commands/push.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/router/commands/token/commands/create.ts
  cli/src/commands/router/commands/token/commands/delete.ts
  cli/src/commands/router/commands/token/commands/list.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/commands/subgraph/commands/create.ts
  cli/src/commands/subgraph/commands/delete.ts
  cli/src/commands/subgraph/commands/fetch.ts
  cli/src/commands/subgraph/commands/fix.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/commands/subgraph/commands/move.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/commands/subgraph/commands/update.ts
  cli/src/index.ts
  cli/src/utils.ts
Labels: cli

#1629 test: basic e2e smoke tests for wgc
  .github/workflows/cli-binary-pr.yaml
  .github/workflows/cli-ci.yaml
  cli/e2e/smoke.test.ts
  cli/package.json
  cli/src/core/signature.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#1637 chore: remove scarf
  cli/package.json
  pnpm-lock.yaml
Labels: monorepo, cli

#1638 fix: schema parsing
  .github/workflows/studio-ci.yaml
  pnpm-lock.yaml
  studio/next.config.mjs
  studio/package.json
  studio/src/__tests__/schema-helpers.test.ts
  studio/src/lib/schema-helpers.ts
  studio/vitest.config.mts
Labels: studio, monorepo

#1631 feat: support nested file uploads, support any name for the file upload
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  router-tests/file_upload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router/core/cache_warmup.go
  router/core/context.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/parse_multipart.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage_test.go
Labels: router

#1627 feat: add query plan generator to router
  router/cmd/main.go
  router/cmd/plan-generator/main.go
  router/cmd/plan_generator.go
  router/cmd/router/main.go
  router/core/plan_generator.go
  router/pkg/plan_generator/plan_generator.go
  router/pkg/plan_generator/plan_generator_test.go
  router/pkg/plan_generator/testdata/execution_config/base.json
  router/pkg/plan_generator/testdata/execution_config/wrong.json
  router/pkg/plan_generator/testdata/plans/base/1.graphql
  router/pkg/plan_generator/testdata/plans/base/2.graphql
  router/pkg/plan_generator/testdata/plans/base/filter.txt
  router/pkg/plan_generator/testdata/plans/base/report.json
  router/pkg/plan_generator/testdata/queries/base/1.graphql
  router/pkg/plan_generator/testdata/queries/base/2.graphql
Labels: router

#1599 feat: improve the cache warmer operations manifest for persisted operations
  controlplane/src/core/bufservices/cache-warmer/pushCacheWarmerOperation.ts
  controlplane/src/core/repositories/CacheWarmerRepository.ts
  controlplane/test/cache-warmer/push-cache-operation.test.ts
  router-tests/cache_warmup_test.go
  router-tests/testenv/testdata/cache_warmup/json_po_with_passed_query/graphql.json
  router-tests/testenv/testdata/cdn/organization/graph/cache_warmup/operations.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/21abb40a2be3f4eb457bc77446f9a103c547fa35cb55695eed1cc5c6b4c86c70.json
  router/core/cache_warmup.go
  studio/src/components/cache/cache-details-sheet.tsx
Labels: studio, controlplane, router

#1612 feat(router): template expressions for access logs
  router-tests/structured_logging_test.go
  router/core/access_log_field_handler_test.go
  router/core/context.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/request_context_fields.go
  router/internal/expr/expr.go
  router/internal/requestlogger/access_log_expression.go
  router/internal/requestlogger/access_log_expression_test.go
  router/internal/requestlogger/requestlogger.go
  router/internal/requestlogger/subgraphlogger.go
  router/internal/requestlogger/subgraphlogger_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Labels: router

#1611 chore: ignore @external on entity extension key fields
  composition-go/index.global.js
  composition/README.md
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/federation/types.ts
  composition/src/index.ts
  composition/src/normalization/normalization.ts
  composition/src/normalization/types.ts
  composition/src/resolvability-graph/graph-nodes.ts
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/utils.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/schema-building/types.ts
  composition/src/schema-building/utils.ts
  composition/src/subgraph/types.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/types.ts
  composition/src/utils/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/normalization/walkers.ts
  composition/src/v1/utils/utils.ts
  composition/src/v1/warnings/warnings.ts
  composition/src/warnings/types.ts
  composition/tests/utils/utils.ts
  composition/tests/v1/arguments.test.ts
  composition/tests/v1/entities.test.ts
  composition/tests/v1/entity-interface.test.ts
  composition/tests/v1/external.test.ts
  composition/tests/v1/fieldset-directives.test.ts
  composition/tests/v1/inputs.test.ts
  composition/tests/v1/interface-object.test.ts
  composition/tests/v1/normalization.test.ts
  composition/tests/v1/provides.test.ts
  composition/tests/v1/resolvability.test.ts
  composition/tests/v1/router-configuration.test.ts
  composition/tests/v1/shareable.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/composition-warnings.test.ts
  shared/test/__snapshots__/router.config.test.ts.snap
Labels: controlplane

#1630 fix(subscriptions): skip event after worker shutdown
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router
