Repository wundergraph/cosmo, pull requests merged in 2025-06, with the labels that each got.

#1921 feat: add named type kind to data
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/errors/types.ts
  composition/src/errors/utils.ts
  composition/src/index.ts
  composition/src/schema-building/types.ts
  composition/src/schema-building/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/types.ts
  composition/src/utils/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/utils.ts
  composition/src/v1/federation/walkers.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/normalization/walkers.ts
  composition/src/v1/schema-building/type-merging.ts
  composition/tests/v1/directives/authorization-directives.test.ts
  composition/tests/v1/directives/configure-description.test.ts
  composition/tests/v1/directives/directives.test.ts
  composition/tests/v1/directives/external.test.ts
  composition/tests/v1/directives/fieldset-directives.test.ts
  composition/tests/v1/directives/inaccessible.test.ts
  composition/tests/v1/directives/interface-object.test.ts
  composition/tests/v1/directives/override.test.ts
  composition/tests/v1/directives/provides.test.ts
  composition/tests/v1/directives/shareable.test.ts
  composition/tests/v1/directives/subscription-filter.test.ts
  composition/tests/v1/directives/v2-directives.test.ts
  composition/tests/v1/entities.test.ts
  composition/tests/v1/normalization.test.ts
  composition/tests/v1/type-merging.test.ts
  composition/tests/v1/types/arguments.test.ts
  composition/tests/v1/types/enums.test.ts
  composition/tests/v1/types/inputs.test.ts
  composition/tests/v1/types/interfaces.test.ts
  composition/tests/v1/types/objects.test.ts
  composition/tests/v1/types/scalars.test.ts
  composition/tests/v1/types/unions.test.ts
  composition/tests/v1/utils/utils.ts
  controlplane/test/composition-errors.test.ts
Labels: controlplane

#1920 feat: link organization to the root keycloak group
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/bin/migrate-groups.ts
  controlplane/src/bin/seed.ts
  controlplane/src/core/bufservices/organization/createOrganization.ts
  controlplane/src/core/bufservices/organization/createOrganizationGroup.ts
  controlplane/src/core/bufservices/organization/leaveOrganization.ts
  controlplane/src/core/bufservices/organization/updateOrganizationDetails.ts
  controlplane/src/core/bufservices/user/removeOrganizationMember.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/scim.ts
  controlplane/src/core/repositories/OrganizationInvitationRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/UserRepository.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/test-util.ts
  controlplane/src/core/workers/DeleteOrganizationWorker.ts
  controlplane/src/types/index.ts
  controlplane/test/delete-organization.test.ts
  controlplane/test/delete-user.test.ts
  controlplane/test/organization/create-organization.test.ts
  controlplane/test/organization/leave-organization.test.ts
  controlplane/test/test-util.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, protocol, connect

#1938 fix: resolve security vulnerabilities
  demo/pkg/subgraphs/projects/go.mod
  demo/pkg/subgraphs/projects/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  playground/package.json
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/package.json
Labels: studio, monorepo, router, graphqlmetrics

#1942 fix(router): incorrect build constraint
  router/pkg/routerplugin/grpc_plugin_command.go
Labels: router

#1944 chore: release helm-cosmo-router 0.12.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
Labels: autorelease: pending

#1952 fix: babel upgrade for vulnerability
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
Labels: monorepo, router

#1963 chore: release helm-cosmo-router 0.13.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
Labels: autorelease: pending

#1582 feat: add org and graph ID to gql_metrics_operations table
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/migrations/20250313091633_add_graphql_metrics_operations.sql
  graphqlmetrics/migrations/20250612151330_migrate_data_from_gql_metrics_ops_to_graphql_metrics_ops.sql
  graphqlmetrics/migrations/20250612165114_drop_gql_metrics_operations.sql
  graphqlmetrics/migrations/20250612165432_rename_graphql_metrics_operations.sql
Labels: graphqlmetrics

#1936 fix: solves ui discrepancies when closing the OIDC mapping dialog
  studio/src/pages/[organizationSlug]/settings.tsx
Labels: studio

#1967 chore: fix `resend invitation` issue
  controlplane/src/core/bufservices/user/inviteUser.ts
  controlplane/src/core/repositories/OrganizationGroupRepository.ts
Labels: controlplane

#1964 fix: handling nested abstract fragments in abstract fragments
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/queries/products.json
  router-tests/websocket_module_test.go
  router/go.mod
  router/go.sum
Labels: router

#1955 fix: let netpoll handle closing websockets
  router-tests/websocket_test.go
  router/core/websocket.go
  router/internal/wsproto/absinthe.go
  router/internal/wsproto/graphql_ws.go
  router/internal/wsproto/proto.go
  router/internal/wsproto/subscriptions_transport_ws.go
Labels: router

#1972 fix: fixes an issue caused by using `isFeatureEnabled` instead of `ge…
  controlplane/src/core/bufservices/organization/createOrganizationGroup.ts
Labels: controlplane

#1973 fix: skip auth check for plugin commands
  cli/src/commands/router/index.ts
Labels: cli

#1974 fix: cleanup flaky line for router build test
  router/pkg/config/config_test.go
Labels: router

#1977 fix: incorrect import of program
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/monograph/commands/list.ts
  cli/src/commands/router/commands/compatibility-version/commands/list.ts
  cli/src/commands/router/commands/token/commands/list.ts
  cli/src/commands/subgraph/commands/fetch.ts
  cli/src/commands/subgraph/commands/introspect.ts
  cli/src/commands/subgraph/commands/list.ts
Labels: cli

#1978 ci: use gotestsum for running go tests in router and router-tests
  .github/actions/go/action.yaml
  .github/workflows/router-ci.yaml
  Makefile
  router-tests/Makefile
  router/Makefile
Labels: monorepo, router

#1970 test: improved kafka integration tests
  router-tests/events/kafka_events_test.go
  router-tests/testenv/testenv.go
  router-tests/testenv/utils.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/kafka/provider_builder.go
Labels: router

#1975 feat: add SASL-SCRAM support and add logging of kafka client errors
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_events_kafka_test.go
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/kafka/provider_builder.go
  router/pkg/pubsub/kafka/provider_builder_test.go
Labels: router

#1979 feat: expose query plan information to custom modules + bump engine
  router-tests/go.mod
  router-tests/go.sum
  router-tests/modules/custom-query-stats/module.go
  router-tests/modules/query_stats_test.go
  router/core/context.go
  router/core/operation_planner.go
  router/go.mod
  router/go.sum
Labels: router

#1976 feat: add debounce to watcher
  router/pkg/watcher/watcher.go
  router/pkg/watcher/watcher_test.go
Labels: router

#1994 fix: fix rewriting object selections with nested abstract fragments
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1993 fix(cli): make .env loading silent to prevent invalid json output
  cli/package.json
  cli/src/index.ts
  pnpm-lock.yaml
Labels: monorepo, cli
