Repository wundergraph/cosmo, pull requests merged in 2025-04, with the labels that each got.

#1738 fix: subgraph error code is not propagated AND panics on websocket request logging
  router-tests/structured_logging_test.go
  router/core/graphql_prehandler.go
  router/core/request_context_fields.go
Labels: router

#1743 feat: add one feature flag to developer plan
  controlplane/src/bin/billing.json
Labels: controlplane

#1693 fix(websocket): improve write and read deadlines
  .github/workflows/router-ci.yaml
  docker-compose.yml
  docker/nats/Dockerfile
  docker/nats/README.md
  docker/nats/build-push.sh
  docker/nats/nats-server.conf
  router-tests/Makefile
  router-tests/cache_warmup_test.go
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/pubsub.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/wsproto/absinthe.go
  router/internal/wsproto/graphql_ws.go
  router/internal/wsproto/subscriptions_transport_ws.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/statistics/engine_stats.go
Labels: router

#1744 feat: add support to set ClientInfo from initial payload when using WebSockets
  router-tests/automatic_persisted_queries_test.go
  router-tests/ratelimit_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1750 chore: bump package versions
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  controlplane/package.json
  demo/go.mod
  demo/go.sum
  playground/package.json
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo, controlplane, aws-lambda-router

#1748 chore: reduce verbosity in logs
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/parse_multipart.go
  router/pkg/metric/engine_metrics.go
  router/pkg/metric/router_runtime_metrics.go
  router/pkg/pubsub/kafka/kafka.go
  router/pkg/pubsub/nats/nats.go
Labels: router

#1747 chore(router): add config convention document
  router/README.md
  router/docs/Configuration.md
  router/docs/Profiling.md
Labels: router

#1751 fix(router): update JWK dependency
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/authentication/jwks_token_decoder.go
  router/pkg/authentication/validation_store.go
Labels: router

#1753 feat: add option to disable exposing variables content on validation error
  router-tests/variables_validation_test.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1752 feat: improve authenticated badge for types and fields
  studio/src/__tests__/schema-helpers.test.ts
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Labels: studio

#1661 feat: add execution of check_query_planner
  .github/actions/build-push-image/action.yaml
  .github/actions/cli-build/action.yml
  .github/workflows/cli-ci.yaml
  .github/workflows/query-planner-ci.yaml
  .github/workflows/router-ci.yaml
  demo/go.mod
  demo/go.sum
  router/Dockerfile
  router/core/plan_generator.go
  router/core/plan_generator_test.go
  router/pkg/plan_generator/plan_generator.go
  router/pkg/plan_generator/plan_generator_test.go
  router/pkg/plan_generator/testdata/plans/base/2.graphql
  router/pkg/plan_generator/testdata/plans/base/report.json
  router/pkg/watcher/watcher_test.go
Labels: router

#1712 feat: check with multiple subgraph schemas
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0117_calm_raider.sql
  controlplane/migrations/meta/0117_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/check/checkSubgraphSchemas.ts
  controlplane/src/core/bufservices/check/forceCheckSuccess.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getCheckSummary.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/bufservices/check/getProposedSchemaOfCheckedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SchemaGraphPruningRepository.ts
  controlplane/src/core/repositories/SchemaLintRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/util.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/check-subgraph-schemas.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/graph-pruning-issues-table.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
Labels: studio, controlplane, protocol, connect

#1755 fix(websocket): handle ping/pong correctly
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/flushwriter.go
  router/core/graph_server.go
  router/core/transport.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1760 fix: ensure utf-8 charset is set on JSON responses
  router-tests/block_operations_test.go
  router-tests/graphql_over_http_test.go
  router-tests/integration_test.go
  router-tests/persisted_operations_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/pkg/config/config.schema.json
Labels: router

#1772 fix: improve subgraph change verification
  cli/src/commands/mcp/tools/subgraph-verify-schema-changes.ts
Labels: cli

#1768 feat: improve API key creation dialog
  package.json
  pnpm-lock.yaml
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio, monorepo

#1766 fix: solve issue caused when receiving a date range where the start is greater than the end
  controlplane/src/core/repositories/analytics/AnalyticsDashboardViewRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  controlplane/src/core/util.ts
  studio/src/components/ui/calendar.tsx
Labels: studio, controlplane

#1767 fix: solves issue with Traces pagination
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  studio/src/components/analytics/useAnalyticsQueryState.ts
Labels: studio, controlplane

#1771 fix(router): graceful shutdown blocked by in-flight requests due to lock
  router-tests/events/kafka_events_test.go
  router/core/graph_server.go
  router/core/http_server.go
Labels: router

#1778 fix: only redirect to cosmo urls
  controlplane/src/core/controllers/auth.ts
Labels: controlplane

#1779 fix: subgraph check compose
  controlplane/src/core/composition/composer.ts
Labels: controlplane

#1780 test: schema check when one of many subgraphs is empty
  controlplane/test/check-subgraph-schema.test.ts
Labels: controlplane

#1777 chore: release helm-cosmo 0.13.1 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#1785 chore: release helm-cosmo-router 0.10.1 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
Labels: autorelease: pending

#1787 fix: solve issue caused by improper use of `useDayPicker`
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/feature-flag/[featureFlagCompositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/feature-flags/[featureFlagSlug]/index.tsx
  studio/src/pages/[organizationSlug]/feature-flags/[featureFlagSlug]/index.tsx
Labels: studio

#1792 fix: filter of checks
  controlplane/src/core/repositories/SubgraphRepository.ts
Labels: controlplane

#1790 chore: update crypto to v0.35.0
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics, aws-lambda-router

#1749 feat: query batching
  client-tests/Makefile
  client-tests/apollo-js/.dockerignore
  client-tests/apollo-js/Dockerfile
  client-tests/apollo-js/README.md
  client-tests/apollo-js/package.json
  client-tests/apollo-js/pnpm-lock.yaml
  client-tests/apollo-js/src/__tests__/Client.test.ts
  client-tests/apollo-js/tsconfig.json
  client-tests/apollo-js/vitest.config.ts
  client-tests/apollo-kotlin/.dockerignore
  client-tests/apollo-kotlin/.gitignore
  client-tests/apollo-kotlin/Dockerfile
  client-tests/apollo-kotlin/build.gradle.kts
  client-tests/apollo-kotlin/gradle.properties
  client-tests/apollo-kotlin/gradle/wrapper/gradle-wrapper.jar
  client-tests/apollo-kotlin/gradle/wrapper/gradle-wrapper.properties
  client-tests/apollo-kotlin/gradlew
  client-tests/apollo-kotlin/gradlew.bat
  client-tests/apollo-kotlin/readme.md
  client-tests/apollo-kotlin/settings.gradle.kts
  client-tests/apollo-kotlin/src/main/graphql/QueryFailure.graphql
  client-tests/apollo-kotlin/src/main/graphql/QuerySuccess.graphql
  client-tests/apollo-kotlin/src/main/graphql/SubscriptionFailure.graphql
  client-tests/apollo-kotlin/src/main/graphql/SubscriptionSuccess.graphql
  client-tests/apollo-kotlin/src/main/graphql/schema.sdl
  client-tests/apollo-kotlin/src/test/kotlin/BatchingTest.kt
  client-tests/apollo-kotlin/src/test/kotlin/ClientTest.kt
  controlplane/src/core/repositories/analytics/TraceRepository.ts
  router-tests/batch_test.go
  router-tests/structured_logging_test.go
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/batch.go
  router/core/batch_test.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/request_context_fields.go
  router/core/router.go
  router/core/websocket.go
  router/go.mod
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/logging/logging.go
  router/pkg/otel/attributes.go
  router/pkg/trace/batch.go
  router/pkg/trace/handler.go
  router/pkg/trace/utils.go
Labels: controlplane, router

#1728 fix: add subscription spec header to content type for certain clients that require it
  client-tests/Makefile
  client-tests/apollo-js/package.json
  client-tests/apollo-js/src/__tests__/Client.test.ts
  client-tests/apollo-swift/.gitignore
  client-tests/apollo-swift/Package.swift
  client-tests/apollo-swift/README.md
  client-tests/apollo-swift/Schema/QueryFailure.graphql
  client-tests/apollo-swift/Schema/QuerySuccess.graphql
  client-tests/apollo-swift/Schema/SubscriptionFailure.graphql
  client-tests/apollo-swift/Schema/SubscriptionSuccess.graphql
  client-tests/apollo-swift/Schema/schema.graphqls
  client-tests/apollo-swift/Sources/Operations/Queries/QueryFailureQuery.graphql.swift
  client-tests/apollo-swift/Sources/Operations/Queries/QuerySuccessQuery.graphql.swift
  client-tests/apollo-swift/Sources/Operations/Subscriptions/SubscriptionFailureSubscription.graphql.swift
  client-tests/apollo-swift/Sources/Operations/Subscriptions/SubscriptionSuccessSubscription.graphql.swift
  client-tests/apollo-swift/Sources/Schema/Interfaces/Identifiable.graphql.swift
  client-tests/apollo-swift/Sources/Schema/Objects/Employee.graphql.swift
  client-tests/apollo-swift/Sources/Schema/Objects/Query.graphql.swift
  client-tests/apollo-swift/Sources/Schema/Objects/Subscription.graphql.swift
  client-tests/apollo-swift/Sources/Schema/SchemaConfiguration.swift
  client-tests/apollo-swift/Sources/Schema/SchemaMetadata.graphql.swift
  client-tests/apollo-swift/Tests/ClientTests.swift
  client-tests/apollo-swift/apollo-codegen-config.json
  router-tests/error_handling_test.go
  router-tests/events/nats_events_test.go
  router/core/errors.go
  router/core/flushwriter.go
Labels: router

#1794 feat: add webhook proposal state update functionality
  controlplane/migrations/0119_true_reptil.sql
  controlplane/migrations/meta/0119_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/db/schema.ts
  controlplane/test/integrations.test.ts
  controlplane/test/webhooks.test.ts
  studio/src/components/notifications/components.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio, controlplane

#1793 fix: solve an issue where fields were marked as deprecated incorrectly for `input` and `enum` types
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Labels: studio

#1773 fix(router): refactor per-subgraph transport options to avoid leaking goroutines
  router-tests/go.mod
  router-tests/lifecycle/shutdown_test.go
  router-tests/testenv/testenv.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/http_server.go
  router/core/plan_generator.go
  router/core/router.go
  router/core/subgraph_transport.go
  router/core/subgraph_transport_test.go
  router/core/transport.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
Labels: router

#1786 feat: mcp server support in the router
  demo/pkg/subgraphs/availability/subgraph/schema.graphqls
  demo/pkg/subgraphs/family/subgraph/schema.graphqls
  demo/pkg/subgraphs/mood/subgraph/schema.graphqls
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  router-tests/cache_warmup_test.go
  router-tests/events/nats_events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testdata/mcp_operations/MyMutation.graphql
  router-tests/testdata/mcp_operations/MyQuery.graphql
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/graph_server.go
  router/core/init_config_poller.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/schema_compiler.go
  router/pkg/mcpserver/server.go
  router/pkg/schemaloader/loader.go
  router/pkg/schemaloader/schema_builder.go
Labels: router

#1802 fix(subscriptions): dont use completed channel in sub updater
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1704 feat(router): schema usage lite export via prometheus
  .gitignore
  router-tests/prometheus_improved_test.go
  router-tests/testenv/testenv.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/router.go
  router/core/router_metrics.go
  router/debug.config.yaml
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/graphqlschemausage/schemausage.go
  router/pkg/graphqlschemausage/schemausage_test.go
  router/pkg/metric/config.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
  router/pkg/otel/attributes.go
Labels: router

#1807 fix: s3 remove unnecessary required fields in json schema
  router/pkg/config/config.schema.json
Labels: router

#1759 feat: rework key matching logic, add engine support for fragments in provides/requires
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1808 chore: upgrade mcp-go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1811 fix: improve the queries of the check page
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/fetch-checks-by-federated-graph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
Labels: studio, controlplane, protocol, connect

#1820 feat(subscriptions): user proper frame timeout
  router-tests/go.mod
  router-tests/go.sum
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/transport.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1795 fix: set cache-control to `no-store` when errors are present, engine v2.0.0-rc.175
  router-tests/go.mod
  router-tests/go.sum
  router-tests/header_propagation_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/go.mod
  router/go.sum
Labels: router

#1819 fix: improve error handling in metric flushing methods
  router/pkg/metric/metric_store.go
Labels: router

#1822 fix: evaluate keys using order of target subgraph
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: query-planner
