Repository wundergraph/cosmo, pull requests merged in 2025-09, with the labels that each got.

#2184 fix: bug where query clone params are assigned to claim params
  router/internal/expr/expr.go
  router/internal/expr/expr_test.go
Labels: router

#2183 feat: add timings per client fetch for GraphQL http
  router-tests/structured_logging_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/engine_loader_hooks.go
  router/internal/context/keys.go
  router/internal/expr/expr.go
  router/internal/traceclient/traceclient.go
  router/pkg/trace/transport.go
Labels: router

#2182 feat: add a popup about new features on the dashboard
  studio/src/components/dashboard/NewFeaturesPopup.tsx
  studio/src/components/layout/sidenav.tsx
  studio/src/hooks/use-new-features-popup-disabled.ts
Labels: studio

#2156 feat: add a feature to link subgraphs across namespaces
  cli/src/commands/mcp/tools/subgraph-verify-schema-changes.ts
  cli/src/commands/subgraph/commands/link.ts
  cli/src/commands/subgraph/commands/unlink.ts
  cli/src/commands/subgraph/index.ts
  cli/src/handle-check-result.ts
  cli/src/handle-proposal-result.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0129_strong_betty_brant.sql
  controlplane/migrations/0130_skinny_solo.sql
  controlplane/migrations/meta/0129_snapshot.json
  controlplane/migrations/meta/0130_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/check/getCheckSummary.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/getProposal.ts
  controlplane/src/core/bufservices/proposal/getProposalChecks.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/bufservices/subgraph/getSubgraphByName.ts
  controlplane/src/core/bufservices/subgraph/linkSubgraph.ts
  controlplane/src/core/bufservices/subgraph/unlinkSubgraph.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/util.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/fetch-checks-by-federated-graph.test.ts
  controlplane/test/subgraph/link-subgraph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/check-badge-icon.tsx
  studio/src/components/info-tooltip.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/ui/alert.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/[proposalId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
Labels: studio, controlplane, cli, protocol, connect

#2198 feat: introduce the `subgraph-checker` role
  controlplane/migrations/0131_known_stepford_cuckoos.sql
  controlplane/migrations/meta/0131_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/services/RBACEvaluator.ts
  controlplane/src/db/schema.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/rbac-evaluator.test.ts
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
  studio/src/lib/constants.ts
Labels: studio, controlplane

#2208 feat: add analytic scripts
  studio/.env.local.example
  studio/src/components/layout/analytics/active-campaign-script.tsx
  studio/src/components/layout/analytics/gtm-script.tsx
  studio/src/pages/_document.tsx
Labels: studio

#2223 fix(router): high subscription loads causing deadlocks
  docker-compose.yml
  router-tests/go.mod
  router-tests/go.sum
  router/bench-ws-superload.js
  router/cmd/main.go
  router/go.mod
  router/go.sum
Labels: router

#2237 fix: remove an index after _entities in errors path
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router/go.mod
  router/go.sum
Labels: router

#2222 fix(router): enable safelisting on websocket subscriptions
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/6e94d99132b544a0d7522696a7d35643d56a26c7b8c2e0df29e2b9935636628c.json
  router-tests/websocket_test.go
  router/core/websocket.go
Labels: router
