Repository wundergraph/cosmo, pull requests merged in 2025-08, with the labels that each got.

#2106 fix: skip hardcoded propagation
  .github/workflows/router-ci.yaml
  router-plugin/tracing/interceptor.go
  router/pkg/grpcconnector/grpc_plugin.go
Labels: router

#2101 fix: dont try to load operation when dir is empty
  router/pkg/mcpserver/server.go
Labels: router

#2108 feat: add validation to protographic
  cli/src/commands/grpc-service/commands/generate.ts
  cli/src/commands/router/commands/plugin/helper.ts
  cli/src/commands/router/commands/plugin/toolchain.ts
  cli/test/fixtures/schema-with-nullable-list-items.graphql
  cli/test/fixtures/schema-with-validation-errors.graphql
  cli/test/fixtures/schema-with-warnings-and-errors.graphql
  cli/test/grpc-service.test.ts
  protographic/SDL_PROTO_RULES.md
  protographic/src/index.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/tests/sdl-validation/01-basic-validation.test.ts
Labels: cli

#2097 fix: generate plans for subscriptions
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/fixtures/query_plans/subscription_response_with_query_plan.json
  router/core/graphql_prehandler.go
  router/core/plan_generator.go
  router/go.mod
  router/go.sum
  router/pkg/plan_generator/plan_generator_test.go
  router/pkg/plan_generator/testdata/plans/base/3.graphql
  router/pkg/plan_generator/testdata/plans/base/4.graphql
  router/pkg/plan_generator/testdata/plans/base/report.json
  router/pkg/plan_generator/testdata/queries/base/3.graphql
  router/pkg/plan_generator/testdata/queries/base/4.graphql
  router/pkg/pubsub/datasource/planner.go
Labels: router

#2113 fix: plan generator ignores the skip/include directives
  router-tests/go.mod
  router-tests/go.sum
  router/core/plan_generator.go
  router/go.mod
  router/go.sum
  router/pkg/plan_generator/plan_generator_test.go
  router/pkg/plan_generator/testdata/plans/base/5.graphql
  router/pkg/plan_generator/testdata/plans/base/report.json
  router/pkg/plan_generator/testdata/queries/base/5.graphql
Labels: router

#2098 feat: add LinkedIn Insight and GTM scripts
  studio/.env.local.example
  studio/next.config.mjs
  studio/src/pages/_document.tsx
Labels: studio

#2096 feat: improve session renewal
  controlplane/src/core/auth-utils.ts
Labels: controlplane

#2118 chore: update default values for parser limits
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#2107 fix: use federated graph id and org id to fetch operation content
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/analytics/getOperationContent.ts
  controlplane/src/core/repositories/CacheWarmerRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/operation-content.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
Labels: studio, controlplane, protocol, connect

#2122 fix: prevent feature subgraphs from using other feature subgraphs as base subgraphs
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
Labels: controlplane

#2124 fix: encode and validate client name
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/test-util.ts
  controlplane/test/persisted-operations.test.ts
  controlplane/test/test-util.ts
Labels: controlplane

#2134 fix: update the registry url in the cli
  cli/src/core/config.ts
Labels: cli

#2133 feat: always rewrite abstract fragments for gRPC
  demo/Makefile
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage_test.go
  router/pkg/pubsub/datasource/factory.go
  router/pkg/pubsub/datasource/planner.go
Labels: router

#2135 fix: make the session cookie last as long as Keycloak's
  controlplane/src/core/crypto/jwt.ts
  docker/keycloak/realm.json
  helm/cosmo/templates/keycloak-realm.yml
Labels: controlplane

#2131 fix(s3): allow to delete objects individually
  controlplane/src/core/blobstorage/s3.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/util.ts
  controlplane/src/index.ts
  controlplane/test/utils.test.ts
Labels: controlplane

#2136 chore: release helm-cosmo 0.13.2 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Labels: autorelease: pending

#2070 fix(router): record operation planning time correctly in plan error case
  router/core/graphql_prehandler.go
Labels: router

#2137 feat: edfs stream metrics
  demo/pkg/subgraphs/subgraphs.go
  router-tests/events/event_helpers.go
  router-tests/events/events_config_test.go
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/events/redis_events_test.go
  router-tests/prometheus_stream_metrics_test.go
  router-tests/telemetry/stream_metrics_test.go
  router-tests/testenv/testenv.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/plan_generator.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/noop_stream_metrics.go
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/oltp_stream_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
  router/pkg/metric/prom_stream_metric_store.go
  router/pkg/metric/stream_measurements.go
  router/pkg/metric/stream_metric_store.go
  router/pkg/otel/attributes.go
  router/pkg/pubsub/datasource/mocks.go
  router/pkg/pubsub/datasource/provider.go
  router/pkg/pubsub/kafka/adapter.go
  router/pkg/pubsub/kafka/provider_builder.go
  router/pkg/pubsub/kafka/provider_builder_test.go
  router/pkg/pubsub/nats/adapter.go
  router/pkg/pubsub/nats/provider_builder.go
  router/pkg/pubsub/nats/provider_builder_test.go
  router/pkg/pubsub/pubsub.go
  router/pkg/pubsub/pubsub_test.go
  router/pkg/pubsub/redis/adapter.go
  router/pkg/pubsub/redis/provider_builder.go
  router/pkg/pubsub/redis/provider_builder_test.go
Labels: router

#2153 feat: update the limits of plugins
  controlplane/src/bin/billing.json
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/plugin/validate-and-fetch-plugin-data.test.ts
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
Labels: controlplane

#2166 fix: add tracing by default and fix bugs
  cli/src/commands/router/commands/plugin/commands/init.ts
  cli/src/commands/router/commands/plugin/templates/plugin.ts
Labels: cli

#2168 fix: don't log graceful watcher shutdown as error
  docker-compose.yml
  router/cmd/main.go
  router/core/router.go
  router/debug.config.yaml
Labels: router

#2141 feat(router): improved heartbeats for subscriptions
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/events/redis_events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/http_subscriptions_test.go
  router-tests/testenv/utils.go
  router/core/executor.go
  router/core/flushwriter.go
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
Labels: router

#2167 feat: expression support for retry condition
  router-tests/error_handling_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/panic_test.go
  router-tests/retry_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/context.go
  router/core/graph_server.go
  router/core/retry_builder.go
  router/core/retry_builder_test.go
  router/core/router.go
  router/core/supervisor_instance.go
  router/go.mod
  router/go.sum
  router/internal/expr/retry_context.go
  router/internal/expr/retry_expression.go
  router/internal/expr/retry_expression_test.go
  router/internal/retrytransport/retry_transport.go
  router/internal/retrytransport/retry_transport_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#2176 fix: update query to use RequestCount from gql_metrics_router_requests
  controlplane/src/core/repositories/analytics/MonthlyRequestViewRepository.ts
Labels: controlplane
