Repository wundergraph/cosmo, pull requests merged in 2025-10, with the labels that each got.

#2224 feat: allow use of empty alg fields in jwks
  router-tests/authentication_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/jwks/jwks.go
  router/go.mod
  router/go.sum
  router/pkg/authentication/jwks_token_decoder.go
  router/pkg/authentication/validation_store.go
  router/pkg/config/config.schema.json
Labels: router

#2219 chore: replace del with rm
  admission-server/package.json
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/package.json
  composition/package.json
  connect/package.json
  controlplane/package.json
  package.json
  pnpm-lock.yaml
  shared/package.json
Labels: monorepo, controlplane, cli, connect

#2235 feat: retrieve operation body from gqlmetrics instead of traces
  controlplane/src/core/bufservices/analytics/getOperationContent.ts
  otelcollector/otel-config.yaml
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/debug.config.yaml
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/otel/attributes.go
  router/pkg/trace/config.go
  studio/src/components/analytics/trace-details.tsx
Labels: studio, controlplane, router

#2260 fix: add fastify integration to sentry of controlplane
  controlplane/src/core/sentry.config.ts
Labels: controlplane

#2252 feat: ability to add operation info as trace or telemetry attributes
  router-tests/block_operations_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/attribute_expressions.go
  router/core/attribute_expressions_test.go
  router/core/engine_loader_hooks.go
  router/core/graphql_prehandler.go
  router/core/transport.go
  router/internal/expr/expr.go
  router/internal/expr/request_operation_bucket_visitor.go
  router/internal/expr/request_operation_bucket_visitor_test.go
  router/internal/expr/use_request_operation_sha256.go
  router/internal/expr/uses_request_operation_sha256_test.go
  router/internal/expr/visitor_group.go
  router/internal/expr/visitor_group_test.go
Labels: router

#2220 feat: add SubgraphFieldsFetches to QueryPlanStats for detailed field tracking
  router-tests/modules/query_stats_test.go
  router/core/context.go
Labels: router
