Repository wundergraph/cosmo, pull requests merged in 2025-03, with the labels that each got.

#1639 feat: option to remove scopeinfo from prometheus metrics
  router-tests/prometheus_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_events_kafka_test.go
  router/pkg/config/config_events_nats_test.go
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
Labels: router

#1642 feat(router): add RouterOnRequest hook
  router-tests/modules/router-on-request/module.go
  router-tests/modules/router_on_request_test.go
  router/cmd/custom/module/module.go
  router/core/graph_server.go
  router/core/modules.go
  router/core/router.go
Labels: router

#1653 fix: reading file uploads map by ignoring actual indices in map
  router/core/parse_multipart.go
Labels: router

#1654 fix: value completion propagation for invalid enum values
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/mood/subgraph/generated/generated.go
  demo/pkg/subgraphs/mood/subgraph/model/models_gen.go
  demo/pkg/subgraphs/mood/subgraph/schema.graphqls
  router-tests/apollo_compatibility_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testdata/config.json
  router/go.mod
  router/go.sum
Labels: router

#1633 feat(studio): implement authenticated field visual indicator
  studio/src/__tests__/schema-helpers.test.ts
  studio/src/lib/schema-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Labels: studio

#1660 fix(cli): bun bundle issue with graphql dual-package hazard issue
  cli/.gitignore
  cli/e2e/smoke.test.ts
  package.json
  patches/graphql@16.9.0.patch
  pnpm-lock.yaml
Labels: monorepo, cli

#1663 feat(plan-generator): enhance error reporting in query plan results
  router/pkg/plan_generator/plan_generator.go
  router/pkg/plan_generator/plan_generator_test.go
  router/pkg/plan_generator/testdata/plans/base/report.json
Labels: router

#1667 chore: bump vitest to 2.1.9 to mitigate RCE
  admission-server/Dockerfile
  cdn-server/Dockerfile
  cdn-server/cdn/package.json
  cli/package.json
  composition-go/index.global.js
  composition/package.json
  controlplane/Dockerfile
  controlplane/package.json
  package.json
  pnpm-lock.yaml
  shared/package.json
  studio/Dockerfile
  studio/package.json
Labels: studio, monorepo, controlplane, cli

#1655 feat: add option to select all and prefix search option
  studio/src/components/analytics/data-table-faceted-filter.tsx
  studio/src/components/ui/command.tsx
Labels: studio

#1677 chore: release helm-cosmo 0.13.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
Labels: autorelease: pending

#1678 chore: release helm-cosmo-router 0.10.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Labels: autorelease: pending

#1668 feat(controlplane): include base subgraph data in feature subgraph response
  controlplane/src/core/bufservices/subgraph/getSubgraphById.ts
  controlplane/src/core/bufservices/subgraph/getSubgraphByName.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/feature-subgraph/get-feature-subgraph.test.ts
Labels: controlplane

#1675 fix: make multipart subscriptions compatible with client
  router-tests/events/nats_events_test.go
  router/core/flushwriter.go
Labels: router

#1684 feat(plan-generator): improve memory and cpu usage
  router/cmd/plan_generator.go
  router/core/plan_generator.go
  router/pkg/plan_generator/plan_generator.go
Labels: router

#1680 fix: improve performance when updating member role
  .github/scripts/setup-keycloak.sh
  .github/workflows/controlplane-ci.yaml
  controlplane/src/core/bufservices/user/updateOrgMemberRole.ts
  controlplane/src/core/services/Keycloak.ts
Labels: controlplane

#1646 feat(router): add support for jwks discovery via openid-configuration endpoint
  router-tests/authentication_test.go
  router-tests/jwks/jwks.go
  router/pkg/authentication/jwks_token_decoder.go
  router/pkg/authentication/oidc_discovery_client.go
Labels: router

#1685 fix(cli): typo in schema check
  cli/src/commands/subgraph/commands/check.ts
Labels: cli

#1687 feat: update engine to rc.164
  demo/go.mod
  demo/go.sum
  router-tests/authentication_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/modules/set_authentication_scopes_test.go
  router-tests/modules/set_scopes_test.go
  router-tests/websocket_test.go
  router/go.mod
  router/go.sum
Labels: router

#1671 fix: polling based execution config watcher
  router-tests/config_hot_reload_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/cmd/instance.go
  router/core/http_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/test/call_spy.go
  router/internal/test/call_spy_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/watcher/watcher.go
  router/pkg/watcher/watcher_test.go
Labels: router

#1690 feat(plan-generator): add max concurrent data source collectors; update engine to v2.0.0-rc.165
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/cmd/plan_generator.go
  router/core/plan_generator.go
  router/go.mod
  router/go.sum
  router/pkg/plan_generator/plan_generator.go
Labels: router

#1694 fix: namespace not being considered in version set command
  cli/src/commands/graph/common/version/commands/set.ts
  cli/src/commands/graph/common/version/index.ts
  cli/src/commands/graph/federated-graph/index.ts
  cli/src/commands/graph/monograph/index.ts
Labels: cli

#1698 fix: upgrade `next` dependency to solve vulnerability
  pnpm-lock.yaml
  studio/package.json
Labels: studio, monorepo

#1702 chore: allow planning of parsed operation
  router/core/plan_generator.go
Labels: router

#1703 fix: upgrade expr package
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/internal/expr/expr.go
Labels: router

#1705 fix: prefer json as a content type for non subscriptions
  router-tests/error_handling_test.go
  router/core/errors.go
  router/core/flushwriter.go
  router/core/flushwriter_test.go
Labels: router

#1688 feat: implement checks configuration
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0114_volatile_norrin_radd.sql
  controlplane/migrations/meta/0114_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/cache-warmer/configureCacheWarmer.ts
  controlplane/src/core/bufservices/check/getNamespaceChecksConfig.ts
  controlplane/src/core/bufservices/check/updateNamespaceChecksConfig.ts
  controlplane/src/core/bufservices/linting/enableLintingForTheNamespace.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/repositories/NamespaceRepository.ts
  controlplane/src/core/util.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/checks-config.tsx
  studio/src/components/checks/graph-pruning-issues-table.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/lint-policy/graph-pruning-config.tsx
  studio/src/components/lint-policy/linter-config.tsx
  studio/src/pages/[organizationSlug]/lint-policy.tsx
  studio/src/pages/[organizationSlug]/policies.tsx
Labels: studio, controlplane, protocol, connect

#1714 fix: updated go jwt dependency to fix vulnerability
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, graphqlmetrics

#1700 fix: upgrade `vite` to solve vulnerability
  playground/package.json
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
Labels: monorepo, router

#1716 feat: allow to filter checks by subgraph name
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/checks-filter-menu.tsx
  studio/src/components/checks/selected-checks-filters.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
Labels: studio, controlplane, protocol, connect

#1710 feat: introduce `p50`, `p90` and `p99` latency metrics for graphs and subgraphs
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/metrics.tsx
  studio/src/lib/insights-helpers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/analytics/index.tsx
Labels: studio, controlplane, protocol, connect

#1713 fix: ensure to close any responses before retrying
  router/core/transport.go
  router/internal/retrytransport/retry_transport.go
  router/internal/retrytransport/retry_transport_test.go
Labels: router

#1720 fix: fix incorrect calculation of the `p90` and `p99` subgraph metrics
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
Labels: controlplane

#1723 fix: catch an error on provides with fragments
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1664 feat: add request body to expression context
  router-tests/structured_logging_test.go
  router/core/access_log_field_handler_test.go
  router/core/attribute_expressions.go
  router/core/attribute_expressions_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_blocker.go
  router/core/ratelimiter.go
  router/core/ratelimiter_test.go
  router/internal/expr/expr.go
  router/internal/expr/expr_manager.go
  router/internal/expr/expr_manager_test.go
  router/internal/expr/resolvers.go
  router/internal/expr/use_body.go
  router/internal/expr/use_body_test.go
  router/internal/expr/visitor_group.go
  router/internal/requestlogger/access_log_expression.go
  router/internal/requestlogger/access_log_expression_test.go
Labels: router

#1721 feat: add the ability to check if the request has been sampled using the expression context
  router-tests/structured_logging_test.go
  router/core/graph_server.go
  router/internal/expr/expr.go
Labels: router

#1729 feat: implement `--client-schema` flag
  cli/src/commands/graph/common/fetch-schema.ts
  cli/test/fetch-schema.test.ts
Labels: cli

#1730 feat: synchronize hovering all graphs in analytics pages
  studio/src/components/analytics/metrics.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/analytics/index.tsx
Labels: studio

#1735 feat: remove discussions
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0115_colossal_killmonger.sql
  controlplane/migrations/meta/0115_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/discussion/createDiscussion.ts
  controlplane/src/core/bufservices/discussion/deleteDiscussionComment.ts
  controlplane/src/core/bufservices/discussion/getAllDiscussions.ts
  controlplane/src/core/bufservices/discussion/getDiscussion.ts
  controlplane/src/core/bufservices/discussion/getDiscussionSchemas.ts
  controlplane/src/core/bufservices/discussion/replyToDiscussion.ts
  controlplane/src/core/bufservices/discussion/setDiscussionResolution.ts
  controlplane/src/core/bufservices/discussion/updateDiscussionComment.ts
  controlplane/src/core/repositories/DiscussionRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/discussions.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/discussions/discussion.tsx
  studio/src/components/discussions/discussions.tsx
  studio/src/components/discussions/schemas.tsx
  studio/src/components/discussions/thread.tsx
  studio/src/components/discussions/toolbar.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/schema/sdl-viewer.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/discussions/[discussionId].tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/discussions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/discussions/[discussionId].tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/discussions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/schema.tsx
Labels: studio, controlplane, protocol, connect

#1732 fix: update the docs link of cache warmer
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/cache-operations.tsx
Labels: studio

#1740 fix: upgrade octokit for CVE-2025-25288
  controlplane/package.json
  pnpm-lock.yaml
Labels: monorepo, controlplane
