Repository wundergraph/cosmo, pull requests merged in 2025-01, with the labels that each got.

#1483 fix: use secure variant of id generator
  controlplane/src/core/services/ApiGenerator.ts
Labels: controlplane

#1428 feat: speed up router-tests
  .github/workflows/router-ci.yaml
  demo/pkg/subgraphs/availability/availability.go
  demo/pkg/subgraphs/availability/subgraph/resolver.go
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/employees/employees.go
  demo/pkg/subgraphs/employees/subgraph/employees.go
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/products.go
  demo/pkg/subgraphs/employees/subgraph/resolver.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/resolver.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/products.go
  demo/pkg/subgraphs/products/subgraph/facts.go
  demo/pkg/subgraphs/products/subgraph/resolver.go
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products_fg/products.go
  demo/pkg/subgraphs/products_fg/subgraph/facts.go
  demo/pkg/subgraphs/products_fg/subgraph/resolver.go
  demo/pkg/subgraphs/products_fg/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/subgraphs.go
  router-tests/Makefile
  router-tests/authentication_test.go
  router-tests/automatic_persisted_queries_test.go
  router-tests/complexity_limits_test.go
  router-tests/config_hot_reload_test.go
  router-tests/error_handling_test.go
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/file_upload_test.go
  router-tests/fuzzquery/fuzzquery_test.go
  router-tests/graphql_over_get_test.go
  router-tests/headers_test.go
  router-tests/integration_test.go
  router-tests/normalization_cache_test.go
  router-tests/normalization_test.go
  router-tests/persisted_operations_over_get_test.go
  router-tests/persisted_operations_test.go
  router-tests/query_plans_test.go
  router-tests/singleflight_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/pubsub.go
  router-tests/testenv/testenv.go
  router-tests/timeout_test.go
  router-tests/tls_test.go
  router-tests/utils.go
  router-tests/websocket_module_test.go
  router-tests/websocket_test.go
  router/core/http_server.go
Labels: router

#1480 feat: allow to conditionally block mutation via expressions
  router-tests/authentication_test.go
  router-tests/block_operations_test.go
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/persisted_operations_test.go
  router-tests/testenv/testenv.go
  router-tests/utils.go
  router-tests/websocket_test.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_blocker.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/expr/expr.go
  router/pkg/authentication/authentication.go
  router/pkg/authentication/http_header_authenticator.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/watcher/watcher_test.go
Labels: router

#1478 fix(router): ensure persisted operation hits both with and without op name
  router-tests/cache_warmup_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testdata/cache_warmup/json_po_multi_operations/graphql.json
  router/core/operation_processor.go
Labels: router

#1486 fix(expressions): avoid exposing more methods as desired
  router-tests/block_operations_test.go
  router-tests/testenv/testenv.go
  router/cmd/main.go
  router/core/router.go
  router/internal/expr/expr.go
Labels: router

#1452 feat(router): expose engine statistic metrics
  router-tests/prometheus_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/engine_metrics.go
  router/pkg/statistics/engine_stats.go
Labels: router

#1448 feat(router): remove default high cardinality attributes
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/attribute_mapper.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/pkg/config/config.schema.json
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
Labels: router

#1488 feat(jwk): upgrade JWK library, ensure tokens are validated, retry on network issues
  router-tests/authentication_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/jwks/jwks.go
  router-tests/modules/set_scopes_test.go
  router-tests/utils.go
  router-tests/websocket_test.go
  router/cmd/instance.go
  router/cmd/main.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/httpclient/retryableclient.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/pkg/authentication/authentication.go
  router/pkg/authentication/http_header_authenticator.go
  router/pkg/authentication/initial_payload_authenticator.go
  router/pkg/authentication/jwks_token_decoder.go
Labels: router

#1492 chore(router): incorrect metric config
  router/core/router.go
Labels: router

#1485 fix: use gauge metric type for router uptime metric
  controlplane/clickhouse/migrations/20250103184308_router_uptime_use_gauge.sql
  demo/go.mod
  demo/go.sum
  router-tests/telemetry/telemetry_test.go
  router/pkg/metric/router_runtime_metrics.go
Labels: controlplane, router

#1450 fix: add regex validation to graph names and routing urls
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect/src/wg/cosmo/common/common_pb.ts
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/monograph/createMonograph.ts
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/util.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/subgraph/create-subgraph.test.ts
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  proto/wg/cosmo/common/common.proto
  router/gen/proto/wg/cosmo/common/common.pb.go
  studio/src/components/create-graph.tsx
Labels: studio, controlplane, protocol, connect, router, graphqlmetrics, Stale

#1490 feat: return error when subgraphs return incompatible results
  demo/cmd/availability/main.go
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/events/nats_events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/subgraph_merge_results_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/config.json
  router/core/errors.go
  router/core/flushwriter.go
  router/core/graphql_handler.go
  router/go.mod
  router/go.sum
  router/pkg/graphqlschemausage/schemausage_test.go
Labels: router

#1493 fix: bump timeout in server to address responseheadertimeout flake
  router/core/timout_transport_test.go
Labels: router

#1476 feat: improve rate limiting with better customization
  router-tests/ratelimit_test.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/ratelimiter.go
  router/core/ratelimiter_test.go
  router/internal/expr/expr.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1497 feat: improve rate limit responses (add code, hide stats)
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/ratelimit_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/core/ratelimiter.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1500 fix: update the timeouts for clickhouse and platform service
  cli/src/core/client/client.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/plugins/clickhouse.ts
  controlplane/src/core/routes.ts
Labels: controlplane, cli

#1491 feat(router): implement cache warming from CDN source
  router-tests/cache_warmup_test.go
  router-tests/testenv/testdata/cdn/organization/graph/cache_warmup/operations.json
  router-tests/testenv/testenv.go
  router/core/cache_warmup_cdn.go
  router/core/graph_server.go
Labels: router

#1505 fix: add edfs to the demo environment
  docker-compose.yml
  router/.env.example
  router/demo.config.yaml
Labels: router

#1508 fix: full demo broken in main branch
  docker-compose.full.yml
  router/config.yaml
  router/full-demo.config.yaml
Labels: router

#1506 feat(router): optionally add jitter to config polling interval
  router/cmd/instance.go
  router/core/init_config_poller.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/configpoller/config_poller.go
  router/pkg/controlplane/poll.go
  router/pkg/controlplane/poll_test.go
Labels: router

#1509 fix(router): remove wildcard from router graphql path
  router-tests/graphql_over_get_test.go
  router-tests/graphql_over_http_test.go
  router/core/graph_server.go
Labels: router

#1510 fix: use gauge for server.uptime metric
  router-tests/telemetry/telemetry_test.go
  router/pkg/metric/router_runtime_metrics.go
Labels: router

#1513 fix(cache warmup): consider only po of the last 7 days
  controlplane/src/core/repositories/CacheWarmerRepository.ts
  demo-router.fly.toml
Labels: controlplane

#1515 fix(cache operation): swallow cache errors and other improvements
  controlplane/src/core/bufservices/analytics/getOperationContent.ts
  controlplane/src/core/repositories/CacheWarmerRepository.ts
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.proto
  router/core/graph_server.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  studio/src/components/cache/cache-details-sheet.tsx
  studio/src/components/code-viewer.tsx
Labels: studio, controlplane, protocol, router, graphqlmetrics

#1516 feat: add variables remapping support
  demo/go.mod
  demo/go.sum
  router-tests/cache_warmup_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/testenv/testdata/cache_warmup/simple/employee.gql
  router-tests/testenv/testdata/cdn/organization/graph/cache_warmup/operations.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/e24399f210ef3f16e6e5427a70bb9609ecea7297e99c3e9241d5912d04eabe60.json
  router/core/cache_warmup.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
Labels: router

#1517 fix(router): write proper line endings and header for multipart
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router/core/flushwriter.go
Labels: router

#1519 feat(router): optimize playground delivery, add concurrency_limit to config
  router-tests/testenv/testenv.go
  router/cmd/instance.go
  router/core/graph_server.go
  router/core/router.go
  router/internal/graphiql/playgroundhandler.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1529 fix(router): enable health checks during startup
  router-tests/structured_logging_test.go
  router-tests/testenv/testenv.go
  router/core/http_server.go
  router/core/router.go
Labels: router

#1530 feat: improve cache warmer
  controlplane/clickhouse/migrations/20250101213018_operation_planning_metrics_5_30_mv.sql
  controlplane/clickhouse/migrations/20250122211233_planning_time_exclude_cache_hits.sql
  controlplane/src/core/bufservices/cache-warmer/pushCacheWarmerOperation.ts
  controlplane/src/core/repositories/CacheWarmerRepository.ts
  controlplane/src/db/models.ts
  router-tests/cache_warmup_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testdata/cache_warmup/single/employees.gql
  router-tests/testenv/testenv.go
  router-tests/utils.go
  router/core/cache_warmup.go
  router/core/cache_warmup_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  studio/src/components/cache/operations-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/cache-operations.tsx
Labels: studio, controlplane, router

#1532 fix: remove semaphore from ResolveGraphQLSubscription
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1534 feat: add compatibility handshake between router and execution config
  composition-go/index.global.js
  composition/package.json
  composition/scripts/get-composition-version.mjs
  composition/src/index.ts
  composition/src/utils/composition-version.ts
  composition/tsconfig.json
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/core/router.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/pkg/execution_config/compatibility.go
  router/pkg/execution_config/compatibility_test.go
  shared/src/router-config/builder.ts
  shared/test/__snapshots__/router.config.test.ts.snap
Labels: protocol, connect, router

#1535 feat: also add handshake for static execution configs
  router/core/graph_server.go
  router/core/router.go
  router/pkg/execution_config/compatibility.go
  router/pkg/execution_config/compatibility_test.go
Labels: router

#1526 feat(router): add interface for trace propagation
  router-tests/modules/custom-trace-propagator/module.go
  router-tests/modules/custom_trace_propagator_test.go
  router/core/graph_server.go
  router/core/modules.go
  router/core/router.go
  router/pkg/trace/propagation.go
Labels: router

#1494 fix: adding/removing directive is not picked up by wgc subgraph check
  controlplane/migrations/0110_material_stephen_strange.sql
  controlplane/migrations/meta/0110_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/composition/schemaCheck.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/breaking-changes.test.ts
  pnpm-lock.yaml
Labels: monorepo, controlplane

#1538 chore(deps): upgrade ristretto to v2
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/core/graph_server.go
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
  router/internal/persistedoperation/operationstorage/cache.go
  router/pkg/metric/cache_metrics.go
Labels: router, graphqlmetrics

#1536 feat: add normalizedQuery to query plan and request info to trace
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name_sanitized_no_data.json
  router-tests/testdata/tracing.json
  router/core/context.go
  router/core/graphql_prehandler.go
  router/go.mod
  router/go.sum
Labels: router

#1543 fix: add copy button to subgraph routing url
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
Labels: studio

#1542 fix: webhooks shot when schema is unchanged
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
Labels: controlplane

#1544 fix: increase max concurrent resolvers
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
Labels: router

#1547 fix: set timeout to a higher value to avoid failure with slow computers
  router/core/timeout_transport.go
  router/core/timeout_transport_test.go
Labels: router

#1550 fix: reduce the breaking change retention duration
  controlplane/src/bin/billing.json
Labels: controlplane

#1551 fix: change the defaults of breaking-change-retention
  controlplane/src/core/repositories/OrganizationRepository.ts
  studio/src/pages/[organizationSlug]/usages.tsx
Labels: studio, controlplane

#1533 feat(router): enable starting the router without subgraphs
  demo/go.mod
  router-tests/fuzzquery/fuzzquery_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/testenv/testenv.go
  router-tests/testenv/testexec.go
  router/Makefile
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/client.go
  router/pkg/routerconfig/s3/client.go
Labels: router

#1549 fix(router): parse accept header per rfc 9110
  router-tests/persisted_operations_over_get_test.go
  router/core/flushwriter.go
  router/core/flushwriter_test.go
Labels: router

#1499 feat(router): enable using redis clusters for rate limiting and apq
  .github/workflows/router-ci.yaml
  docker-compose.yml
  docker/redis/redis-cluster-create.sh
  docker/redis/redis-cluster.conf
  router-tests/automatic_persisted_queries_test.go
  router-tests/ratelimit_test.go
  router/core/ratelimiter.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/internal/persistedoperation/apq/redis.go
  router/internal/persistedoperation/operationstorage/redis/rdcloser.go
  router/internal/persistedoperation/operationstorage/redis/rdcloser_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1552 fix: json schema for traffic shaping subgraphs
  router/pkg/config/config.schema.json
Labels: router

#1548 fix: subgraph timeout can't be bigger than global timeout
  router-tests/timeout_test.go
  router/core/factoryresolver.go
  router/core/timeout_transport.go
  router/core/timeout_transport_test.go
  router/core/transport.go
Labels: router

#1554 fix: error when graph token is not set when cache warmup is enabled
  router/cmd/main.go
  router/core/graph_server.go
  router/internal/jwt/claims.go
Labels: router
