Repository wundergraph/cosmo, pull requests merged in 2025-05, with the labels that each got.

#1789 fix: remove schema directives before in memory validation
  cli/src/commands/mcp/tools/utils/__tests__/schema.test.ts
  cli/src/commands/mcp/tools/utils/schema.ts
  cli/src/commands/mcp/tools/verify-query-against-in-memory-schema.ts
Labels: cli

#1823 fix: vite vulnerability
  cdn-server/cdn/package.json
  cli/package.json
  client-tests/apollo-js/package.json
  composition-go/index.global.js
  composition/package.json
  composition/tests/v1/external.test.ts
  controlplane/package.json
  package.json
  playground/package.json
  pnpm-lock.yaml
  shared/package.json
  studio/package.json
Labels: studio, monorepo, controlplane, cli

#1825 feat: expose mcp listen addr for full flexibility
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/server.go
Labels: router

#1829 fix: protect against mime type sniffing and clickjacking
  studio/next.config.mjs
Labels: studio

#1834 fix: update go tools
  router/go.mod
  router/go.sum
Labels: router

#1835 feat: add support for deprecated arguments in introspection
  router-tests/go.mod
  router-tests/go.sum
  router-tests/introspection_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router/go.mod
  router/go.sum
Labels: router

#1836 fix: make proposals a invite only feature
  controlplane/src/bin/billing.json
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/proposal/create-proposal.test.ts
  controlplane/test/proposal/proposal-schema-match.test.ts
  controlplane/test/proposal/update-proposal.test.ts
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/index.tsx
  studio/src/pages/[organizationSlug]/policies.tsx
Labels: studio, controlplane

#1837 fix: call safelisted operation after persisted one; feat: add file storage for persisted operations
  router-tests/cache_warmup_test.go
  router-tests/persisted_operations_test.go
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/9015ddfadd802bb378a14e48cea51e9bf9a07c7f8a71d85c56d7b104fea84937.json
  router/core/operation_processor.go
  router/core/router.go
  router/internal/persistedoperation/operationstorage/fs/client.go
Labels: router

#1803 feat: expose router version as a gauge value
  router-tests/cache_warmup_test.go
  router-tests/config_hot_reload_test.go
  router-tests/prometheus_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/graph_server.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Labels: router

#1826 chore(releases): upgrade lerna, dont create github releases for bump only
  .github/workflows/pr-title.yaml
  lerna.json
  package.json
  pnpm-lock.yaml
Labels: monorepo

#1833 feat(playground): add support for state sharing via URL with user control over what to include
  CONTRIBUTING.md
  README.md
  playground/src/components/playground/custom-scripts.tsx
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/package.json
  studio/src/__tests__/playground-url-state-encoding-decoding.test.ts
  studio/src/components/playground/custom-scripts.tsx
  studio/src/components/playground/share-playground-modal.tsx
  studio/src/components/playground/types.ts
  studio/src/hooks/use-hydrate-playground-state-from-url.ts
  studio/src/hooks/use-share-playground-modal.ts
  studio/src/lib/constants.ts
  studio/src/lib/playground-storage.ts
  studio/src/lib/playground-url-state-decoding.ts
  studio/src/lib/playground-url-state-encoding.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Labels: studio, monorepo, router

#1845 feat: add support for mcp base server url, upgrade mcp-go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_test.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/server.go
Labels: router

#1761 feat: allow to check new subgraphs
  cli/src/commands/subgraph/commands/check.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0121_optimal_quentin_quire.sql
  controlplane/migrations/0122_abandoned_molly_hayes.sql
  controlplane/migrations/meta/0121_snapshot.json
  controlplane/migrations/meta/0122_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/composition/schemaCheck.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Labels: studio, controlplane, cli, protocol, connect

#1847 feat: add posthog
  .github/actions/cli-build/action.yml
  .github/workflows/cli-binary-release.yaml
  .github/workflows/cli-ci.yaml
  cli/README.md
  cli/package.json
  cli/src/commands/index.ts
  cli/src/core/telemetry.ts
  cli/src/index.ts
  pnpm-lock.yaml
  studio/next.config.mjs
  studio/package.json
  studio/src/components/app-provider.tsx
  studio/src/components/user-menu.tsx
  studio/src/lib/posthog.ts
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
Labels: studio, monorepo, cli

#1850 fix: enhance telemetry opt-out logic to include missing POSTHOG_API_K…
  .github/workflows/release.yaml
  cli/src/core/telemetry.ts
Labels: cli

#1851 fix: update PostHog identification to allow cross-domain tracking
  studio/src/lib/track.ts
Labels: studio

#1796 feat: add demo configuration
  router-tests/integration_test.go
  router-tests/testenv/testenv.go
  router-tests/testenv/testexec.go
  router/cmd/instance.go
  router/core/init_config_poller.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/configpoller/config_poller.go
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/client.go
  router/pkg/routerconfig/s3/client.go
  studio/src/components/federatedgraphs-cards.tsx
Labels: studio, router

#1854 fix: posthog distinct id for identify
  studio/src/lib/track.ts
Labels: studio

#1855 chore: update wgc cli README
  cli/README.md
Labels: cli

#1857 fix: posthog cli env
  .github/actions/cli-build/action.yml
  .github/workflows/cli-binary-release.yaml
  .github/workflows/cli-ci.yaml
  .github/workflows/release.yaml
  cli/src/core/telemetry.ts
  package.json
Labels: monorepo, cli

#1859 fix: upgrade octokit, runc, esbuild to mitigate security issues
  cli/package.json
  controlplane/package.json
  demo/go.mod
  demo/go.sum
  package.json
  pnpm-lock.yaml
  router-tests/go.mod
  router-tests/go.sum
Labels: monorepo, controlplane, cli

#1858 fix: optimize identity call and track failure
  cli/src/core/config.ts
  cli/src/core/telemetry.ts
  cli/src/index.ts
Labels: cli

#1860 fix: check if CLI is connected to Cosmo Cloud
  cli/src/core/telemetry.ts
Labels: cli

#1865 fix: variables normalization
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Labels: router

#1856 feat: get all the operations of a federated graph
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/analytics/getOperations.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, protocol, connect

#1846 fix: cleanup router config version from metrics
  router-tests/prometheus_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/attribute_mapper.go
  router/core/graph_server.go
  router/core/request_context_fields.go
  router/core/websocket.go
  router/pkg/metric/meter.go
Labels: router

#1867 fix: checkFederatedGraph by filtering out subgraphs without schemas for composition
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  controlplane/test/check-federated-graph.test.ts
Labels: controlplane

#1746 feat(router): hot config reloading
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/lifecycle/supervisor_test.go
  router-tests/testenv/testenv.go
  router-tests/testenv/testexec.go
  router/cmd/main.go
  router/core/http_server.go
  router/core/router.go
  router/core/supervisor.go
  router/core/supervisor_instance.go
  router/debug.config.yaml
  router/internal/timex/duration.go
  router/internal/timex/duration_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_events_kafka_test.go
  router/pkg/config/config_events_nats_test.go
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/poll.go
  router/pkg/controlplane/poll_test.go
  router/pkg/logging/logging.go
Labels: router

#1871 chore: update release references, validate plugin version
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/plugin/templates/go-plugin.ts
  cli/src/commands/router/plugin/toolchain.ts
Labels: cli

#1873 fix: upgrade demo deps, upgrade vitest->vite->esbuild again
  demo/go.mod
  demo/go.sum
  package.json
  pnpm-lock.yaml
  router-tests/go.mod
Labels: monorepo

#1874 chore: remove enabled plugin config
  router-tests/lifecycle/supervisor_test.go
  router/core/graph_server.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1881 feat: add proper enabled config for plugins
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/plan_generator.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#1878 feat: plugin init should bootstrap fully functional project
  cli/src/commands/router/plugin/commands/init.ts
  cli/src/commands/router/plugin/commands/test.ts
  cli/src/commands/router/plugin/templates/go-plugin.ts
  cli/src/commands/router/plugin/templates/plugin.ts
  cli/src/commands/router/plugin/templates/project.ts
  cli/src/commands/router/plugin/toolchain.ts
  router/.gitignore
  router/__schemas/full-plugin-project.sh
  router/__schemas/plugin.sh
Labels: cli, router

#1862 feat: add new metric store with trace connection metrics
  router-tests/prometheus_improved_test.go
  router-tests/prometheus_test.go
  router-tests/telemetry/connection_metrics_test.go
  router-tests/testenv/testenv.go
  router/core/engine_loader_hooks.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/router.go
  router/core/trace_dialer.go
  router/core/transport.go
  router/internal/httpclient/traceclient.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/connection_measurements.go
  router/pkg/metric/connection_metric_store.go
  router/pkg/metric/connection_pool_stats.go
  router/pkg/metric/meter.go
  router/pkg/metric/noop_connection_metrics.go
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
  router/pkg/metric/prometheus_server.go
  router/pkg/otel/attributes.go
Labels: router

#1884 fix(wgc): cursor instructions for plugin http client usage
  cli/src/commands/router/plugin/templates/plugin.ts
Labels: cli

#1870 feat: add subgraph expressions and tracing attributes
  router-tests/prometheus_test.go
  router-tests/structured_logging_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testenv.go
  router/core/access_log_field_handler_test.go
  router/core/attribute_expressions.go
  router/core/attribute_expressions_test.go
  router/core/batch_test.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/ratelimiter.go
  router/core/request_context_fields.go
  router/core/router.go
  router/core/supervisor_instance.go
  router/core/transport.go
  router/internal/expr/expr.go
  router/internal/expr/expr_test.go
  router/internal/expr/uses_subgraph.go
  router/internal/expr/uses_subgraph_test.go
  router/internal/expr/uses_subgraph_trace.go
  router/internal/expr/uses_subgraph_trace_test.go
  router/internal/expr/visitor_group.go
  router/internal/requestlogger/requestlogger.go
  router/internal/requestlogger/subgraphlogger.go
  router/internal/traceclient/traceclient.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/noop_connection_metrics.go
Labels: router

#1887 feat(cli): improve cursor rules
  cli/src/commands/router/plugin/commands/init.ts
  cli/src/commands/router/plugin/templates/plugin.ts
Labels: cli

#1889 fix: use ms measurements instead of float seconds for conn_acquire_time
  router-tests/telemetry/connection_metrics_test.go
  router/internal/traceclient/traceclient.go
  router/pkg/metric/connection_measurements.go
Labels: router

#1895 feat: improve available namespaces
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0124_fancy_greymalkin.sql
  controlplane/migrations/meta/0124_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/bin/migrate-groups.ts
  controlplane/src/core/bufservices/organization/createOrganizationGroup.ts
  controlplane/src/core/bufservices/organization/deleteOrganizationGroup.ts
  controlplane/src/core/bufservices/organization/updateOrganizationDetails.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/NamespaceRepository.ts
  controlplane/src/core/repositories/OrganizationGroupRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/RBACEvaluator.ts
  controlplane/src/core/test-util.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/namespace/get-namespaces.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/group-select.tsx
  studio/src/components/member-groups/delete-group-dialog.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
Labels: studio, controlplane, protocol, connect

#1897 fix(mcp): enable PING events by default to prevent proxy timeouts
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/mcpserver/server.go
Labels: router

#1899 feat: fallback to legacy read access check for api keys
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/NamespaceRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/RBACEvaluator.ts
Labels: controlplane

#1894 feat: fetch operations based on clients
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/analytics/getOperations.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, protocol, connect

#1877 fix: detach fetches from objects, serial mutations execution, remove fetch id from operation name
  router-tests/go.mod
  router-tests/go.sum
  router-tests/query_plans_test.go
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name_sanitized_no_data.json
  router/go.mod
  router/go.sum
Labels: router, query-planner

#1908 feat: restore legacy support for check endpoints
  controlplane/src/core/bufservices/cache-warmer/pushCacheWarmerOperation.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/generateRouterToken.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/errors/errors.ts
  controlplane/src/core/services/RBACEvaluator.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/graph-pruning.test.ts
  controlplane/test/oidc-provider.test.ts
  controlplane/test/organization-groups.test.ts
  controlplane/test/rbac-evaluator.test.ts
Labels: controlplane

#1917 feat: fix subgraphs being displayed multiple times when they have bee…
  controlplane/src/core/bufservices/user/getUserAccessibleResources.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/subgraph/get-subgraphs.test.ts
Labels: controlplane
