Repository wundergraph/cosmo, pull requests merged in 2025-07, with the labels that each got.

#1988 fix(router): preserve HTTP status in WriteResponseError
  router-tests/modules/auth_deny_test.go
  router-tests/modules/custom-auth-deny/module.go
  router/core/modules.go
Labels: router

#2001 fix: fix checking presence of type fragment mapped to interface object
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#2000 feat: status code derived fallback errors
  router-tests/error_handling_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#2017 fix: fix collecting representation for fetches scoped to concrete types
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#1929 feat: circuit breaker implementation
  router-tests/circuit_breaker_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testenv.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/graph_server_test.go
  router/core/router.go
  router/core/router_config.go
  router/core/router_test.go
  router/core/supervisor_instance.go
  router/core/transport.go
  router/go.mod
  router/go.sum
  router/internal/circuit/breaker.go
  router/internal/circuit/manager.go
  router/internal/circuit/manager_test.go
  router/internal/context/keys.go
  router/internal/traceclient/traceclient.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/circuitbreaker.go
  router/pkg/metric/config.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Labels: router

#2033 feat(cli): add wgc grpc-service list-templates & init
  cli/package.json
  cli/src/commands/grpc-service/commands/generate.ts
  cli/src/commands/grpc-service/commands/init.ts
  cli/src/commands/grpc-service/commands/list-templates.ts
  cli/src/commands/grpc-service/index.ts
  cli/test/grpc-service.test.ts
  pnpm-lock.yaml
Labels: monorepo, cli

#2036 fix: security updates
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/availability/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/availability/subgraph/generated/generated.go
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/model/models_gen.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/family/subgraph/generated/generated.go
  demo/pkg/subgraphs/family/subgraph/model/models_gen.go
  demo/pkg/subgraphs/family/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/hobbies/subgraph/generated/generated.go
  demo/pkg/subgraphs/hobbies/subgraph/model/models_gen.go
  demo/pkg/subgraphs/hobbies/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/generated/generated.go
  demo/pkg/subgraphs/mood/subgraph/model/models_gen.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/generated/generated.go
  demo/pkg/subgraphs/products_fg/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products_fg/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/entity.resolvers.go
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#2047 feat: support nullable types and composite types
  demo/pkg/subgraphs/projects/cmd/service/main.go
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/data/employee.go
  demo/pkg/subgraphs/projects/src/data/milestones.go
  demo/pkg/subgraphs/projects/src/data/products.go
  demo/pkg/subgraphs/projects/src/data/project_updates.go
  demo/pkg/subgraphs/projects/src/data/projects.go
  demo/pkg/subgraphs/projects/src/data/tasks.go
  demo/pkg/subgraphs/projects/src/main_test.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Labels: router

#2053 fix: fix merging fetches and add dependencies update
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router, query-planner

#2054 fix: update router go-chi version
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
Labels: aws-lambda-router

#2006 feat(router): add nonroot router docker image
  .github/actions/build-push-image/action.yaml
  .github/workflows/router-ci.yaml
  router/Dockerfile
Labels: router

#2052 fix(studio): fix broken doc links
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/schema/empty-schema-state.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/changelog/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/schema.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/webhooks.tsx
Labels: studio

#1957 fix(router): provide request context of original WebSocket Upgrade request to subgraph requests
  router-tests/websocket_test.go
  router/core/websocket.go
Labels: router

#2073 fix: fix merging inline fragment and field selections together
  router-tests/go.mod
  router-tests/go.sum
  router/Makefile
  router/go.mod
  router/go.sum
Labels: router, query-planner

#2077 fix: improve gzip request decompression middleware
  router/core/graph_server.go
  router/internal/middleware/compression.go
  router/internal/middleware/compression_test.go
  router/internal/middleware/request_size_test.go
Labels: router

#2082 fix: json schema
  router/pkg/config/config.schema.json
Labels: router

#2084 fix(router): file mode duplicated prefix
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Labels: router

#2074 feat: add audience validation
  router-tests/authentication_test.go
  router/core/supervisor_instance.go
  router/pkg/authentication/authentication.go
  router/pkg/authentication/jwks_token_decoder.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_full.json
Labels: router

#2088 feat: handle nested and nullable lists
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/data/employee.go
  demo/pkg/subgraphs/projects/src/data/milestones.go
  demo/pkg/subgraphs/projects/src/data/products.go
  demo/pkg/subgraphs/projects/src/data/projects.go
  demo/pkg/subgraphs/projects/src/data/tasks.go
  demo/pkg/subgraphs/projects/src/main_test.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  protographic/SDL_PROTO_RULES.md
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Labels: router

#2085 fix: impose limit on origin length when CORS is enabled with a wildcard
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
  router/pkg/cors/wildcard.go
  router/pkg/cors/wildcard_test.go
Labels: router

#2091 fix: fix parent node jump lookup
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Labels: router

#2094 fix: ensure subgraph operation name is unique
  router-tests/go.mod
  router-tests/go.sum
  router-tests/integration_test.go
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/testdata/fixtures/query_plans/response_with_query_plan_operation_name_sanitized_no_data.json
  router/go.mod
  router/go.sum
  router/pkg/config/config.schema.json
Labels: router, query-planner

#2095 fix: take limit as input so the no of operations returned is always limited
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/analytics/getOperations.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
Labels: controlplane, protocol, connect
